{% comment %}

Mockup barplot

{% endcomment %}

<style>
    .placeholder.list { height: .5em; }
    .placeholder.list.bullet { width: .5em; }
    .placeholder.rectangle { height: 60px; }

    .w-25 { width: 25px; }
    .w-30 { width: 30px; }
    .w-40 { width: 40px; }
    .w-45 { width: 45px; }
    .w-50 { width: 50px; }
    .w-60 { width: 60px; }
    .w-65 { width: 65px; }
    .w-80 { width: 80px; }
    .w-90 { width: 90px; }
</style>

<div class="row">
    <div class="col-auto">
        <!-- Filter 1 -->
        <span class="placeholder list w-80"></span>
        <br />

        <span class="placeholder list bullet"></span>
        <span class="placeholder list w-60"></span>
        <br />

        <span class="placeholder list bullet"></span>
        <span class="placeholder list w-30"></span>
        <br />

        <span class="placeholder list bullet"></span>
        <span class="placeholder list w-50"></span>
        <br />

        <!-- Filter 2 -->
        <span class="placeholder list w-65 mt-5 mb-1"></span>
        <br />

        <span class="placeholder list bullet"></span>
        <span class="placeholder list w-45"></span>
        <br />

        <span class="placeholder list bullet"></span>
        <span class="placeholder list w-35"></span>
        <br />

        <span class="placeholder list bullet"></span>
        <span class="placeholder list w-40"></span>
        <br />

        <span class="placeholder list bullet"></span>
        <span class="placeholder list w-25"></span>
        <br />
    </div>
    <div class="col-auto">
        <span class="placeholder rectangle m-1 w-90"></span>
        <span class="placeholder rectangle m-1 w-90"></span>
        <span class="placeholder rectangle m-1 w-90"></span>
        <br />

        <span class="placeholder rectangle m-1 w-90"></span>
        <span class="placeholder rectangle m-1 w-90"></span>
        <span class="placeholder rectangle m-1 w-90"></span>
        <br />

        <span class="placeholder rectangle m-1 w-90"></span>
        <span class="placeholder rectangle m-1 w-90"></span>
        <span class="placeholder rectangle m-1 w-90"></span>
        <br />

        <span class="placeholder rectangle m-1 w-90"></span>
        <span class="placeholder rectangle m-1 w-90"></span>
    </div>
</div>
