{% comment %}

Mockup barplot

{% endcomment %}

<div class="row">
    <div class="col-auto">

        <!-- Filter 1 -->
        <span class="placeholder" style="height: .5em; width: 80px;"></span></br>

        <span class="placeholder" style="height: .5em; width: .5em;"></span>
        <span class="placeholder" style="height: .5em; width: 60px;"></span></br>

        <span class="placeholder" style="height: .5em; width: .5em;"></span>
        <span class="placeholder" style="height: .5em; width: 40px;"></span></br>

        <span class="placeholder" style="height: .5em; width: .5em;"></span>
        <span class="placeholder" style="height: .5em; width: 50px;"></span></br>

        <!-- Filter 2 -->
        <span class="placeholder mt-5 mb-1" style="height: .5em; width: 65px;"></span></br>

        <span class="placeholder" style="height: .5em; width: .5em;"></span>
        <span class="placeholder" style="height: .5em; width: 45px;"></span></br>

        <span class="placeholder" style="height: .5em; width: .5em;"></span>
        <span class="placeholder" style="height: .5em; width: 35px;"></span></br>

        <span class="placeholder" style="height: .5em; width: .5em;"></span>
        <span class="placeholder" style="height: .5em; width: 40px;"></span></br>

        <span class="placeholder" style="height: .5em; width: .5em;"></span>
        <span class="placeholder" style="height: .5em; width: 25px;"></span></br>
    </div>

    <div class="col-auto">
        <span class="placeholder m-1" style="height: 60px; width: 90px;"></span>
        <span class="placeholder m-1" style="height: 60px; width: 90px;"></span>
        <span class="placeholder m-1" style="height: 60px; width: 90px;"></span></br>

        <span class="placeholder m-1" style="height: 60px; width: 90px;"></span>
        <span class="placeholder m-1" style="height: 60px; width: 90px;"></span>
        <span class="placeholder m-1" style="height: 60px; width: 90px;"></span></br>

        <span class="placeholder m-1" style="height: 60px; width: 90px;"></span>
        <span class="placeholder m-1" style="height: 60px; width: 90px;"></span>
        <span class="placeholder m-1" style="height: 60px; width: 90px;"></span></br>

        <span class="placeholder m-1" style="height: 60px; width: 90px;"></span>
        <span class="placeholder m-1" style="height: 60px; width: 90px;"></span>
    </div>
</div>