# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
**/data
app/static/app/js
app/static/app/images/logos/BCA/PNG/*
app/static/app/images/logos/BCA/EPS/*
htmlcov

# Postgres
.pg_service.conf
.pgpass
/pg_backup

# Backup files
*.bak
.DS_Store
*.RDS

# Linters
super-linter-output
node_modules
.coverage

# SSL certificates
*.crt
*.key

# Environment
.ackrc
.env*
.venv
!.env.template
source/
