# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Backup files
*.bak
.DS_Store
*.RDS
**/data
app/static/app/images/logos/BCA/PNG/*
app/static/app/images/logos/BCA/EPS/*

# Environment
.env*
!.env.template
/pg_backup
/source
.ackrc

# Linters
/super-linter-output
.lintr
/node_modules
package*.json

