Django==5.2.11
django-colorfield==0.14.0
gunicorn==23.0.0
h5py==3.15.1

# Blog parsing
beautifulsoup4==4.14.3
feedparser==6.0.12

# Documentation pages
mistune==3.2.0
Pygments==2.19.2
python-frontmatter==1.1.0

# REST
djangorestframework==3.16.1
django-filter==25.2
drf-spectacular==0.29.0
drf-orjson-renderer==1.8.0

# Monitoring
django-prometheus==2.4.1

# dev
coverage==7.13.2
django-debug-toolbar==6.1.0
django-extensions==4.1
djlint==1.36.4
pandas==3.0.0
psutil==7.2.2
psycopg2==2.9.11
rds2py==0.8.1
scipy==1.17.0
