Django==5.2.2
django-colorfield==0.14.0
gunicorn==23.0.0

mistune
pygments

# REST
djangorestframework==3.16.1
django-filter==25.1
drf-spectacular==0.28.0

# dev
django-debug-toolbar==5.2.0
django-extensions==4.1
pandas==2.3.1
psutil==7.0.0
psycopg2==2.9.10
rds2py==0.7.3
scipy==1.15.3
