<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title|default:"BCA: Data Portal API" }}</title>

        <meta name="description"
              content="Programmatic access to Biodiversity Cell Atlas data.">
        <meta name="keywords"
              content="API, Biodiversity, Cell Atlas, BCA, Genomics, Data Access, REST, JSON, Documentation">

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="apple-mobile-web-app-title" content="BCA" />

        <script src="{{ js_dist }}"></script>
        <link rel="stylesheet" href="{{ css_dist }}">

        <!-- External CSS libraries -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'app/js/index.css' %}">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'app/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'rest/css/base.css' %}">

        {% include "favicons.html" %}
    </head>
    <body>
        <elements-api apiDescriptionUrl="{{ schema_url }}" router="hash" layout="responsive" hideSchemas="true" logo="{% static 'app/images/favicons/favicon.svg' %}" />
    </body>
</html>
