{% extends "base.html" %}

{% comment %}

About the project

Features:
- The page displays the most recent update date of this file using a custom
  Django tag `{% file_last_modified %}`

{% endcomment %}

{% block title %}About{% endblock title %}

{% block content %}

<h1 class="h3" id="about">About us</h1>

<p>The Biodiversity Cell Atlas is a coordinated international effort aimed at molecularly characterizing cell types across the eukaryotic tree of life. Our mission is to pave the way for the efficient expansion of cell atlases to hundreds of species.</p>

<h1 class="h3" id="contact">Contact us</h1>

<p>Contact us at <a href="https://crg.eu" target="_blank">Centre for Genomic Regulation (CRG)</a>.</p>

<h1 class="h3" id="media">Media kit</h1>

{% load static %}
<div class="row">
	<div class="col-6 col-md-5 col-lg-4 col-xl-3 d-flex justify-content-center">
		<a href="{% static 'app/images/logos/BCA/PNG/BCALogotypeDesign_2024_Primary_Logo_Color.png' %}" target="_blank">
			<img title="Biodiversity Cell Atlas" height="120"
			class="rounded"
			src="{% static 'app/images/logos/BCA/BCALogotypeDesign_2024_Primary_Logo_Color.svg' %}">
		</a>
	</div>
	<div class="col-3 col-lg-2 d-flex justify-content-center">
		<a href="{% static 'app/images/logos/BCA/PNG/BCALogotypeDesign_2024_Secondary_Logo_Color.png' %}" target="_blank">
			<img title="Biodiversity Cell Atlas" height="120"
			class="rounded"
			src="{% static 'app/images/logos/BCA/BCALogotypeDesign_2024_Secondary_Logo_Color.svg' %}">
		</a>
	</div>
	<div class="col-3 col-lg-2 d-flex justify-content-center">
		<a href="{% static 'app/images/logos/BCA/PNG/BCALogotypeDesign_2024_Seal_Logo_Color.png' %}" target="_blank">
			<img title="Biodiversity Cell Atlas" height="120"
			class="rounded"
			src="{% static 'app/images/logos/BCA/BCALogotypeDesign_2024_Seal_Logo_Color.svg' %}">
		</a>
	</div>
</div>
<div class="row">
	<div class="col-6 col-md-5 col-lg-4 col-xl-3 d-flex justify-content-center">
		<a href="{% static 'app/images/logos/BCA/PNG/BCALogotypeDesign_2024_Primary_Logo_Black.png' %}" target="_blank">
			<img title="Biodiversity Cell Atlas" height="120"
			class="rounded"
			src="{% static 'app/images/logos/BCA/BCALogotypeDesign_2024_Primary_Logo_Black.svg' %}">
		</a>
	</div>
	<div class="col-3 col-lg-2 d-flex justify-content-center">
		<a href="{% static 'app/images/logos/BCA/PNG/BCALogotypeDesign_2024_Secondary_Logo_Black.png' %}" target="_blank">
			<img title="Biodiversity Cell Atlas" height="120"
			class="rounded"
			src="{% static 'app/images/logos/BCA/BCALogotypeDesign_2024_Secondary_Logo_Black.svg' %}">
		</a>
	</div>
	<div class="col-3 col-lg-2 d-flex justify-content-center">
		<a href="{% static 'app/images/logos/BCA/PNG/BCALogotypeDesign_2024_Seal_Logo_Black.png' %}" target="_blank">
			<img title="Biodiversity Cell Atlas" height="120"
			class="rounded"
			src="{% static 'app/images/logos/BCA/BCALogotypeDesign_2024_Seal_Logo_Black.svg' %}">
		</a>
	</div>
</div>
<div class="row">
	<div class="col-6 col-md-5 col-lg-4 col-xl-3 d-flex justify-content-center">
		<a href="{% static 'app/images/logos/BCA/PNG/BCALogotypeDesign_2024_Primary_Logo_White.png' %}" target="_blank">
			<img title="Biodiversity Cell Atlas" height="120"
			class="rounded"
			src="{% static 'app/images/logos/BCA/BCALogotypeDesign_2024_Primary_Logo_White.svg' %}"
			style="background-color: var(--primary-color);">
		</a>
	</div>
	<div class="col-3 col-lg-2 d-flex justify-content-center">
		<a href="{% static 'app/images/logos/BCA/PNG/BCALogotypeDesign_2024_Secondary_Logo_White.png' %}" target="_blank">
			<img title="Biodiversity Cell Atlas" height="120"
			class="rounded"
			src="{% static 'app/images/logos/BCA/BCALogotypeDesign_2024_Secondary_Logo_White.svg' %}"
			style="background-color: var(--primary-color);">
		</a>
	</div>
	<div class="col-3 col-lg-2 d-flex justify-content-center">
		<a href="{% static 'app/images/logos/BCA/PNG/BCALogotypeDesign_2024_Seal_Logo_White.png' %}" target="_blank">
			<img title="Biodiversity Cell Atlas" height="120"
			class="rounded"
			src="{% static 'app/images/logos/BCA/BCALogotypeDesign_2024_Seal_Logo_White.svg' %}"
			style="background-color: var(--primary-color);">
		</a>
	</div>
</div>

<p class="mt-3">BCA logo by <a href="https://joanaccarvalho.com" target="_blank">Joana C. Carvalho</a>. Free to use with mandatory attribution. Modification not allowed.</p>

<h1 class="h3" id="legal">Legal and privacy information</h1>

<p>Please read our <a href="{% url 'legal' %}">Legal Notice & Privacy Policy</a> and <a href="{% url 'cookies' %}">Cookies policy</a>.</p>

<h1 class="h3" id="licenses">Licenses</h1>

<p>Icons by <a href="https://fontawesome.com/license/free" target="_blank">Font Awesome</a>.</p>

{% load custom_tags %}
<p style="text-align: right;"><i>
	Last updated:
	<b>{% file_last_modified "app/templates/app/about/about.html" "%d %b %Y" %}</b>
</i></p>

{% endblock content %}