{% comment %}

CRG information

{% endcomment %}

<address>
<dl class="row">
  	<dt class="col-sm-4 col-md-3 col-xl-2">Name</dt>
  	<dd class="col-sm-8 col-md-9 col-xl-10">
  		<a href="https://crg.eu" target="_blank">
  			Fundació Centre de Regulació Genòmica
  		</a>
  	</dd>

  	<dt class="col-sm-4 col-md-3 col-xl-2">Address</dt>
  	<dd class="col-sm-8 col-md-9 col-xl-10">
  		Carrer Doctor Aiguader 88, 5ª planta, 08003 - Barcelona
  	</dd>

  	<dt class="col-sm-4 col-md-3 col-xl-2">Phone</dt>
  	<dd class="col-sm-8 col-md-9 col-xl-10">
  	  <a href="tel:+34933160100">+34 93 316 01 00</a>
  	</dd>

  	<dt class="col-sm-4 col-md-3 col-xl-2">Email</dt>
  	<dd class="col-sm-8 col-md-9 col-xl-10">
  		<a href="mailto:comunicacio@crg.eu">comunicacio@crg.eu</a>
  	</dd>

  	<dt class="col-sm-4 col-md-3 col-xl-2">Data Protection Officer</dt>
  	<dd class="col-sm-8 col-md-9 col-xl-10">
  		<a href="mailto:dpo@crg.eu">dpo@crg.eu</a>
  	</dd>
</dl>
</address>