{% extends "base.html" %}

{% comment %}

Legal notice and privacy policy

Features:
- The page displays the most recent update date of this file using a custom
  Django tag `{% file_last_modified %}`

{% endcomment %}

{% block title %}Legal Notice & Privacy Policy{% endblock title %}

{% block content %}

<h1 class="h3 pb-3">Legal Notice & Privacy Policy</h1>

<h2 class="h4">Legal information</h2>

<p>The CRG is an international biomedical research institute of excellence, whose mission is to discover and progress towards knowledge for the benefit of society, public health and economic prosperity.</p>

<h2 class="h4">Terms and Conditions of Use</h2>

<p>By accessing this website, you as user accept its terms and conditions of use, which are set forth in all its legal notes and policies covering data protection, intellectual property, security measures and applicable jurisdiction. You, as user, therefore access this site at your own risk, and are yourself responsible for employing proper measures to avoid these risks.</p>

<p>Links to pages with illegal or defamatory content, or to any others offering information that is false or prejudicial to the CRG or its partner organisations are strictly prohibited.</p>

<p>The CRG revises and updates the information contained on this site but does not guarantee that the information is accurate. It therefore accepts no responsibility or liability for any harm or damage arising from decisions taken on the basis of information extracted from the content published on this website.</p>

<h2 class="h4">Personal Data Protection</h2>

<p>The personal data we collect will be processed by <b>Fundació Centre de Regulació Genòmica ("CRG")</b>, whose contact information is detailed below:</p>

{% include './crg_info.html' %}

<p>Applicable data protection legislation imposes a number of obligations and also establishes the rights of persons with regard to personal data protection. To properly understand and, as the case may be, exercise any rights you may enjoy, as a user of this website you must carefully ready this notice and the other legal notes featured on it.</p>

<p>The CRG reserves the right to modify this notice to bring it into line with changes in legislation or case law and with industry developments and practices. In both cases, due advance notice shall be provided on this site of any changes to be made to our data protection policy and when these shall become fully enforceable.</p>

<p>Data of a personal nature is defined as any information on identified or identifiable individuals.</p>

<p>The only personal data to which the CRG shall have access shall be that supplied by users themselves and of whose assignment they have been duly informed. All users have to realise that they must supply certain information in order for the CRG to provide the service requested and/or to carry on its principal or subsidiary activities.</p>

<p>You as user warrant that the personal data you provide to the CRG is accurate and undertake to inform the company of any change thereto.</p>

<p>The purpose of the gathering and processing of personal data is to maintain the relationship established, as the case may be, by the management, administration, provision, broadening and improvement of the services and/or activities which you as user decide to access and, in case you accept, for sending information about the services and activities of the CRG. Consequently, the legal basis of the processing is the provision of the contracted service or activity of your interest and, with respect to cookies and commercial communications, your consent.</p>

<p>Personal data will only be processed for as long as it is necessary, useful and relevant. Once the relationship is finalized, the data will be kept for the sole purpose of and for the time necessary to comply with the applicable legal obligations (ten years in the case of information linked to your user account, and three years for commercial communications). Only those third parties to whom it is legally obliged to provide them and companies that have been entrusted with internal management services of the company and, in particular, IT services, audits, training services or organization of events, will have access to them.</p>

<p>Likewise, the following rights may be exercised, in the terms established by the regulations in force: rights of access, rectification or deletion of data, as well as request the limitation of the processing of your personal data, oppose to it, or request the portability of your data, by directing a postal communication to the address indicated above or electronically to <a href="mailto:dpo@crg.eu">dpo@crg.eu</a>. In any case, the affected party has the right to file a claim with the Spanish Agency for Data Protection in relation to the treatment carried out by CRG.</p>

<h2 class="h4">Security on the ‘NET</h2>

<p>In particular, the CRG employs security systems that, by using certification and encryption systems, allow for the checking of the authenticity of foundation website from which personal data is gathered, as well as the integrity and confidentiality of your personal data during its transmission.</p>

<p>Nevertheless, you as user should be aware that Internet security measures are not invulnerable. You are therefore notified and warned by means hereof that such Internet-based measures are not infallible and that, consequently, the CRG accepts no responsibility or liability for practices in which you as user do not assume the proper level of security nor due diligence, nor for the consequences thereof. Given all of this, we recommend that all users exercise the very greatest diligence in this regard and that they employ all the security mechanisms at their disposal.</p>

<h2 class="h4">Intellectual Property</h2>

<ol>
	<li>
		All content and graphics (images, sounds, texts, logos, source code, etc.) forming part of this site are the exclusive property of the CRG or of third parties identified on the site that have authorised their use by the CRG, and so are protected by Spain’s current Intellectual Property Act, approved by Royal Legislative Decree 1/1996, with the exceptions provided for in Article 13 thereof.
	</li>
	<li>
		Access to intellectual property content by users does not imply the transfer of any entitlement thereover. In this regard, any use or reproduction by users of said content or of any that may be included in the future must be carried out in accordance with the provisions and within the limits of the aforementioned legislation.
	</li>
	<li>
		More specifically, any reproduction (except for private use), transformation, distribution, public communication, making available to the public or any other exploitation of this website’s content is strictly prohibited without the written consent of its owner. To this end, the interested party must write to the CRG, by conventional mail FAO The Technology Transfer Department, calle Doctor Aiguader 88, Barcelona, Spain, or by email to the following email address: <a href="mailto:tech-transfer@crg.eu">tech-transfer@crg.eu</a>
	</li>
	<li>
		Nor may links be made to this website without the consent of its owner, and only links to its home page shall be permitted. To establish any link to said page from any other  webpage, the consent of the foundation’s management must be sought by writing to the Legal Department, calle Doctor Aiguader 88, Barcelona or by email to the following email address: <a href="mailto:rrhh@crg.eu">rrhh@crg.eu</a>
	</li>
</ol>

<h2 class="h4">Applicable Jurisdiction</h2>

<p>To resolve any issue, disagreement, dispute or problem that may arise with regard to the interpretation and application of and compliance with this policy you, as user, expressly waive any other jurisdiction that may be applicable to you and, without prejudice to any statutory jurisdiction, voluntarily and expressly submit yourself to the jurisdiction of the Courts and Tribunals of the city of Barcelona.</p>

<br>

{% load custom_tags %}
<p style="text-align: right;"><i>Last updated: <b>{% file_last_modified "." "%d %b %Y" %}</b></i></p>

{% endblock content %}