{% comment %}

Atlas selection dropdown and tab navigation for Cell Atlas

Features:
- Allows user to search species by nomenclature and metadata (including taxonomic ranks)
- Atlas selection dropdown is initially invisible to prevent Flash of Unstyled Content (FOUC)
- Upon species selection, the user is redirected to that species page
- Navigation tabs redirect to different views for the selected species
- When no species is selected, mockup is shown and navigation tabs are disabled

Input:
- species_dict: dictionary of arrays of species grouped by their phylum

{% endcomment %}

<!-- Make select invisible and with margin of 30px to avoid Flash Of Unstyled Content (FOUC) -->
<div class="container-xxl">
    <select id="species-select" class="mb-2 atlas-select"
    style="margin-bottom: 31px !important; visibility: hidden;"
    placeholder="Search species by nomenclature, taxonomic rank, division, ...">
        <option value=""></option>
        {% for phylum, species_list in species_dict.items %}
            <optgroup label="{{ phylum }}">
            {% for elem in species_list %}
                <option value="{{elem.species.species_underscore}}" data-meta="{{elem.meta|join:','}}" data-image="{{elem.species.image_url}}" data-name="{{elem.species.common_name}}" {% if species == elem.species %}selected{%endif%}>{{ elem.species.scientific_name }}</option>
            {% endfor %}
            </optgroup>
        {% endfor %}
    </select>
</div>

<!-- Species selection: selectize.js JavaScript options -->
<script>
$(function () {
    $("#species-select").selectize({
        onChange: function(value) {
            // Jump to species page upon selection
    	    if (value !== "" && value !== '{{species.species_underscore}}') {
    	        // Avoid jumping if value is empty or matches current species
    			window.location.href =
    			    {% if request.resolver_match.view_name == 'atlas' %}
    			        "{% url 'atlas_info' '::arg' %}".replace('::arg', value)
    			    {% else %}
    			        "{% url request.resolver_match.view_name '::arg' %}".replace('::arg', value)
    			    {% endif %};
    		}
		},
		onDropdownOpen: function() {
		    this.clear();
		    setTimeout(() => {
		        var species = '{{species.species_underscore}}';
                if (species) {
                    var current = this.getOption(species);
                    this.setActiveOption(current);
                }
            }, 10);
		},
		onBlur: function() {
		    // Set current species if no value is selected
            if (!this.getValue()) {
                this.setValue('{{species.species_underscore}}');
            }
        },
		onType: function(str) {
		    $('.highlight').closest('.species-meta').css('display', 'inline-block');
		},
		render: {
            item: function (item, escape) {
                // Display common name if different than species name
                description = '';
                if (item.name !== item.text) {
                    description = ` <span class="text-muted"><small>${item.name}</small></span>`;
                }
                return `<div class='option'><img src="${item.image}" style="width: 20px;"> <i>${item.text}</i>${description}</div>`;
            },
            option: function (item, escape) {
                // Display common name if different than species name
                description = '';
                if (item.name !== item.text) {
                    description = ` <span class="text-muted"><small>${item.name}</small></span>`;
                }

                // Add metadata (only visible when matching user query)
                var meta_array = item.meta.split(',');
                badges = '';
                for(var i = 0; i < meta_array.length; i++) {
                    var elem = meta_array[i];
                    if (elem && !item.name.includes(elem) && !item.text.includes(elem)) {
                        span = '<span class="species-meta badge rounded-pill text-bg-secondary">';
                        badges += ` ${span}<small>${meta_array[i]}</small></span>`;
                    }
                }
                var img = item.image === "None" ? "" : item.image;
                return `<div class='option'><img src="${img}" style="width: 20px;"> <i>${item.text}</i>${description}${badges}</div>`;
            }
        },
        searchField: ['text', 'meta', 'optgroup', 'name'],
        plugins: {
            optgroup_columns: {
                equalizeWidth: false,
                equalizeHeight: false
            }
        }
    });
});
</script>

<!-- Subnavbar to navigate the Cell Atlas -->
{% with request.resolver_match.url_name as url_name %}
<div class="subnavbar sticky-top py-1">
    <div class="container-xxl">
        <ul class="nav nav-pills small d-md-none">
            <li class="nav-item">
                <a class="nav-link p-2 small" data-bs-toggle="offcanvas"
                href="#offcanvas" role="button">
                    <i class="fa fa-ellipsis-vertical fa-fw"></i>
                    Show Cell Atlas sections
                </a>
            </li>
        </ul>

        <div class="offcanvas-md offcanvas-start" tabindex="-1" id="offcanvas"
        aria-labelledby="bdSidebarOffcanvasLabel">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">
                    Cell Atlas
                </h5>
                <button type="button" class="btn-close"
                data-bs-dismiss="offcanvas" aria-label="Close"
                data-bs-target="#offcanvas"></button>
            </div>

            <div class="offcanvas-body">
                <ul class="nav nav-pills small flex-column flex-md-row">
                    <li class="nav-item">
                        <a class="nav-link p-2
                        {% if url_name in 'atlas,atlas_info' %}active{% endif %}
                        {% if not species %}disabled{% endif %}"
                        href="
                        {% if url_name in 'atlas,atlas_info' %}
                            #top
                        {% elif species %}
                            {% url 'atlas_info' species.species_underscore %}
                        {% endif %}">
                            <i class="fa fa-dna"></i>
                            Information
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link p-2
                        {% if url_name == 'atlas_overview' %}active{% endif %}
                        {% if not species %}disabled{% endif %}"
                        href="
                        {% if url_name == 'atlas_overview' %}
                            #top
                        {% elif species %}
                            {% url 'atlas_overview' species.species_underscore %}
                        {% endif %}">
                            <i class="fa fa-diagram-project"></i>
                            Atlas overview
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link p-2
                        {% if url_name == 'atlas_markers' %}active{% endif %}
                        {% if not species %}disabled{% endif %}"
                        href="
                        {% if url_name == 'atlas_markers' %}
                            #top
                        {% elif species %}
                            {% url 'atlas_markers' species.species_underscore %}
                        {% endif %}">
                            <i class="fa fa-list-ol"></i>
                            Gene markers
                            <i class="fa fa-circle-question" data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-title="Identify genes with specific expression patterns in selected metacells"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link p-2
                        {% if url_name == 'atlas_gene' %}active{% endif %}
                        {% if not species %}disabled{% endif %}"
                        href="
                        {% if url_name == 'atlas_gene' %}
                            #top
                        {% elif species %}
                            {% url 'atlas_gene' species.species_underscore %}
                        {% endif %}">
                            <i class="fa fa-bezier-curve"></i>
                            Gene and orthologs
                            <i class="fa fa-circle-question"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-title="Visualise gene and ortholog expression"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link p-2
                        {% if url_name == 'atlas_compare' %}active{% endif %}
                        {% if not species %}disabled{% endif %}"
                        href="
                        {% if url_name == 'atlas_compare' %}
                            #top
                        {% elif species %}
                            {% url 'atlas_compare' species.species_underscore %}
                        {% endif %}">
                            <i class="fa fa-scale-unbalanced"></i>
                            Cross-species
                            <i class="fa fa-circle-question"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-title="Compare genes between cell types of different species"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Add some whitespace between subnavbar and content -->
<div class="mb-2"></div>

<!-- Set species in cookie -->
<!--{% if species %}
<script>document.cookie='species={{species}}';</script>
{% endif %}-->

{% endwith %}
