{% comment %}

Atlas selection dropdown and tab navigation for Cell Atlas

Features:
- Allows user to search dataset by species and metadata (including taxonomic ranks)
- Atlas selection dropdown is initially invisible to prevent Flash of Unstyled Content (FOUC)
- Upon dataset selection, the user is redirected to that dataset page
- Navigation tabs redirect to different views for the selected dataset
- When no dataset is selected, mockup is shown and navigation tabs are disabled

Input:
- dataset_dict: dictionary of arrays of dataset grouped by their phylum

{% endcomment %}

<div class="container-xxl">
    {% include './dataset.html' %}
</div>

<!-- Subnavbar to navigate the Cell Atlas -->
{% with request.resolver_match.url_name as url_name %}
<div class="subnavbar sticky-top py-1">
    <div class="container-xxl">
        <ul class="nav nav-pills small d-md-none">
            <li class="nav-item">
                <a class="nav-link p-2 small" data-bs-toggle="offcanvas"
                href="#offcanvas" role="button">
                    <i class="fa fa-ellipsis-vertical fa-fw"></i>
                    Show Cell Atlas sections
                </a>
            </li>
        </ul>

        <div class="offcanvas-md offcanvas-start" tabindex="-1" id="offcanvas"
        aria-labelledby="bdSidebarOffcanvasLabel">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">
                    Cell Atlas
                </h5>
                <button type="button" class="btn-close"
                data-bs-dismiss="offcanvas" aria-label="Close"
                data-bs-target="#offcanvas"></button>
            </div>

            <div class="offcanvas-body">
                <ul class="nav nav-pills small flex-column flex-md-row">
                    <li class="nav-item">
                        <a class="nav-link p-2
                        {% if url_name in 'atlas,atlas_info' %}active{% endif %}
                        {% if not dataset %}disabled{% endif %}"
                        href="
                        {% if url_name in 'atlas,atlas_info' %}
                            #top
                        {% elif dataset %}
                            {% url 'atlas_info' dataset.slug %}
                        {% endif %}">
                            <i class="fa fa-dna"></i>
                            Information
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link p-2
                        {% if url_name == 'atlas_overview' %}active{% endif %}
                        {% if not dataset %}disabled{% endif %}"
                        href="
                        {% if url_name == 'atlas_overview' %}
                            #top
                        {% elif dataset %}
                            {% url 'atlas_overview' dataset.slug %}
                        {% endif %}">
                            <i class="fa fa-diagram-project"></i>
                            Atlas overview
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link p-2
                        {% if url_name == 'atlas_panel' %}active{% endif %}
                        {% if not dataset %}disabled{% endif %}"
                        href="
                        {% if url_name == 'atlas_panel' %}
                            #top
                        {% elif dataset %}
                            {% url 'atlas_panel' dataset.slug %}
                        {% endif %}">
                            <i class="fa fa-solar-panel"></i>
                            Gene panel
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link p-2
                        {% if url_name == 'atlas_gene' %}active{% endif %}
                        {% if not dataset %}disabled{% endif %}"
                        href="
                        {% if url_name == 'atlas_gene' %}
                            #top
                        {% elif dataset %}
                            {% url 'atlas_gene' dataset.slug %}
                        {% endif %}">
                            <i class="fa fa-bezier-curve"></i>
                            Gene and orthologs
                            <i class="fa fa-circle-question"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-title="Visualise gene and ortholog expression"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link p-2
                        {% if url_name == 'atlas_markers' %}active{% endif %}
                        {% if not dataset %}disabled{% endif %}"
                        href="
                        {% if url_name == 'atlas_markers' %}
                            #top
                        {% elif dataset %}
                            {% url 'atlas_markers' dataset.slug %}
                        {% endif %}">
                            <i class="fa fa-list-ol"></i>
                            Cell type markers
                            <i class="fa fa-circle-question" data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-title="Identify genes with specific expression patterns in selected metacells"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link p-2
                        {% if url_name == 'atlas_compare' %}active{% endif %}
                        {% if not dataset %}disabled{% endif %}"
                        href="
                        {% if url_name == 'atlas_compare' %}
                            #top
                        {% elif dataset %}
                            {% url 'atlas_compare' dataset.slug %}
                        {% endif %}">
                            <i class="fa fa-scale-unbalanced"></i>
                            Cross-species
                            <i class="fa fa-circle-question"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-title="Compare genes between cell types of different species"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Add some whitespace between subnavbar and content -->
<div class="mb-2"></div>

<!-- Set species in cookie -->
<!--{% if dataset %}
<script>document.cookie='dataset={{dataset}}';</script>
{% endif %}-->

{% endwith %}
