{% comment %}

Gene selection dropdown

Features:
- Allows user to search genes by name, description and domains
- Upon gene selection, the user is redirected to that gene page

Input:
- id: prefix used to identify elements
- name: form field name (default: 'gene')
- class: select element class (default: 'mb-3')
- gene: default gene to select with properties 'name', 'description' and
  'domains' (default: none, i.e., no gene is selected)
- selected: selected genes (only use instead of gene if multiple = 'true')
- multiple: allow to select multiple genes (default: 'false'); when enabled,
  also shows available gene lists
- placeholder: text in search box (default: "Search gene by symbol,
  description or domains...")
- disabled: start the element as disabled
- width: element width (default: '100%')
- display: if 'name' (default), show only gene name for selected gene; if 'all',
  show gene name, description and domains
- redirect: one of 'query', 'arg' or 'none' (default); if 'query', redirect to
  URL using a query parameter (e.g., '?gene=BRCA1'); if 'arg', redirect using
  gene as an argument
- hash: hash to add to URL (default: none)
- limit: maximum number of genes to fetch from API (default: 50)

{% endcomment %}

<select id="{{ id }}_gene_selection"
        class="{{ class|default:'mb-3' }}"
        name="{{ name|default:'gene' }}"
        style="width: {{ width|default:'100%' }}"
        placeholder="{{ placeholder|default:'Search gene...' }}"
        {% if multiple == 'true' %}multiple{% endif %}
        {% if disabled == 'true' %}disabled{% endif %}>
    <option value=""></option>
</select>

<!-- Species selection: selectize.js JavaScript options -->
<script type="module">
    {% load static %}
    import { initGeneSelectize } from "{% static 'app/js/select/gene.js' %}";


    let geneName = "{{ gene.name }}";

    let id = "{{ id }}",
        hash = "{{ hash }}",
        redirect = "{{ redirect }}",
        species = "{{ species }}",
        dataset = "{{ dataset.slug }}",
        gene = {
            name: geneName !== "" ? geneName : null,
            description: "{{ gene.description|default:'' }}",
            domains: [
                {% for domain in gene.domains.all %}
                    "{{ domain }}"
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            ]
        },
        selected = "{{ selected }}",
        limit = {{limit|default:50}},
        multiple = "{{ multiple }}",
        display = "{{ display|default:'name' }}" === "all";

    $(function () {
        initGeneSelectize(
            id, hash, redirect, species, dataset, gene, selected, limit, multiple, display
        );
    })
</script>
