{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <h1 class="h3">{{ page.title }}</h1>
    <p class="meta">{{ page.date }}</p>

    <article>
        {% for block in page.body %}
            {% if block.block_type == 'heading' %}
                <h2 class="h4">{{ block.value }}</h2>
            {% else %}
                <section class="block-{{ block.block_type }}">
                    {% include_block block %}
                </section>
            {% endif %}
        {% endfor %}
    </article>

    <p><a href="{{ page.get_parent.url }}">Return to before</a></p>

{% endblock %}
