{% comment %}

Modal to align sequence

Input:
- id: prefix of element identifiers

{% endcomment %}

<style>
    .w-20px { width: 20px; }
    .w-25px { width: 25px; }
</style>

<div class="modal fade"
     id="{{ id }}_alignment"
     tabindex="-1"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     aria-labelledby="{{ id }}_{{ type }}_modal_label"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Sequence alignment</h1>
                <span class="ms-2 me-5">
                    <img class="rounded w-25px"
                         src="{{ species.image_url }}"
                         alt="Image of {{ species }}">
                    <span class="small">{{ species.get_html }}</span>
                </span>

                <div class="ms-auto d-flex align-items-center">
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
            </div>
            <div class="modal-body">
                <div class="row mb-2 small">
                    <label class="col-lg-2 col-form-label small">Aligner</label>
                    <div class="col-lg-10">
                        <a class="form-control-plaintext"
                           target="_blank"
                           href="https://github.com/bbuchfink/diamond">
                            DIAMOND {{ DIAMOND_VERSION }}
                            <i class="fa fa-2xs fa-arrow-up-right-from-square"></i>
                        </a>
                    </div>
                </div>

                <div class="row mb-2 small">
                    <label class="col-lg-2 col-form-label small">Proteome</label>
                    <div class="col-lg-10">
                        <span class="form-control-plaintext">
                            <img class="rounded w-20px"
                                 src="{{ species.image_url }}"
                                 alt="Image of {{ species }}">
                            {{ species.get_html }}
                        </span>
                    </div>
                </div>

                <div class="row mb-2 small">
                    <label class="col-lg-2 col-form-label small">Type</label>
                    <div class="col-lg-10">
                        <div class="btn-group btn-group-sm mb-3 w-100" role="group">
                            <input type="radio"
                                   class="btn-check"
                                   name="{{ id }}_type"
                                   id="{{ id }}_type_nucleotides"
                                   autocomplete="off"
                                   value="nucleotides">
                            <label class="btn btn-outline-primary" for="{{ id }}_type_nucleotides">Nucleotides</label>

                            <input type="radio"
                                   class="btn-check"
                                   name="{{ id }}_type"
                                   id="{{ id }}_type_aminoacids"
                                   autocomplete="off"
                                   value="aminoacids"
                                   checked>
                            <label class="btn btn-outline-primary" for="{{ id }}_type_aminoacids">Amino acids</label>
                        </div>
                    </div>
                </div>

                <div class="row mb-2 small">
                    <label for="{{ id }}_query" class="col-lg-2 col-form-label small">Sequences</label>
                    <div class="col-lg-10">
                        <div class="sequence-input border border-secondary-subtle rounded">
                            <textarea type="textarea"
                                      id="{{id}}_query"
                                      rows="6"
                                      required
                                      class="sequence-textarea form-control font-monospace border-0 rounded-top p-2"
                                      placeholder="FASTA sequences (maximum of {{ MAX_ALIGNMENT_SEQS }})"></textarea>
                            <div class="d-flex justify-content-between small py-1 px-2 border-top border-secondary-subtle bg-light rounded-bottom">
                                <button type="button"
                                        class="btn btn-link btn-sm"
                                        onclick="$('#{{ id }}_upload').click();">
                                    <span class="small">
                                        <i class="fa fa-file-lines"></i>
                                        Load from FASTA file...
                                    </span>
                                </button>
                                <span>
                                    <span id="{{ id }}_count">0</span>
                                    out of {{ MAX_ALIGNMENT_SEQS }} sequences
                                </span>
                            </div>
                        </div>

                        <input class="form-control d-none" type="file" id="{{ id }}_upload">
                    </div>
                </div>
            </div>

            <div id="{{ id }}_alertContainer"></div>
            <template id="{{ id }}_errorTemplate">
                <div role="alert"
                     class="alert alert-danger alert-dismissible fade show m-2">
                    <i class="fa fa-triangle-exclamation"></i>
                    <strong class="alert-title">Title</strong>
                    <span class="alert-description">Description</span>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            </template>

            <div class="modal-footer justify-content-between">
                <p class="text-muted small">
                    <i class="fa fa-info-circle"></i>
                    Alignment results are saved as gene lists.
                </p>
                <span>
                    <button class="btn btn-outline-primary"
                            href="javascript:void(0);"
                            data-bs-toggle="modal"
                            data-bs-target="#{{ id }}_{{ type }}_editor">Previous results</button>
                    <button type="submit"
                            class="btn btn-primary"
                            id="{{ id }}_align_btn"
                            disabled>
                        <span id="{{ id }}_align_spinner"
                              class="spinner-border spinner-border-sm d-none"></span>
                        Align
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>

<script>
$("#{{id}}_upload").on("change", function () {
    const file = this.files[0];
    const maxMB = {{ MAX_FILE_SIZE }};
    const maxSeqs = {{ MAX_ALIGNMENT_SEQS }};

    if (!file) {
        console.error('Error uploading file: no file selected');
        return;
    } else if (file.size > maxMB * 1024 * 1024) {
        alert(`Size limit of ${maxMB} MB exceeded.`);
    } else {
        // Add text to sequence textarea
        const reader = new FileReader();
        reader.onload = function(event) {
            const content = event.target.result;
            const lines = content.split('\n');

            // Count number of sequences in FASTA file
            const count = lines.filter(line => line.startsWith('>')).length;

            if (count > maxSeqs) {
                alert(`The uploaded file has ${count} sequences. Only files with up to ${maxSeqs} sequences are allowed.`);
            } else {
                $("#{{id}}_query").val(content);

                // Update sequence count in status bar
                $("#{{id}}_query")[0].dispatchEvent(new Event('input'));
            }
        };

        reader.readAsText(file);
    }
    // Clear selection to allow uploading the same file again
    $(this).val("");
});

$("#{{id}}_query").on("input", function() {
    const limit = {{ MAX_ALIGNMENT_SEQS }};

    let text = $(this).val();
    let matches = text.match(/^>/gm);
    var isEmptyText = text.trim() === '';
    var count = matches ? matches.length : (isEmptyText ? 0 : 1);

    var count_label = $("#{{id}}_count");
    count_label.text(count);
    if (count > limit) {
        text_color = 'var(--bs-danger)';
        disabled = true;
    } else if (isEmptyText) {
        text_color = '';
        disabled = true;
    } else {
        text_color = '';
        disabled = false;
    }

    count_label.css('color', text_color);
    $('#{{id}}_align_btn').prop('disabled', disabled);
});

function startLoadingState(id) {
    $(`#${id}_align_btn`).prop('disabled', true);
    $(`#${id}_align_spinner`).removeClass('d-none');
}

function stopLoadingState(id) {
    $(`#${id}_align_spinner`).addClass('d-none');
}

function setErrorMessage(id, title, description) {
    clearMessages(id);

    const template = document.getElementById(`${id}_errorTemplate`);
    const clone = template.content.cloneNode(true);

    clone.querySelector('.alert-title').textContent = title;
    clone.querySelector('.alert-description').textContent = description;

    document.getElementById(`${id}_alertContainer`).appendChild(clone);
}

function clearMessages(id) {
    $(`#${id}_alertContainer`).empty();
}

$("#{{id}}_align_btn").on("click", function() {
    startLoadingState('{{id}}');

    var url = '{% url 'rest:align-list' %}';
    fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            sequences: $('#{{id}}_query').val(),
            type: $('input[name="{{id}}_type"]:checked').val(),
            species: '{{species}}'
        })
    })
    .then(response => response.json())
    .then(data => {
        clearMessages('{{id}}');
        if (data && data.length === 0) {
            setErrorMessage('{{id}}', 'Error!',
                            'No alignments found for this query.');
            return;
        }

        const result = data.reduce((acc, { query, target }) => {
            acc[query] ||= [];
            acc[query].push(target);
            return acc;
        }, {});

        const id = '{{id}}_{{type}}';
        const species = '{{species}}';

        var name;
        for (key in result) {
            name = key + ' alignment';
            name = appendUserList(id, species, name, result[key],
                                  group="Alignment results", color='gray',
                                  redraw=false);
        }
        redrawUserLists(id, species, active=[name]);

        $('#{{id}}_alignment').modal('hide');
        $('#{{id}}_{{type}}_editor').modal('show');

        // Clean form state
        $('#{{id}}_query').val('');
        $('#{{id}}_align_btn').prop('disabled', true);
    })
    .catch(error => {
        setErrorMessage('{{id}}', 'Error!', error);
    })
    .finally(f => stopLoadingState('{{id}}'));
});
</script>
