{% comment %}

Edit gene lists via a modal

Input:
- id: prefix of element identifiers
- type: 'gene_lists'

{% endcomment %}

{% include './align.html' %}

<div class="modal fade" id="{{id}}_{{type}}_editor" tabindex="-1"
data-bs-backdrop="static" data-bs-keyboard="false"
aria-labelledby="{{id}}_{{type}}_modal_label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{id}}_{{type}}_editor_label">Gene lists</h1>
            <span class="ms-2 me-5">
                <img class="rounded" src="{{species.image_url}}"
                style="width: 25px;">
                <i class="small">{{species}}</i>
            </span>

            <div class="ms-auto d-flex align-items-center">
                {% include '../button/data_download.html' with id=id %}
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-4">

                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">
                            <i class="fas fa-search"></i>
                        </span>
                        <input id="{{id}}_{{type}}_search"
                        type="search" class="form-control"
                        placeholder="Filter by name of lists...">
                    </div>

                    <div id="{{id}}_{{type}}_options" class="list-group"
                    style="max-height: 500px; overflow-y: auto; margin-left: -1px; padding-right: 1px;">
                    </div>

                    <template id="{{id}}_{{type}}_heading">
                        <div class="list-group-heading py-0 px-2 d-flex justify-content-between">
                            Preset gene lists
                        </div>
                    </template>

                    <template id="{{id}}_{{type}}_element">
                        <a href="javascript:void(0);"
                        class="list-group-item list-group-item-action {{id}}_{{type}}_group_a px-2 py-1"
                        data-bs-toggle="list">
                            <div class="d-grid d-lg-flex w-100 justify-content-between">
                                <span class="truncate-3">
                                    <i class="fa fa-circle color-bullet {{id}}_{{type}}_group_bullet"
                                    style="padding-left: 1px;"></i>
                                    <span class="{{id}}_{{type}}_group_title small">
                                    </span>
                                </span>

                                <span class="{{id}}_{{type}}_group_count
                                text-body-secondary small">
                                    140
                                </span>
                            </div>
                        </a>
                    </template>


                    <div class="btn-group mt-3 w-100" role="group">
                        <button type="button"
                        class="btn btn-outline-secondary btn-xs dropdown-toggle flat-right-border"
                        data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-plus"></i> New
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item small"
                            href="javascript:void(0);"
                            id="{{id}}_{{type}}_new_empty">
                                <i class="fa-regular fa-circle fa-fw"></i>
                                Empty list
                            </a>
                            <a class="dropdown-item small disabled"
                            href="javascript:void(0);"
                            id="{{id}}_{{type}}_new_selected">
                                <i class="fa fa-list-check fa-fw"></i>
                                List with
                                <span id="{{id}}_{{type}}_new_selected_count">
                                    0 selected genes
                                </span>
                            </a>
                            <a class="dropdown-item small"
                            href="javascript:void(0);"
                            id="{{id}}_{{type}}_new_duplicate">
                                <i class="fa fa-clone fa-fw"></i>
                                Duplicate from selected list
                            </a>

                            <hr class="dropdown-divider">

                            <a class="dropdown-item small"
                            href="javascript:void(0);">
                                <i class="fa fa-shapes fa-fw"></i>
                                Based on protein domains...
                            </a>

                            <a class="dropdown-item small"
                            href="javascript:void(0);"
                            data-bs-toggle="modal"
                            data-bs-target="#{{id}}_alignment">
                                <i class="fa fa-align-center fa-fw"></i>
                                From sequence alignment...
                            </a>

                            <a class="dropdown-item small"
                            href="javascript:void(0);"
                            onclick="document.getElementById('{{id}}_{{type}}_new_upload').click();"
                            data-bs-toggle="tooltip" data-bs-placement="right"
                            data-bs-html="true" data-bs-container="body"
                            data-bs-custom-class="upload-tooltip"
                            data-bs-title="Comma- or tab-separated file<br>with four columns:
                                    <ul class='text-start'>
                                        <li>Group of gene list</li>
                                        <li>Name of gene list</li>
                                        <li>Colour of gene list (HEX/RGB code or colour name)</li>
                                        <li>Gene symbol (one per line)</li>
                                    </ul>
                                    <p>
                                        <i class='fa fa-triangle-exclamation'></i>
                                        Lines starting with <code>#</code> are ignored.
                                    </p>
                                    <p>
                                        <i class='fa fa-triangle-exclamation'></i>
                                        File size limited to {{ MAX_FILE_SIZE }} MB.
                                    </p>
                                    <hr><span>Example:</span>
                                    <table class='table table-sm table-dark table-hover my-1'>
                                        <tbody>
                                            <tr>
                                                <td>Custom</td>
                                                <td>Homeoboxes</td>
                                                <td>#ff6eb0</td>
                                                <td>PAX6</td></tr>
                                            <tr>
                                                <td>Custom</td>
                                                <td>Homeoboxes</td>
                                                <td>#ff6eb0</td>
                                                <td>HOXA1</td></tr>
                                            <tr>
                                                <td>Custom</td>
                                                <td>Myosins</td>
                                                <td>red</td>
                                                <td>MYH2</td></tr>
                                        </tbody>
                                    </table>">
                                <i class="fa fa-file-arrow-up fa-fw"></i>
                                Upload lists...

                                <input id="{{id}}_{{type}}_new_upload"
                                type="file"
                                class="form-control form-control-sm d-none">
                            </a>

                            {% comment %}
                            <!-- Boolean operations -->
                            <hr class="dropdown-divider">
                            <p class="text-body-secondary small ps-3 mb-0">
                                Boolean operations
                            </p>

                            <a class="dropdown-item" href="javascript:void(0);"
                            data-bs-toggle="tooltip" data-bs-placement="right"
                            data-bs-title="Create a new list with all genes from selected lists">
                                <i class="ph-duotone ph-unite"></i> Unite genes
                            </a>
                            <a class="dropdown-item" href="javascript:void(0);"
                            data-bs-toggle="tooltip" data-bs-placement="right"
                            data-bs-title="Create a new list with intersecting genes from selected lists">
                                <i class="ph-duotone ph-intersect"></i> Intersect genes
                            </a>
                            <a class="dropdown-item" href="javascript:void(0);"
                            data-bs-toggle="tooltip" data-bs-placement="right"
                            data-bs-title="Create a new list with non-intersecting genes from selected lists">
                                <i class="ph-duotone ph-exclude"></i> Exclude genes
                            </a>
                            <a class="dropdown-item" href="javascript:void(0);"
                            data-bs-toggle="tooltip" data-bs-placement="right"
                            data-bs-title="Create a new list by subtracting genes from selected lists">
                                <i class="ph-duotone ph-subtract"></i> Subtract genes
                            </a>
                            {% endcomment %}

                            <hr class="dropdown-divider">
                            <p class="text-body-secondary small mb-0 text-center">
                                <i class="fa fa-shield-halved"></i>
                                User lists are stored<br>
                                <b>only</b> in your local browser
                            </p>
                        </div>

                        <button id="{{id}}_{{type}}_reset"
                        type="button" class="btn btn-outline-danger btn-xs"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
                        data-bs-title="Remove user gene lists for <i>{{species}}</i>">
                            <i class="fa fa-clock-rotate-left fa-fw"></i>
                            <span class="d-none d-lg-inline">Reset</span>
                        </button>
                    </div>
                </div>
                <div class="col-8">
                    <fieldset id="{{id}}_{{type}}_controls">
                        <div class="row">
                            <div class="col">

                                <button type="button"
                                class="btn btn-outline-secondary btn-sm dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false"
                                data-bs-auto-close="outside">
                                    <i class="fa fa-plus"></i>
                                    Add genes
                                </button>
                                <div class="dropdown-menu">
                                    <div class="mx-4 mb-2" style="width: 450px;">
                                        <div class="row">
                                            <div class="col">
                                                <div class="d-flex justify-content-between align-items-center small">
                                                    <label class="col-form-label">
                                                        Select genes to add
                                                    </label>

                                                    <a id="select_all_metacells"
                                                    href="javascript:void(0);"
                                                    class="d-block text-end"
                                                    onclick="$('#append_gene_selection')[0].selectize.clear();">
                                                        Clear selection
                                                    </a>
                                                </div>

                                                {% include '../select/gene.html' with id='append' name='gene_lists' hash=id limit=10 multiple='true' selected=query.gene_lists class=' ' placeholder='Search genes, gene lists and domains...' %}
                                            </div>

                                            <div class="col-auto">
                                                <div class="d-flex mb-0"
                                                style="margin-top: 35px;">
                                                    <button
                                                    id="{{id}}_{{type}}_append_btn"
                                                    type="button"
                                                    class="btn btn-primary">
                                                        Add genes
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button id="{{id}}_{{type}}_rename_btn"
                                type="button"
                                class="btn btn-outline-secondary btn-sm">
                                    <i class="fa fa-pencil"></i>
                                    Rename...
                                </button>
                            </div>
                            <div class="col-auto">
                                <button id="{{id}}_{{type}}_remove"
                                type="button"
                                class="btn btn-outline-danger btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-title="Remove gene list">
                                    <i class="fa fa-trash"></i>
                                    <span class="d-none d-lg-inline">
                                        Remove
                                    </span>
                                </button>
                            </div>
                        </div>
                    </fieldset>

                    <hr>
                    <table id="{{id}}_{{type}}_editor_table"
                    class="display compact w-100"></table>

                </div>
            </div>
        </div>
    </div>
  </div>
</div>

{% load static %}
<script>
    var gene_url = "{% url 'atlas_gene' species.species_underscore %}";
</script>
<script type="text/javascript" src="{% static 'app/js/list_editor.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/list_editor_table.js' %}"></script>
<script>
$(function() {
    // Get lists from API
    var url = "{% url 'rest:genelist-list' %}";
    var params = new URLSearchParams({ species: '{{species}}' });
    var genelist_apiURL = url + "?" + params.toString();

    fetch(genelist_apiURL)
        .then(response => response.json())
        .then(data => {
            appendListGroupHeading('{{id}}_{{type}}', 'preset');
            data.results.forEach((item, index) => {
                appendListGroupItem('{{id}}_{{type}}', item.name, item.type,
                                    item.gene_count);
            });
            drawUserLists('{{id}}_{{type}}', '{{species}}');
        })
        .then(data => {
            // Create table
            createListEditorTable('{{id}}_{{type}}_editor_table');

            // Update interface based on selection
            var table = $('#{{id}}_{{type}}_editor_table').DataTable();
            table.on('select deselect', function(e, dt, type, indexes) {
                if (type === 'row') {
                    const len = getSelectedRows('{{id}}_{{type}}_editor_table').length;
                    var label = `${len} selected gene` + (len === 1 ? '' : 's');
                    $('#{{id}}_{{type}}_new_selected_count').text(label);

                    // Disable element if no rows are selected
                    if (len === 0) {
                        $('#{{id}}_{{type}}_new_selected').addClass('disabled');
                    } else {
                        $('#{{id}}_{{type}}_new_selected').removeClass('disabled');
                    }
                }
            });
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });

    // Get data and render table for active group list
    let previousActiveList = null;

    // Trigger data rendering on any change to .active class
    $("#{{id}}_{{type}}_options").on('click keyup', '.active', function (event) {
        // Prevent event triggering if element was previously active
        if ( previousActiveList && previousActiveList.is($(this)) ) {
            event.preventDefault();
            return;
        }
        previousActiveList = $(this);
        console.log(this);
        renderListDetail('{{id}}_{{type}}', '{{species}}', "{% url 'rest:gene-list' %}");
    });

    // Menu action: New list
    $('#{{id}}_{{type}}_new_empty').on('click', function(e) {
        appendUserList('{{id}}_{{type}}', '{{species}}', 'Empty list', []);
    });

    $('#{{id}}_{{type}}_new_selected').on('click', function(e) {
        const selected = getSelectedRows('{{id}}_{{type}}_editor_table');
        appendUserList('{{id}}_{{type}}', '{{species}}', 'Selected genes', selected);
    });

    // Menu action: Reset
    $('#{{id}}_{{type}}_reset').on('click', function(e) {
        if (confirm("Do you want to reset all user gene lists for {{species}}?")) {
            resetUserLists('{{id}}_{{type}}', '{{species}}');
            redrawUserLists('{{id}}_{{type}}', '{{species}}');

            // Select the first item in the list if no element is selected
            if ($("#{{id}}_{{type}}_options").find('a.active').length === 0) {
                $("#{{id}}_{{type}}_options a").first().addClass('active').click();
            }
        }
    });

    // Menu action: Rename
    $('#{{id}}_{{type}}_rename_btn').on('click', function(e) {
        var activeItem = $("#{{id}}_{{type}}_options").find('a.active');
        var oldName = activeItem.find('.{{id}}_{{type}}_group_title').text();

        var newName = prompt("Rename list:", oldName);
        if (newName === '') {
            // Avoid empty list name
            alert('The name of a list cannot be empty.');
            return;
        } else if (newName === null) {
            // Cancel rename
            return;
        }

        // Avoid duplicated name
        var all_names = $("#{{id}}_{{type}}_options")
            .find('a .{{id}}_{{type}}_group_title')
            .map((i, el) => $(el).text()).get();

        if (all_names.includes(newName)) {
            alert('This list name is already in use.');
            return;
        }

        renameUserList('{{id}}_{{type}}', '{{species}}', oldName, newName);
        redrawUserLists('{{id}}_{{type}}', '{{species}}', activeList=[newName]);
    });

    // Menu action: Remove
    $('#{{id}}_{{type}}_remove').on('click', function(e) {
        var activeItem = $("#{{id}}_{{type}}_options").find('a.active');
        var name = activeItem.find('.{{id}}_{{type}}_group_title').text();

        if (confirm(`Do you want to remove the following list: ${name}?`)) {
            removeUserList('{{id}}_{{type}}', '{{species}}', name);
            redrawUserLists('{{id}}_{{type}}', '{{species}}');

            // Select the first item in the list if no element is selected
            if ($("#{{id}}_{{type}}_options").find('a.active').length === 0) {
                $("#{{id}}_{{type}}_options a").first().addClass('active').click();
            }
        }
    });

    // Menu action: duplicate
    $('#{{id}}_{{type}}_new_duplicate').on('click', function(e) {
        var activeItem = $("#{{id}}_{{type}}_options").find('a.active');
        var name = activeItem.data('list');
        var group = activeItem.data('group');

        var url = "{% url 'rest:gene-list' %}";
        fetchAllGenesFromList('{{id}}_{{type}}', '{{species}}', url, name, group)
            .then(genes => {
                appendUserList('{{id}}_{{type}}', '{{species}}', name, genes);
            })
            .catch(error => {
                console.error("Error fetching genes:", error);
            });
    });

    // Menu action: upload file containing lists
    $("#{{id}}_{{type}}_new_upload").on("change", function () {
        createUserListsFromFile (this, '{{id}}_{{type}}', '{{species}}',
                                 {{ MAX_FILE_SIZE }});
    });

    function highlightMatch(content, query) {
        const regex = new RegExp(`(${query})`, 'gi');
        return content.replace(regex, '<span class="search-highlight">$1</span>');
    }

    // Filter by list name
    $("#{{id}}_{{type}}_search").on("input search", function () {
        const query = this.value.toLowerCase(); // lowercase comparison

        // Hide lists that do not match query value
        var elems = $('#{{id}}_{{type}}_options a');
        elems.each(function() {
            const title = $(this).find('.{{id}}_{{type}}_group_title');
            if (title.text().toLowerCase().includes(query)) {
                $(this).removeClass('d-none');
            } else {
                $(this).addClass('d-none');
            }
            title.html(highlightMatch(title.text(), query));
        });
    });
});
</script>
