:root {
    --font-ui: var(--font);
    --font-prose: var(--font);
    --color-text-heading: var(--primary-color);
}

html {
    scroll-padding-top: 0;
}

body {
    padding-top: 0;
}

.sl-px-24 {
    padding-left: 30px;
    padding-right: 30px;
}

.sl-flex.sl-overflow-y-auto.sl-flex-col.sl-sticky {
    /* Full height sidebar */
    height: 100vh !important;
}
