{% comment %}

Gene selection dropdown

Features:
- Allows user to search genes by name, description and domains
- Upon gene selection, the user is redirected to that gene page

Input:
- id: prefex used to identify elements
- gene: default gene to select with properties 'name', 'description' and
  'domains' (default: none, i.e., no gene is selected)
- placeholder: text in search box (default: "Search gene by symbol,
  description or domains...")
- width: element width (default: '100%')
- display: if 'name' (default), show gene name for selected gene; if 'all',
  show gene name, description and domains
- redirect: if 'query' (default), redirect to URL using a query parameter
  (e.g., '?gene=BRCA1'); if 'arg', redirect using gene as an argument
- hash: hash to add to URL (default: none)
- limit: maximum number of genes to fetch from API (default: 50)

{% endcomment %}

<select id="{{id}}_gene_selection" name="gene" class="mb-3"
style="width: {{width|default:'100%'}};"
placeholder="{{placeholder|default:'Search gene...'}}"
{% if disabled == 'true' %}disabled{% endif %}>
    <option value=""></option>
</select>

<!-- Species selection: selectize.js JavaScript options -->
<script>
function displayGeneInfo (item, escape) {
    var domains_array = item.domains;
    badges = '';
    for(var i = 0; i < domains_array.length; i++) {
        if (domains_array[i] !== '') {
            span = '<span class="badge rounded-pill text-bg-secondary">';
            badges += ` ${span}<small>${domains_array[i]}</small></span>`;
        }
    }
    var desc = item.description === null ? "" : `<span class="text-muted"><small>${item.description}</small></span>`;
    return `<div class='option'>${item.name} ${desc} ${badges}</div>`;
}

function displayGeneName (item, escape) {
    return `<div class='option'>${item.name}</div>`;
}

$(function () {
    $("#{{id}}_gene_selection").selectize({
        onChange: function(value) {
            // Avoid jumping if value is empty or matches current gene
    	    if (value !== "" && value !== '{{gene}}') {
    	        {% if redirect|default:'query' == 'arg' %}
    	            window.location.href = "{% url request.resolver_match.url_name species.species_underscore '::arg' %}".replace('::arg', value);
			    {% else %}
                    var url = new URL(window.location.href);
    	            url.searchParams.set('gene', value)
    	            if ('{{hash}}' !== '') {
    	                url.hash = '#{{hash}}';
    	            }
    	            window.location.href = url;
			    {% endif %}
    		}
		},
		onDropdownOpen: function($dropdown) {
		    this.clear();
		},
		onBlur: function() {
		    // Set current gene if no value is selected
            if (!this.getValue()) {
                this.setValue('{{gene}}');
            }
        },
        onType: function(str) {
            // Clear available options to avoid selection while loading more data
            this.clearOptions();
        },
        render: {
            item: {% if display|default:'name' == 'all' %}displayGeneInfo{% else %}displayGeneName{% endif %},
            option: displayGeneInfo
        },
        valueField: 'name',
        searchField: ['name', 'description', 'domains'],
        preload: true,
        load: function(query, callback) {
            $.ajax({
                url: '{% url 'rest:gene-list' %}',
                type: 'GET',
                dataType: 'json',
                data: {
                    species: '{{species}}',
                    q: query || '{{gene}}',
                    limit: {{limit|default:50}}
                },
                error: function() { callback(); },
                success: function(res) { callback(res.results); }
            });
        }
    });

    {% if gene %}
        function setDefaultGene() {
            var geneOptions = {
                'name': '{{gene.name}}',
                'description': '{{gene.description}}',
                'domains': {{gene.domains|safe}}
            };

            var selectize = $("#gene")[0].selectize;
            selectize.addOption(geneOptions);
            selectize.setValue('{{gene}}');
        }
        setDefaultGene();
    {% endif %}
});
</script>
