{% comment %}

Prepare URLs to be used in JavaScript scripts

{% endcomment %}

{% load custom_tags %}
{% startswith request.resolver_match.view_name 'atlas_' as atlas %}
<script>
    window.APP_URLS = {
        search: "{% url 'search' %}",

        // Atlas views
        atlas:
            {% if atlas %}
                "{% url request.resolver_match.view_name 'DATASET_PLACEHOLDER' %}"
            {% else %}
                "{% url 'atlas_info' 'DATASET_PLACEHOLDER' %}"
            {% endif %},
        atlas_info: "{% url 'atlas_info' 'DATASET_PLACEHOLDER' %}",
        atlas_gene: "{% url 'atlas_gene' 'DATASET_PLACEHOLDER' 'GENE_PLACEHOLDER' %}",

        // REST data
        "rest:dataset-list": "{% url 'rest:dataset-list' %}",
        "rest:gene-list": "{% url 'rest:gene-list' %}",
        "rest:dataset-detail": "{% url 'rest:dataset-detail' 'DATASET_PLACEHOLDER' %}",
        "rest:stats-detail": "{% url 'rest:stats-detail' 'DATASET_PLACEHOLDER' %}",
        "rest:metacellcount-list": "{% url 'rest:metacellcount-list' %}",
        "rest:metacellgeneexpression-list": "{% url 'rest:metacellgeneexpression-list' %}",
        "rest:correlated-list": "{% url 'rest:correlated-list' %}",
        "rest:metacellmarker-list": "{% url 'rest:metacellmarker-list' %}",
        "rest:samap-list": "{% url 'rest:samap-list' %}",
    };
</script>
