{% comment %}

Edit gene lists via a modal

Input:
- id: prefix of element identifiers

{% endcomment %}

<div class="modal fade" id="{{id}}_editor" tabindex="-1"
data-bs-backdrop="static" data-bs-keyboard="false"
aria-labelledby="{{id}}_modal_label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{id}}_editor_label">Gene lists</h1>
            <span class="ms-2 me-5">
                <img class="rounded" src="{{species.image_url}}" style="width: 25px;">
                <i class="small">{{species}}</i>
            </span>

            <div class="ms-auto d-flex align-items-center">
                {% include './data_button.html' with id=id %}
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-4">

                    <div id="{{id}}_options" class="list-group"
                    style="max-height: 500px; overflow-y: auto; margin-left: -1px; padding-right: 1px;">

                        <template id="{{id}}_element">
                            <a href="javascript:void(0);"
                            class="list-group-item list-group-item-action {{id}}_group_a"
                            data-bs-toggle="list" data-list="Transcription factors">
                                <span class="{{id}}_group_title">Transcription factors</span>
                                <div class="d-grid d-lg-flex w-100 justify-content-between">
                                    <span class="{{id}}_group_count text-body-secondary small">
                                        140 genes
                                    </span>
                                    <span class="{{id}}_group_type text-body-secondary"
                                    style="font-variant: small-caps;
                                    text-transform: lowercase;
                                    margin-bottom: -5px;">
                                        Preset <i class="fa fa-lock fa-xs fa-fw"></i>
                                    </span>
                                </div>
                            </a>
                        </template>

                    </div>

                    <div class="btn-group mt-3 w-100" role="group">
                        <button type="button"
                        class="btn btn-outline-secondary btn-xs dropdown-toggle flat-right-border"
                        data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-plus"></i> New
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="javascript:void(0);"
                            id="{{id}}_new_empty">
                                <i class="fa-regular fa-circle fa-fw"></i>
                                Empty list
                            </a>
                            <a class="dropdown-item disabled"
                            href="javascript:void(0);" id="{{id}}_new_selected">
                                <i class="fa fa-list-ul fa-fw"></i>
                                List with selected
                                <span id="{{id}}_new_selected_count">0 genes</span>
                            </a>
                            <a class="dropdown-item" href="javascript:void(0);"
                            id="{{id}}_new_duplicate">
                                <i class="fa fa-clone fa-fw"></i>
                                Duplicate from selected list
                            </a>
                            <a class="dropdown-item" href="javascript:void(0);"
                            onclick="document.getElementById('{{id}}_new_upload').click();"
                            data-bs-toggle="tooltip" data-bs-placement="right"
                            data-bs-html="true" data-bs-container="body"
                            data-bs-custom-class="upload-tooltip"
                            data-bs-title="Comma- or tab-separated file with two columns:
                                    <ul class='text-start'>
                                        <li>Name of gene list</li>
                                        <li>Gene symbol (one per line)</li>
                                    </ul><hr><span>Example:</span>
                                    <table class='table table-sm table-dark table-hover my-1'>
                                        <tbody>
                                            <tr><td>Homeoboxes</td><td>PAX6</td></tr>
                                            <tr><td>Homeoboxes</td><td>HOXA1</td></tr>
                                            <tr><td>Myosins</td><td>MYH2</td></tr>
                                        </tbody>
                                    </table>">
                                <i class="fa fa-file-arrow-up fa-fw"></i>
                                Upload lists

                                <input id="{{id}}_new_upload" type="file"
                                class="form-control form-control-sm d-none">
                            </a>

                            <!-- Boolean operations -->
                            <hr class="dropdown-divider">
                            <p class="text-body-secondary small ps-3 mb-0">
                                Boolean operations
                            </p>

                            <a class="dropdown-item" href="javascript:void(0);"
                            data-bs-toggle="tooltip" data-bs-placement="right"
                            data-bs-title="Create a new list with all genes from selected lists">
                                <i class="ph-duotone ph-unite"></i> Unite genes
                            </a>
                            <a class="dropdown-item" href="javascript:void(0);"
                            data-bs-toggle="tooltip" data-bs-placement="right"
                            data-bs-title="Create a new list with intersecting genes from selected lists">
                                <i class="ph-duotone ph-intersect"></i> Intersect genes
                            </a>
                            <a class="dropdown-item" href="javascript:void(0);"
                            data-bs-toggle="tooltip" data-bs-placement="right"
                            data-bs-title="Create a new list with non-intersecting genes from selected lists">
                                <i class="ph-duotone ph-exclude"></i> Exclude genes
                            </a>
                            <a class="dropdown-item" href="javascript:void(0);"
                            data-bs-toggle="tooltip" data-bs-placement="right"
                            data-bs-title="Create a new list by subtracting genes from selected lists">
                                <i class="ph-duotone ph-subtract"></i> Subtract genes
                            </a>


                            <hr class="dropdown-divider">
                            <p class="text-body-secondary small mb-0"
                            style="text-align: center;">
                                <i class="fa fa-shield-halved"></i>
                                Custom lists are stored<br>
                                <b>only</b> in your local browser
                            </p>
                        </div>

                        <button id="{{id}}_reset"
                        type="button" class="btn btn-outline-danger btn-xs"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
                        data-bs-title="Remove custom gene lists for <i>{{species}}</i>">
                            <i class="fa fa-clock-rotate-left fa-fw"></i>
                            <span class="d-none d-lg-inline">Reset</span>
                        </button>
                    </div>
                </div>
                <div class="col-8">
                    <fieldset id="{{id}}_controls">
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    <input class="form-control"
                                    id="{{id}}_rename"
                                    value="Transcription factors">

                                    <button id="{{id}}_rename_btn" type="button"
                                    class="btn btn-outline-secondary">
                                        Rename
                                    </button>
                                </div>
                            </div>
                            <div class="col-auto">
                                <button id="{{id}}_remove"
                                type="button" class="btn btn-outline-danger"
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-title="Remove gene list">
                                    <i class="fa fa-trash"></i>
                                    <span class="d-none d-lg-inline">Remove</span>
                                </button>
                            </div>
                        </div>
                    </fieldset>

                    <hr>
                    <table id="{{id}}_editor_table" class="display compact"
                    style="width:100%"></table>

                </div>
            </div>
        </div>
    </div>
  </div>
</div>

{% load static %}
<script>
    var gene_url = "{% url 'atlas_gene' species.species_underscore %}";
</script>
<script type="text/javascript" src="{% static 'app/js/list_editor.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/list_editor_table.js' %}"></script>
<script>

$(function() {
    // Get lists from API
    var url = "{% url 'rest:genelist-list' %}";
    var params = new URLSearchParams({ species: '{{species}}' });
    var genelist_apiURL = url + "?" + params.toString();

    fetch(genelist_apiURL)
        .then(response => response.json())
        .then(data => {
            const res = data.results;

            // Append custom lists
            var customLists = getCustomLists('{{id}}', '{{species}}');
            for (var elem in customLists) {
                res.push({
                    name: elem,
                    gene_count: customLists[elem].length,
                    type: 'custom'
                });
            }
            return res;
        })
        .then(data => {
            data.forEach((item, index) => {
                appendListGroupItem('{{id}}', item.name, item.type,
                                    item.gene_count, index, firstRender=true);
            });
        })
        .then(data => {
            // Create table
            createListEditorTable('{{id}}_editor_table');
            renderListDetail('{{id}}', '{{species}}', "{% url 'rest:gene-list' %}");

            // Update interface based on selection
            var table = $('#{{id}}_editor_table').DataTable();
            table.on('select deselect', function(e, dt, type, indexes) {
                if (type === 'row') {
                    const len = getSelectedRows('{{id}}_editor_table').length;
                    var label = len + (len === 1 ? ' gene' : ' genes');
                    $('#{{id}}_new_selected_count').text(label);

                    // Disable element if no rows are selected
                    if (len === 0) {
                        $('#{{id}}_new_selected').addClass('disabled');
                    } else {
                        $('#{{id}}_new_selected').removeClass('disabled');
                    }
                }
            });
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });

    // Get data and render table for active group list
    let previousActiveList = null;

    // Trigger data rendering on any change to .active class
    $("#{{id}}_options").on('click keyup', '.active', function (event) {
        // Prevent event triggering if element was previously active
        if ( previousActiveList && previousActiveList.is($(this)) ) {
            event.preventDefault();
            return;
        }
        previousActiveList = $(this);
        renderListDetail('{{id}}', '{{species}}', "{% url 'rest:gene-list' %}");
    });

    // Menu actions: New
    $('#{{id}}_new_empty').on('click', function(e) {
        appendCustomList('{{id}}', '{{species}}', 'Empty list', []);
    });

    $('#{{id}}_new_selected').on('click', function(e) {
        const selected = getSelectedRows('{{id}}_editor_table');
        appendCustomList('{{id}}', '{{species}}', 'Selected genes', selected);
    });

    // Menu actions: Reset
    $('#{{id}}_reset').on('click', function(e) {
        if (confirm("Do you want to reset all custom gene lists for {{species}}?")) {
            resetCustomLists('{{id}}', '{{species}}');
            redrawCustomLists('{{id}}', '{{species}}');

            // Select the first item in the list if no element is selected
            if ($("#{{id}}_options").find('a.active').length === 0) {
                $("#{{id}}_options a").first().addClass('active').click();
            }
        }
    });

    // Menu actions: Rename and remove
    $('#{{id}}_rename_btn').on('click', function(e) {
        var renameInput = $('#{{id}}_rename');
        var newName = renameInput.val().trim();

        var activeItem = $("#{{id}}_options").find('a.active');
        var name = activeItem.find('.{{id}}_group_title').text();

        var all_names = $("#{{id}}_options").find('a .{{id}}_group_title')
            .map((i, el) => $(el).text()).get();

        if (newName === '') {
            // Avoid empty list name
            renameInput.val(name);
            alert('The name of a list cannot be empty.');
        } else if (all_names.includes(newName)) {
            // Avoid duplicated name
            alert('This name is already being used for a different list.');
        } else {
            renameCustomList('{{id}}', '{{species}}', name, newName);
            redrawCustomLists('{{id}}', '{{species}}');
            //activeItem[0].setAttribute('data-list', newName);
            //activeItem.find('.{{id}}_group_title').text(newName);
        }
    });

    $('#{{id}}_remove').on('click', function(e) {
        var activeItem = $("#{{id}}_options").find('a.active');
        var name = activeItem.find('.{{id}}_group_title').text();

        if (confirm(`Do you want to remove the following list: ${name}?`)) {
            removeCustomList('{{id}}', '{{species}}', name);
            redrawCustomLists('{{id}}', '{{species}}');

            // Select the first item in the list if no element is selected
            if ($("#{{id}}_options").find('a.active').length === 0) {
                $("#{{id}}_options a").first().addClass('active').click();
            }
        }
    });

    $("#{{id}}_new_upload").on("change", function () {
        const file = this.files[0];

        if (file) {
            if (file.size > 5 * 1024 * 1024) { // 5 MB in bytes
                alert("File is too large. Please select a file smaller than 5MB.");
            } else {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const content = e.target.result;
                    const lines = content.split("\n");

                    // Detect delimiter
                    const delimiter = content.indexOf(",") > content.indexOf("\t") ? "," : "\t";

                    const dict = {};
                    lines.forEach(function (line) {
                      const columns = line.split(delimiter);
                      if (columns.length > 1) {
                        const key = columns[0].trim();
                        const value = columns[1].trim();

                        if (dict[key]) {
                          dict[key].push(value);
                        } else {
                          dict[key] = [value];
                        }
                      }
                    });

                    // Append custom list
                    for (const key in dict) {
                        appendCustomList('{{id}}', '{{species}}', key, dict[key]);
                    }
                };
                reader.readAsText(file);
            }
            // Clear selection to allow uploading the same file again
            $(this).val("");
        }
    });
});
</script>
