{% comment %}

Mockup table

{% endcomment %}

<table class="table">
    <thead>
        <tr style="border-bottom: 2px solid lightgray;">
            <th scope="col">#</span></th>
            <th scope="col">Gene ID</span></th>
            <th scope="col">Name</span></th>
            <th scope="col">Domains</span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"><span class="placeholder" style="width: 20px;"></span></th>
            <td><span class="placeholder" style="width: 110px;"></span></td>
            <td><span class="placeholder" style="width: 110px;"></span></td>
            <td><span class="placeholder" style="width: 95px;"></span></td>
        </tr>
        <tr>
            <th scope="row"><span class="placeholder" style="width: 15px;"></span></th>
            <td><span class="placeholder" style="width: 125px;"></span></td>
            <td><span class="placeholder" style="width: 90px;"></span></td>
            <td><span class="placeholder" style="width: 89px;"></span></td>
        </tr>
        <tr>
            <th scope="row"><span class="placeholder" style="width: 18px;"></span></th>
            <td><span class="placeholder" style="width: 118px;"></span></td>
            <td><span class="placeholder" style="width: 100px;"></span></td>
            <td><span class="placeholder" style="width: 100px;"></span></td>
        </tr>
    </tbody>
</table>