<!--
Mockup barplot

Create a mockup barplot
-->

<div class="row">
    <div class="col-auto" style="width: 350px; display: flex; justify-content: space-around; align-items: baseline;">
        <span class="placeholder" style="width: 20px; height: 200px;"></span>
        <span class="placeholder" style="width: 20px; height: 130px;"></span>
        <span class="placeholder" style="width: 20px; height: 120px;"></span>
        <span class="placeholder" style="width: 20px; height: 160px;"></span>
        <span class="placeholder" style="width: 20px; height: 175px;"></span>
        <span class="placeholder" style="width: 20px; height: 210px;"></span>
        <span class="placeholder" style="width: 20px; height: 120px;"></span>
        <span class="placeholder" style="width: 20px; height: 160px;"></span>
        <span class="placeholder" style="width: 20px; height: 130px;"></span>
        <span class="placeholder" style="width: 20px; height: 160px;"></span>
        <span class="placeholder" style="width: 20px; height: 120px;"></span>
    </div>
    <div class="col-auto">
        <span class="placeholder" style="height: .5em; width: 100px;"></span></br>

        <span class="placeholder" style="height: .5em; width: .5em;"></span>
        <span class="placeholder" style="height: .5em; width: 60px;"></span></br>

        <span class="placeholder" style="height: .5em; width: .5em;"></span>
        <span class="placeholder" style="height: .5em; width: 40px;"></span></br>

        <span class="placeholder" style="height: .5em; width: .5em;"></span>
        <span class="placeholder" style="height: .5em; width: 50px;"></span></br>

        <span class="placeholder" style="height: .5em; width: .5em;"></span>
        <span class="placeholder" style="height: .5em; width: 60px;"></span>
    </div>
</div>