{% comment %}

Container for rendering plots

Features:
- Loading spinner and functions to show/hide it while plot is loading

Input:
- id: prefix used in the identifiers of all elements

{% endcomment %}

<div id="{{id}}-plot" class="container" style="aspect-ratio: 16/9;">
    <div id="{{id}}-spinner" class="loading-state">
        <div class="loader"></div>
    </div>
</div>

<script type="text/javascript">
    // Loading spinner functions
    function getSpinner (id) {
        return document.getElementById(id + '-spinner');
    }

    function hideSpinner (id) {
        getSpinner(id).style.display = 'none';
    }

    function showSpinner (id) {
        getSpinner(id).style.display = 'flex';
    }
</script>