{% comment %}

Container for rendering plots

Features:
- Loading spinner and functions to show/hide it while plot is loading

Input:
- id: prefix used in the identifiers of all elements
- ratio: aspect ratio of the plot (default: not defined)

{% endcomment %}

<div id="{{ id }}-plot"
     class="container-xxl"
     style="{% if ratio %}aspect-ratio: {{ ratio }};
            {% endif %}">
    <div id="{{ id }}-spinner" class="loading-state">
        <div class="loader"></div>
    </div>
</div>
