{% comment %}

Gene expression heatmap

Input:
- id: prefix used in the identifiers of all elements
- type: gene selection based on top 'markers' per metacell (default) or
  'gene-lists'

{% endcomment %}

{% if type == 'gene-lists' %}
    {% include '../modals/list_editor.html' with id='expression' type='gene_lists' %}
{% endif %}

<style>
    .w-250px {
        width: 250px;
    }

    .mt-35px {
        margin-top: 35px;
    }
</style>

<form novalidate action="#{{ id }}">
    <div class="row g-2 mb-4 align-items-start">
        <div class="col-auto">
            {% if type|default:'markers' == 'markers' %}
                <div class="d-flex justify-content-between align-items-center small">
                    <label class="col-form-label">
                        <i class="fa fa-list-check"></i> Genes
                    </label>
                </div>

                <div class="btn-group" role="group">
                    <button type="button"
                            class="btn btn-outline-primary dropdown-toggle"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            data-bs-auto-close="outside">
                        <span id="genes_label">5 markers per cluster</span>
                    </button>
                    <div class="dropdown-menu">
                        <div class="mx-4 mb-3 w-250px">
                            <div>
                                <label class="col-form-label">
                                    <small>Number of markers per cluster</small>
                                </label>
                                <input type="range"
                                       class="js-range-slider opacity-0"
                                       id="markers"
                                       name="markers"
                                       value="0"
                                       step="0.1">
                            </div>
                        </div>
                    </div>
                </div>
            {% elif type == 'gene-lists' %}
                <div class="d-flex justify-content-between align-items-center small">
                    <label class="col-form-label">
                        <i class="fa fa-list-check"></i> Genes
                    </label>

                    <div class="d-flex gap-3">

                        <button type="button"
                                id="clear_selected_genes"
                                class="btn btn-link btn-sm d-block text-end"
                                onclick="$('#{{ id }}_gene_selection')[0].selectize.clear();">Clear selection</button>

                        <button type="button"
                                id="edit_gene_lists"
                                class="btn btn-link btn-sm d-block text-end"
                                data-bs-toggle="modal"
                                data-bs-target="#{{ id }}_gene_lists_editor">Edit gene lists...</button>
                    </div>
                </div>

                {% include '../select/gene.html' with id=id name='gene_lists' hash=id limit=10 multiple='true' selected=query.gene_lists class=' ' placeholder='Search genes, gene lists and domains...' width='400px' %}
            {% endif %}
        </div>

        <div class="col-auto">
            <div class="d-flex justify-content-between align-items-center small">
                <label class="col-form-label">
                    <i class="fa fa-list-check"></i> Metacells
                </label>
            </div>
            <div class="btn-group" role="group">
                <button type="button"
                        class="btn btn-outline-primary dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        data-bs-auto-close="outside">
                    <span id="metacells_filter">All metacells</span>
                </button>
                <div id="metacell_dropdown" class="dropdown-menu">
                    <div class="mx-4 mb-3 w-250px">

                        <div class="d-flex justify-content-between align-items-center small">
                            <label class="col-form-label">Filter metacells</label>
                            <button type="button"
                                    id="select_all_metacells"
                                    class="btn btn-link btn-sm d-block text-end"
                                    onclick="$('#metacells')[0].selectize.clear();">Select all metacells</button>
                        </div>

                        {% include '../select/metacell.html' with metacell_dict=metacell_dict selected=query.metacell_lists placeholder="All metacells selected" name='metacell_lists' %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-auto">
            <div class="d-flex justify-content-between align-items-center small">
                <label class="col-form-label">
                    <i class="fa fa-filter"></i> Fold-change thresholds
                </label>
            </div>
            <div class="btn-group" role="group">
                <button type="button"
                        class="btn btn-outline-primary dropdown-toggle flat-right-border"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        data-bs-auto-close="outside">
                    FC ≥ <span id="fc_min_value">2</span>
                </button>
                <div class="dropdown-menu">
                    <div class="mx-4 mb-3 w-250px">
                        <label for="markers" class="col-form-label">
                            <small>Minimum fold-change</small>
                        </label>

                        <input type="range"
                               class="js-range-slider opacity-0"
                               id="fc_min"
                               name="fc_min"
                               value="0"
                               step="0.1">
                    </div>
                </div>

                <button type="button"
                        class="btn btn-outline-primary dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        data-bs-auto-close="outside">
                    Scale log₂ FC ≤ <span id="clip_log2_value">0</span>
                </button>
                <div class="dropdown-menu">
                    <div class="mx-4 mb-3 w-250px">
                        <label for="markers" class="col-form-label">
                            <small>Scale maximum fold-change</small>
                        </label>

                        <input type="range"
                               class="js-range-slider opacity-0"
                               id="clip_log2"
                               name="clip_log2"
                               value="0"
                               step="0.1">

                        <p class="mt-3 text-muted small">
                            <i class="fa fa-info-circle"></i> Lower limit of selection depends on minimum fold-change.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-auto">
            <button id="{{ id }}_submit" type="submit" class="btn btn-primary mt-35px">Apply</button>
        </div>
    </div>
</form>

<!-- Gene expression heatmap form -->
<script>
    function toggleSubmitButton(id) {
        var elem = $(`#${id}_gene_selection`)[0].selectize;
        var isEmpty = elem.items.length === 0;
        $(`#${id}_submit`).prop('disabled', isEmpty);
    }

    $(function() {
        // Change metacell selection label
        function updateMetacellSelectionLabel (count) {
            var label = count > 0 ? 'Selected metacells' : 'All metacells';
            $('#metacells_filter').text(label);
        }

        const metacell_selectize = $('#metacells')[0].selectize;
        var count = metacell_selectize.items.length;
        updateMetacellSelectionLabel(count);

        metacell_selectize.on('change', function() {
            var count = this.items.length;
            updateMetacellSelectionLabel(count);
        });

        {% if type == 'gene-lists' %}
            // Enable/disable submit button
            toggleSubmitButton('{{id}}');
            $('#expression_gene_selection')[0].selectize.on('change', function() {
                toggleSubmitButton('{{id}}');
            });
        {% endif %}
    });

    function updateText (id, from_min_id, suffix = "") {
        return function update(data) {
            $(id).text(data.from + suffix);

            // Update from_min of given ionRangeSlider
            if (from_min_id && from_min_id !== null) {
                $(from_min_id).data("ionRangeSlider").update({from_min: data.from})
            }
        }
    }

    $("#markers").ionRangeSlider({
        min: 1,
        max: 21,
        from: {{query.markers|default:5}},
        grid: true,
        skin: "round",
        onStart:  updateText("#genes_label", undefined, suffix=" markers per cluster"),
        onChange: updateText("#genes_label", undefined, suffix=" markers per cluster"),
        onUpdate: updateText("#genes_label", undefined, suffix=" markers per cluster")
    });

    $("#clip_log2").ionRangeSlider({
        min: 0,
        max: 6,
        from: {{query.clip_log2|default:6}},
        step: 0.1,
        grid: true,
        skin: "round",
        from_min: 2,
        from_shadow: true,
        onStart: updateText("#clip_log2_value"),
        onChange: updateText("#clip_log2_value"),
        onUpdate: updateText("#clip_log2_value")
    });

    $("#fc_min").ionRangeSlider({
        min: 0,
        max: 6,
        from: {{query.fc_min|default:2}},
        step: 0.1,
        grid: true,
        skin: "round",
        onStart: updateText("#fc_min_value", "#clip_log2"),
        onChange: updateText("#fc_min_value", "#clip_log2"),
        onUpdate: updateText("#fc_min_value", "#clip_log2")
    });

    <!-- Simplify multiple select data into a single comma-separated value -->
    function modifyFormQuery (elem, e, id, dataset, multiple = []) {
        e.preventDefault();

        // Modify form URL
        var formData = new FormData(elem);
        var url = new URL(e.target.action);
        for (let [key, value] of formData.entries()) {
            url.searchParams.set(key, value);
        }

        // Get values
        for (var i in multiple) {
            var param = multiple[i];
            var values = formData.getAll(param);
            url.searchParams.set(param, values.join(','));

            // Process values from user lists as hidden query parameters
            if (param == 'gene_lists') {
                // Get genes from user lists
                var lists = getUserLists(`${id}_${param}`, dataset);
                let matches = lists.filter(list => values.includes(list.name));
                var genes = matches.flatMap(list => list.items);

                // Get remaining lists
                var names = matches.flatMap(list => list.name);
                var diff = values.filter(value => !names.includes(value));
                genes = diff.concat(genes);

                // Set query parameter
                url.searchParams.set('genes', genes.join(','));
            }
        }

        // Maintain commas in query params
        href = url.href.replaceAll('%2C', ',');
        window.location.href = href;
    }

    $('form').on('submit', function(e) {
        modifyFormQuery(this, e, '{{id}}', '{{dataset.slug}}',
                        ['metacell_lists' {% if type == "gene-lists" %}, 'gene_lists' {% endif %}]);
    });
</script>

<!-- Use column due to vega-lite's bug with containers for concatenated plots -->
{% if type|default:'markers' == 'markers' or query.genes %}
    <div class="row">
        <div class="col-10 col-sm-11">{% include '../plot_container.html' with id=id ratio='16/9' %}</div>
    </div>

    {% load static %}
    <script type="text/javascript"
            src="{% static 'app/js/plots/expression_heatmap.js' %}"></script>

    <script type="text/javascript">
    $(function() {
        var url = "{% url 'rest:metacellgeneexpression-list' %}";

        var params = new URLSearchParams({
            dataset: '{{dataset.slug}}',
            metacells: $("#metacells").val().join(","),
            fc_min: $("#fc_min").val(),
            {% if not query.genes %} n_markers: $("#markers").val(), {% endif %}
            sort_genes: true,
            {% if query.genes %} genes: '{{query.genes}}', {% endif %}
            log2: true,
            clip_log2: $("#clip_log2").val(),
            limit: 0
        });
        var apiURL = url + "?" + params.toString();

        fetch(apiURL)
            .then(response => response.json())
            .then(data => {
                createExpressionHeatmap("#{{id}}-plot", "{{dataset.slug}}", data)
            })
            .catch(error => console.error('Error fetching data:', error));

        appendDataMenu('{{id}}', apiURL, 'Metacell gene expression');
    });
    </script>
{% elif type == 'gene-lists' and not query.genes %}
    <p class="text-muted">
        <i class="fa fa-circle-exclamation"></i>
        Select genes to render heatmap.
    </p>
{% endif %}
