{% comment %}

Gene correlation plot

Input:
- id
- dataset
- gene

{% endcomment %}

{% include '../plot_container.html' with id=id %}

{% load static %}
<!-- Plot expression data to compare two genes based on table selection -->
<script type="module">
    import { plotGeneExpressionComparison }
        from "{% static 'app/js/atlas/expression_compare.js' %}";
    document.addEventListener('DOMContentLoaded', function() {
        plotGeneExpressionComparison('{{id}}', '{{dataset.slug}}', '{{gene}}')
    });
</script>
