{% comment %}

Metacell projection plot

Input:
- id: prefix used in the identifiers of all elements

{% endcomment %}

<div id="{{ id }}-plot-ui" class="row g-2 mb-4 align-items-end">
    <!-- Toggle visibility -->
    <div class="col-auto">
        <div class="d-flex justify-content-between align-items-center small">
            <label class="col-form-label">
                <i class="fa fa-eye"></i> View options
            </label>
        </div>

        <div class="btn-group d-flex" role="group">
            <input type="checkbox"
                   class="btn-check"
                   id="{{ id }}-cells"
                   autocomplete="off"
                   checked>
            <label class="btn btn-outline-primary" for="{{ id }}-cells">
                Cells
            </label>

            <input type="checkbox"
                   class="btn-check"
                   id="{{ id }}-metacells"
                   autocomplete="off"
                   checked>
            <label class="btn btn-outline-primary" for="{{ id }}-metacells">
                Metacells
            </label>

            <input type="checkbox"
                   class="btn-check"
                   id="{{ id }}-labels"
                   autocomplete="off"
                   checked>
            <label class="btn btn-outline-primary" for="{{ id }}-labels">
                Labels
            </label>

            <input type="checkbox"
                   class="btn-check"
                   id="{{ id }}-links"
                   autocomplete="off">
            <label class="btn btn-outline-primary" for="{{ id }}-links">
                Links
            </label>
        </div>
    </div>

    <!-- Metacell selection -->
    <div class="col-auto">
        <div class="d-flex justify-content-between align-items-center small">
            <label class="col-form-label">
                <i class="fa fa-object-group"></i> Metacell selection
            </label>
            <i class="fa fa-circle-question"
               data-bs-toggle="tooltip"
               data-bs-placement="top"
               data-bs-title="Click and drag in the plot to select metacells"></i>
        </div>
        <div class="btn-group d-flex" role="group">
            <button type="button" class="btn btn-outline-primary" id="list_markers">
                List markers
            </button>
            <button type="button" class="btn btn-outline-primary" id="filter_heatmap">
                Filter heatmap
            </button>
        </div>
    </div>
</div>

{% include '../plot_container.html' with id=id ratio='16/9' %}

{% load static %}
<script type="module">
    import { initProjection } from "{% static 'app/js/atlas/projection.js' %}";
    initProjection(
        "{{id}}", "{{dataset.slug}}", "{{dataset}}",
        {% if gene %}"{{ gene }}"{% else %}null{% endif %}
    );
</script>
