{% comment %}

Heatmap plot of module activity (module eigengenes)

Input:
- id: prefix used in the identifiers of all elements
- dataset: Dataset object

{% endcomment %}

{% load static %}

<!-- Use column due to vega-lite's bug with containers for concatenated plots -->
<div class="row">
    <div class="col-10 col-sm-11">
        {% include "../plot_container.html" with id=id ratio="16/8" %}
    </div>
</div>

<script type="module">
    import { loadEigengenes } from "{% static 'app/js/atlas/module_activity.js' %}";
    loadEigengenes("{{id}}", "{{dataset.slug}}");
</script>
