{% comment %}

Compare gene modules

Input:
- id: prefix used in the identifiers of all elements
- dataset: Dataset object

{% endcomment %}

{% load static %}

<div class="row g-2 mb-4 align-items-start">
    <div class="col-auto">
        <div class="d-flex justify-content-between align-items-center small">
            <label class="col-form-label">
                <i class="fa fa-list-check"></i>
                Dataset for comparison
            </label>
        </div>

        <div class="btn-group w-400px" role="group">
            {% include "../select/dataset.html" with id="modules" redirect="query" placeholder="Search..." prefix="" class="w-100" dataset=dataset2.slug anchor="modules" %}
        </div>
    </div>
</div>

{% if not dataset2 %}
    <p class="text-muted">
        <i class="fa fa-circle-exclamation"></i>
        Choose a dataset to compare.
    </p>
{% elif dataset2 == dataset %}
    <p class="text-muted">
        <i class="fa fa-circle-exclamation"></i>
        Choose a dataset different than the current one to compare.
    </p>
{% else %}
    <div class="row">
        <div class="col-12 col-md-5 col-lg-6">
            {% include "../plot_container.html" with id=id ratio="16/9" %}
        </div>

        <!-- Module comparison table -->
        <div class="col-12 col-md-7 col-lg-6">
            <table id="{{ id }}-module-compare-table" class="table table-sm table-striped small"></table>
        </div>
    </div>

    <!-- JavaScript code -->
    <script type="module">
        {% load static %}
        import { loadModuleSimilarityPlot } from "{% static 'app/js/atlas/module_similarity.js' %}";
        import { loadModuleGeneTable } from "{% static 'app/js/atlas/module_overlaps.js' %}";

        // Load intersecting and unique genes from selected modules in the plot
        const id = "{{ id }}";
        const dataset = "{{ dataset.slug }}";
        const label = "{{ dataset }}";
        {% if dataset2 %}
            const dataset2 = "{{ dataset2.slug }}";
            const label2 = "{{ dataset2 }}";
        {% else %}
            const dataset2 = null;
            const label2 = null;
        {% endif %}

        loadModuleSimilarityPlot(id, dataset, label, dataset2, label2, loadModuleGeneTable);
    </script>
{% endif %}
