{% comment %}

Ortholog expression plots

Input:
- species
- gene

{% endcomment %}

<style>
    #ortholog-species-img {
        box-shadow: 0px 0px 2px white !important
    }
</style>

{% include '../plot_container.html' with id='orthologs' %}
<template id="ortholog-header-template">
    <h2 class="h5 pt-2">
        <img id="ortholog-species-img"
             alt="Image of species"
             class="rounded"
             height="24px">
        <i><span id="ortholog-species">Species</span></i>
    </h2>
</template>

<template id="ortholog-template">
    <h3 class="h6 pt-2">
        <a id="ortholog-gene-href" href="">
            <span id="ortholog-gene">Gene</span>
        </a>
        expression in
        <a id="ortholog-dataset-href" href="">
            <span id="ortholog-dataset">Dataset</span>
        </a>
    </h3>
    <div id="single-ortholog-plot" class="container-xxl"></div>
</template>

{% load static %}
<script type="text/javascript"
        src="{% static 'app/js/plots/expression_plot.js' %}"></script>

<!-- Plot ortholog expression data -->
<script type="text/javascript">
    // Create URL to fetch ortholog data
    var url = '{% url 'rest:ortholog-list' %}';
    var params = new URLSearchParams({
	    gene: '{{gene}}',
	    expression: true,
	    limit: 0
    });
    var apiURL = url + "?" + params.toString();
    appendDataMenu('orthologs', apiURL, 'Ortholog expression');

    // Fetch data from the API and create plots
    const header    = document.getElementById('ortholog-header-template');
    const template  = document.getElementById('ortholog-template');
    const container = document.getElementById('orthologs-plot');

    fetch(apiURL)
        .then(response => response.json())
        .then(data => {
            if (data.length === 0) {
                container.innerHTML = "<p class='text-muted'><i class='fa fa-circle-exclamation'></i> No orthologs found.</p>"
            } else {
                data.forEach(item => {
                    gene = item.gene_name;
                    if (gene != '{{gene}}') {
                        headerClone = document.importNode(header.content, true);

                        if (item.datasets[0]) {
                            headerClone.getElementById('ortholog-species-img').src = item.datasets[0].species_image_url;
                            headerClone.getElementById('ortholog-species-img').alt = "Image of " + item.species;
                        }
                        headerClone.getElementById('ortholog-species').innerText = item.species;
                        container.appendChild(headerClone);

                        for (const d in item.datasets) {
                            const dataset = item.datasets[d];

                            // Header info
                            clone = document.importNode(template.content, true);
                            clone.getElementById('ortholog-dataset').innerHTML = dataset.name || `<i>${item.species}</i>`;
                            clone.getElementById('ortholog-dataset-href').href = `/atlas/${dataset.slug}`;

                            // Dataset info
                            clone.getElementById('ortholog-gene-href').innerText = gene;
                            clone.getElementById('ortholog-gene-href').href = `/atlas/${dataset.slug}/gene/${gene}`;
                            clone.getElementById('single-ortholog-plot').id = dataset.slug + "-" + item.gene_slug;
                            container.appendChild(clone);

                            // Dataset gene expression plot
                            createExpressionBubblePlot(
                                "#" + dataset.slug + "-" + item.gene_slug,
                                gene, item.expression[dataset.slug]);
                        };
                    }
                })
            }
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        })
        .finally(() => {
            hideSpinner('orthologs');
        });
</script>
