{% comment %}

Ortholog expression plots

Input:
- species
- gene

{% endcomment %}

<style>
    #ortholog-species-img {
        box-shadow: 0px 0px 2px white !important
    }
</style>

{% include '../plot_container.html' with id='orthologs' %}
<template id="ortholog-header-template">
    <h2 class="h5 pt-2">
        <img id="ortholog-species-img"
             alt="Image of {{species}}"
             class="rounded"
             height="24px" width="auto">
        <i><span id="ortholog-species">Species</span></i>
    </h2>
</template>

<template id="ortholog-template">
    <h3 class="h6 pt-2">
        <a id="ortholog-gene-href" href="">
            <span id="ortholog-gene">Gene</span>
        </a>
        expression in
        <a id="ortholog-dataset-href" href="">
            <span id="ortholog-dataset">Dataset</span>
        </a>
    </h3>
    <div id="single-ortholog-plot" class="container-xxl"></div>
</template>

{% load static %}
<script type="module">
    // Create URL to fetch ortholog data
    import { loadOrthologExpression } from "{% static 'app/js/atlas/expression_ortholog.js' %}";
    loadOrthologExpression("{{gene}}");
</script>
