{% comment %}

SAMap scores plot

Input:
- id: prefix used in the identifiers of all elements

{% endcomment %}

<style>
    .w-400px {
        width: 400px;
    }

    .w-250px {
        width: 250px;
    }
</style>

{% load static %}
<div class="row g-2 mb-4 align-items-start">
    <div class="col-auto">
        <div class="d-flex justify-content-between align-items-center small">
            <label class="col-form-label">
                <i class="fa fa-list-check"></i>
                Dataset for comparison
            </label>
        </div>

        <div class="btn-group w-400px" role="group">
            {% include '../select/dataset.html' with id='samap' redirect='query' placeholder='Search...' prefix='' class='w-100' dataset=dataset2.slug %}
        </div>
    </div>

    <div class="col-auto">
        <div class="d-flex justify-content-between align-items-center small">
            <label class="col-form-label">
                <i class="fa fa-filter"></i>
                SAMap threshold
            </label>
        </div>
        <div class="btn-group" role="group">
            <button type="button"
                    class="btn btn-outline-primary dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    data-bs-auto-close="outside">
                SAMap score ≥ <span id="samap_min_value">5</span> %
            </button>
            <div class="dropdown-menu">
                <div class="mx-4 mb-3 w-250px">
                    <form novalidate action="#{{ id }}">
                        <label for="markers" class="col-form-label">
                            <small>SAMap minimum alignment score</small>
                        </label>

                        <input type="range"
                               class="js-range-slider opacity-0"
                               id="samap_min"
                               name="samap_min"
                               value="0"
                               step="1">

                        <div class="d-flex justify-content-end">
                            <button id="{{ id }}_submit" type="submit" class="btn btn-primary mt-3">
                                Apply
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="module">
    import { initRangeSlider } from "{% static 'app/js/utils/range_slider.js' %}";
    initRangeSlider("#samap_min",
        { min: 0, max: 100, from: {{query.samap_min|default:5}} },
        ["#samap_min_value", undefined]
    );

    import { handleFormSubmit } from "{% static 'app/js/atlas/samap_compare.js' %}";
    handleFormSubmit();
</script>

<!-- Use column due to vega-lite's bug with containers for concatenated plots -->
{% if dataset2 %}
    <div class="row">
        <div class="col-10 col-sm-11">
            {% include '../plot_container.html' with id=id ratio='16/9' %}
        </div>
    </div>

    <script type="module">
        import { initSAMap } from "{% static 'app/js/atlas/samap_compare.js' %}";
        initSAMap('{{id}}', '{{dataset}}', '{{dataset.slug}}', '{{dataset2}}', '{{dataset2.slug}}');
    </script>
{% else %}
    <p class="text-muted">
        <i class="fa fa-circle-exclamation"></i>
        Select dataset to compare against.
    </p>
{% endif %}
