{% comment %}

SAMap scores plot

Input:
- id: prefix used in the identifiers of all elements

{% endcomment %}
<div class="row g-2 mb-4 align-items-start">
    <div class="col-auto">
        <div class="d-flex justify-content-between align-items-center small">
            <label class="col-form-label">
                <i class="fa fa-list-check"></i>
                Dataset for comparison
            </label>
        </div>
        <div class="btn-group" role="group" style="width: 400px;">
            {% include '../select/dataset.html' with id='samap' redirect='query' placeholder='Search...' prefix='' class='w-100' dataset=dataset2.slug %}
        </div>
    </div>
    <div class="col-auto">
        <div class="d-flex justify-content-between align-items-center small">
            <label class="col-form-label">
                <i class="fa fa-filter"></i>
                SAMap threshold
            </label>
        </div>
        <div class="btn-group" role="group">
            <button type="button"
                    class="btn btn-outline-primary dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    data-bs-auto-close="outside">
                SAMap score ≥ <span id="samap_min_value">5</span> %
            </button>
            <div class="dropdown-menu">
                <div class="mx-4 mb-3" style="width: 250px;">
                    <form novalidate action="#{{ id }}">
                        <label for="markers" class="col-form-label">
                            <small>SAMap minimum alignment score</small>
                        </label>
                        <input type="range"
                               class="js-range-slider"
                               id="samap_min"
                               name="samap_min"
                               value="0"
                               step="1"
                               style="opacity: 0">
                        <div class="d-flex justify-content-end">
                            <button id="{{ id }}_submit" type="submit" class="btn btn-primary mt-3">Apply</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
function updateText (id, from_min_id, suffix = "") {
    return function update(data) {
        $(id).text(data.from + suffix);

        // Update from_min of given ionRangeSlider
        if (from_min_id && from_min_id !== null) {
            $(from_min_id).data("ionRangeSlider").update({from_min: data.from})
        }
    }
}

$("#samap_min").ionRangeSlider({
    min: 0,
    max: 100,
    from: {{query.samap_min|default:5}},
    step: 1,
    grid: true,
    skin: "round",
    onStart: updateText("#samap_min_value", undefined),
    onChange: updateText("#samap_min_value", undefined),
    onUpdate: updateText("#samap_min_value", undefined)
});

<!-- Maintain query when changing samap_min -->
function modifyFormQuery (elem, e) {
    e.preventDefault();

    // Modify form URL
    var formData = new FormData(elem);
    var url = new URL(e.target.action);
    for (let [key, value] of formData.entries()) {
        url.searchParams.set(key, value);
    }
    window.location.href = url.href;
}

$('form').on('submit', function(e) {
    modifyFormQuery(this, e);
});
</script>
<!-- Use column due to vega-lite's bug with containers for concatenated plots -->
{% if dataset2 %}
    <div class="row">
        <div class="col-10 col-sm-11">{% include '../plot_container.html' with id=id ratio='16/9' %}</div>
    </div>
    {% load static %}
    <script type="text/javascript"
            src="{% static 'app/js/plots/samap_sankey_plot.js' %}"></script>
    <script type="text/javascript">
    $(function() {
        var url = "{% url 'rest:samap-list' %}";

        var params = new URLSearchParams({
    		dataset: '{{dataset.slug}}',
    		dataset2: '{{dataset2.slug}}',
    		threshold: $("#samap_min").val(),
    		limit: 0
    	});
    	var apiURL = url + "?" + params.toString();

        fetch(apiURL)
            .then(response => response.json())
            .then(data => {
                if (data.length) {
                    createSAMapSankey("#{{id}}-plot", data, '{{dataset}}', '{{dataset2}}');
                } else {
                    $('#{{id}}-plot').html(
                        '<p class="text-muted"><i class="fa fa-circle-exclamation"></i> No data available for the selected datasets.</p>'
                    );
                }
            })
            .catch(error => console.error('Error fetching data:', error))
            .finally(() => {
                hideSpinner('{{id}}');
            });

        appendDataMenu('{{id}}', apiURL, 'SAMap scores');
    });
    </script>
{% else %}
    <p class="text-muted">
        <i class="fa fa-circle-exclamation"></i>
        Select dataset to compare against.
    </p>
{% endif %}
