{% extends "base.html" %}

{% block content %}
<h1 class="h3" id="about">About us</h1>

<p>The Biodiversity Cell Atlas is a coordinated international effort aimed at molecularly characterizing cell types across the eukaryotic tree of life. Our mission is to pave the way for the efficient expansion of cell atlases to hundreds of species.</p>

<h1 class="h3" id="contact">Contact us</h1>

<p>Contact us at <a href="https://crg.eu" target="_blank">Centre for Genomic Regulation (CRG)</a>.</p>

<h1 class="h3" id="legal">Legal notice</h1>

<p>The Biodiversity Cell Atlas website was developed and is maintained by <a href="https://crg.eu" target="_blank">Centre for Genomic Regulation (CRG)</a>, located in Barcelona, Spain. By accessing and using this site, you agree to comply with all applicable laws and regulations. The content on this website is for informational purposes only. For any inquiries, please <a href="#contact">contact us</a>.</p>

<h1 class="h3" id="privacy">Privacy notice</h1>

<p>Our website utilizes cookies solely to store your preferences, and we do not collect or retain any identifiable personal data. For inquiries, please <a href="#contact">contact us</a>.</p>

{% endblock content %}