{% extends "base.html" %}

{% block title %}Cell Atlas{% endblock title %}

{% block content %}

{% load static %}
{% include 'web_app/atlas-select.html' %}

<div class="container">
    <div class="row">
        <div class="col-2 align-self-center pt-2" style="background-color: lightgray; height: 140px; text-align: center; align-items: center; color: white;">
            <i class="fa fa-{{icon}} fa-3x d-block d-md-none"></i>
            <i class="fa fa-{{icon}} fa-5x d-none d-md-block d-lg-none"></i>
            <i class="fa fa-{{icon}} fa-6x d-none d-lg-block"></i>
            <p><small>No species selected</small></p>
        </div>
        <div class="col-10">
            <span style="display: inline-block; height: 1em; vertical-align: middle; background-color: lightgray; width: 290px;"></span></br>
            <span style="display: inline-block; height: 1em; vertical-align: middle; background-color: lightgray; width: 260px;"></span></br>
            <span style="display: inline-block; height: 1em; vertical-align: middle; background-color: lightgray; width: 280px;"></span></br>
            <span style="display: inline-block; height: 1em; vertical-align: middle; background-color: lightgray; width: 270px;"></span></br>
            <span style="display: inline-block; height: 1em; vertical-align: middle; background-color: lightgray; width: 150px;"></span></br>
        </div>
    </div>
</div>

{% endblock content %}