{% extends "base.html" %}

{% block content %}

{% load static %}
<h1 class="h3" id="projection">Metacell 2D projection</h1>

<div id="projection-plot" class="container" style="aspect-ratio: 16/9;"></div> </br>

<div class="btn-group" role="group" aria-label="Metacell 2D projection options">
  <input type="checkbox" class="btn-check" id="projection-cells" autocomplete="off" checked>
  <label class="btn btn-outline-primary" for="projection-cells">Cells</label>

  <input type="checkbox" class="btn-check" id="projection-metacells" autocomplete="off" checked>
  <label class="btn btn-outline-primary" for="projection-metacells">Metacells</label>

  <input type="checkbox" class="btn-check" id="projection-labels" autocomplete="off" checked>
  <label class="btn btn-outline-primary" for="projection-labels">Labels</label>
  
  <input type="checkbox" class="btn-check" id="projection-links" autocomplete="off">
  <label class="btn btn-outline-primary" for="projection-links">Links</label>
</div>

<script type="text/javascript" src="{% static 'web_app/js/scatterplot.js' %}"></script>
<script type="text/javascript">
	createMetacellProjection(
		"#projection-plot",
		{{ sc_data|safe }}, {{ mc_data|safe }}, {{ mc_links|safe }})
</script>

<h1 class="h3 pt-5" id="expression">Gene expression</h1>

<div id="heatmap-plot" class="container" style="aspect-ratio: 16/9;"></div>

<script type="text/javascript" src="{% static 'web_app/js/heatmap.js' %}"></script>
<script type="text/javascript">
	createExpressionHeatmap("#heatmap-plot", {{ expr|safe }})
</script>

{% endblock content %}