{% extends "base.html" %}

{% block title %}{{species}} Overview{% endblock title %}

{% block content %}

{% load static %}
{% include 'web_app/components/atlas_selection.html' %}

<div class="container">
<h1 class="h3 pt-2" id="projection">Metacell 2D projection</h1>

<div id="projection-plot" class="container" style="aspect-ratio: 16/9;"></div> </br>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <label class="col-form-label px-2">Toggle </label>
    <div class="btn-group" role="group" aria-label="Metacell 2D projection options">
      <input type="checkbox" class="btn-check" id="projection-cells" autocomplete="off" checked>
      <label class="btn btn-outline-primary" for="projection-cells">Cells</label>
    
      <input type="checkbox" class="btn-check" id="projection-metacells" autocomplete="off" checked>
      <label class="btn btn-outline-primary" for="projection-metacells">Metacells</label>
    
      <input type="checkbox" class="btn-check" id="projection-labels" autocomplete="off" checked>
      <label class="btn btn-outline-primary" for="projection-labels">Labels</label>
      
      <input type="checkbox" class="btn-check" id="projection-links" autocomplete="off">
      <label class="btn btn-outline-primary" for="projection-links">Links</label>
    </div>
</div>

<script type="text/javascript" src="{% static 'web_app/js/scatterplot.js' %}"></script>
<script type="text/javascript">
	createMetacellProjection(
		"#projection-plot",
		{{ sc_data|safe }}, {{ mc_data|safe }}, {{ mc_links|safe }})
</script>

<h1 class="h3 pt-5" id="expression">Gene expression</h1>

<!-- Use columns to workaround vega-lite's bug for concatenated plots within containers -->
<div class="row">
    <div class="col-10 col-sm-11">
        <div id="heatmap-plot" class="container" style="aspect-ratio: 16/9;"></div>
    </div>
</div>

<script type="text/javascript" src="{% static 'web_app/js/heatmap.js' %}"></script>
<script type="text/javascript">
	createExpressionHeatmap("#heatmap-plot", {{ expr|safe }}, {{ expr_genes|safe }}, {{ expr_metacells|safe }})
</script>
</div>
{% endblock content %}