{% extends "base.html" %}

{% block content %}
<h1 class="h3">Latest news</h1>
<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-2">
  <div class="col">
  	<a href="#">
    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.unsplash.com/photo-1470165473874-023613603389'); background-repeat: no-repeat; background-position: center center; background-size: 800px;">
      <div class="d-flex flex-column h-100 p-5 text-white text-shadow-1">
        <h2 class="h4">New release: scRNA-seq data for <i>Vulpes lagopus</i></h2>
        <ul class="d-flex list-unstyled mt-auto">
          <li class="d-flex align-items-center">
            <span><i class="fa fa-calendar-days"></i> <small>3 days ago</small></span>
          </li>
        </ul>
      </div>
    </div>
    </a>
  </div>

  <div class="col">
    <a href="#">
    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.unsplash.com/photo-1535780429486-94a540c2f0f9'); background-repeat: no-repeat; background-position: center center; background-size: 800px;">
      <div class="d-flex flex-column h-100 p-5 text-white text-shadow-1">
        <h2 class="h4">On flowering species: new publication</h2>
        <ul class="d-flex list-unstyled mt-auto">
          <li class="d-flex align-items-center">
            <span><i class="fa fa-calendar-days"></i> <small>5 days ago</small></span>
          </li>
        </ul>
      </div>
    </div>
    </a>
  </div>

  <div class="col">
    <a href="#">
    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.unsplash.com/photo-1523947204020-b03d6498b702'); background-repeat: no-repeat; background-position: center center; background-size: 800px;">
      <div class="d-flex flex-column h-100 p-5 text-shadow-1">
        <h2 class="h4">Improved resources for cnidarian organisms</i></h2>
        <ul class="d-flex list-unstyled mt-auto">
          <li class="d-flex align-items-center">
            <span><i class="fa fa-calendar-days"></i> <small>22 Oct 2024</small></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </a>
</div>

<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 pt-2 mt-3">
	<div class="col">
		<h1 class="h3">Recent publications</h1>
		<div class="bd-example m-0 border-0">
		    <ul class="list-group list-group-flush">
		        <li class="list-group-item">
		            <a href="#"><b>On flowering species</b></a></br>
		            <small>
			      		<span class="fa fa-calendar-days"></span> 26 Apr 2022
			      		<span class="fa fa-file-lines ps-1"></span> Plant Cell
			      	</small>
		        </li>
		        <li class="list-group-item">
		            <a href="#"><b>The Biodiversity Cell Atlas: mapping the tree of life at cellular resolution</b></a></br>
		            <small>
			      		<span class="fa fa-calendar-days"></span> 7 Jun 2021
			      		<span class="fa fa-file-lines ps-1"></span> Nature Communications
			      	</small>
		        </li>
		    </ul>
		</div>
	</div>
		
	<div class="col">
	    <h1 class="h3">BCA in meetings</h1>
		<div class="bd-example m-0 border-0">
		    <ul class="list-group list-group-flush">
		        <li class="list-group-item">
			      	<a href="#"><b>Barcelona Bioinformatics</b></a></br>
			      	<small>
			      		<span class="fa fa-calendar-days"></span> 5 Nov 2024
			      		<span class="fa fa-map-pin ps-1"></span> Barcelona 🇪🇸
			      	</small>
			    </li>
			    <li class="list-group-item">
			        <a href="#"><b>Bio Evo 2024</b></a></br>
			        <small>
			      		<span class="fa fa-calendar-days"></span> 30 Oct 2024
			      		<span class="fa fa-map-pin ps-1"></span> Boston 🇺🇸
			      	</small>
			    </li>
			</ul>
	    </div>
	</div>
		
	<div class="col">
		<h1 class="h3">Tutorials</h1>
		<div class="bd-example m-0 border-0">
			<ul class="list-group list-group-flush">
			    <li class="list-group-item"><a href="#"><b>How to use the BCA website?</b></a></br><small><span class="fa-brands fa-youtube"></span> 3m40</small></li>
			    <li class="list-group-item"><a href="#"><b>Downloading BCA data</b></a></br><small><span class="fa-brands fa-youtube"></span> 5m23</small></li>
			    <li class="list-group-item"><a href="#"><b>Using REST for programmatic access</b></a></br><small>Text tutorial</small></li>
			</ul>
		</div>
	</div>
</div>
{% endblock content %}
