{% extends "./atlas.html" %}

{% comment %}

Gene expression and orthologs comparison page for a gene from a given species

Features:
- Gene selection via select element or using URL path parameters, such as
  `/atlas/Homo_sapiens/gene/BRCA1`
- Mockup plot if no gene is selected
- Expression data for selected gene and orthologs:
    - Fetches via REST API
    - Plots for data
    - Download data button
    - Copy link to clipboard button

Input:
- species: Species object from `models.py`

{% endcomment %}

{% block title %}{{dataset}} {{gene|default:'Gene'}}{% endblock title %}

{% block content %}

{% include '../components/modals/list_editor.html' with id='selection' type='gene_lists' %}

<div class="d-flex justify-content-between align-items-center small">
    <label class="col-form-label">
        <i class="fa fa-dna"></i>
        Gene selection
    </label>
    <div class="d-flex gap-3">
        <a href="javascript:void(0);" data-bs-toggle="modal"
        data-bs-target="#selection_gene_lists_editor">
            Select from gene lists...
        </a>
        <a href="javascript:void(0);" data-bs-toggle="modal"
        data-bs-target="#selection_alignment">
            Select from sequence alignment...
        </a>
    </div>
</div>

{% include '../components/select/gene.html' with gene=gene placeholder='Search gene by symbol, description or domains...' display='all' redirect='arg' %}

{% include '../components/warning_alert.html' %}

{% if gene %}
    <h1 class="h3 pt-2" id="projection">
        Metacell projection
        {% include '../components/button/copy_to_clipboard.html' with id='projection' %}
        {% include '../components/button/data_download.html' with id='projection' %}
    </h1>
    {% include '../components/plots/metacell_projection.html' with id='projection' %}

    <h1 class="h3 pt-2" id="expression">
        Gene expression
        {% include '../components/button/copy_to_clipboard.html' with id='expression' %}
        {% include '../components/button/data_download.html' with id='expression' %}
    </h1>
    {% include '../components/plots/expression_plot.html' with species=species gene=gene %}

    <h1 class="h3 pt-2" id="correlation">
        Gene correlation
        {% include '../components/button/copy_to_clipboard.html' with id='correlation' %}
        {% include '../components/button/data_download.html' with id='correlation' %}
    </h1>
    <div class="row">
        <div class="col-md-8">
            {% include '../components/tables/gene_correlation.html' with id='correlation' dataset=dataset species=species gene=gene %}
        </div>
        <div class="col-md-4" style="padding-top: 80px;">
            {% include '../components/plots/gene_correlation.html' with id='correlation' dataset=dataset species=species gene=gene gene2='' %}
        </div>
    </div>

    <h1 class="h3 pt-2" id="orthologs">
        Orthologs
        {% include '../components/button/copy_to_clipboard.html' with id='orthologs' %}
        {% include '../components/button/data_download.html' with id='orthologs' %}
    </h1>
    {% include '../components/plots/ortholog_plots.html' with species=species gene=gene %}

{% else %}
    {% include '../components/mockup/barplot.html' %}
{% endif %}

{% endblock content %}
