{% extends "./atlas.html" %}

{% comment %}

Species info page

Features:
- Species description and image
- Table metadata (including taxonomic information)
- Download button for species info and metadata
- Copy link to clipboard button

Input:
- species: Species object from `models.py`

{% endcomment %}

{% block title %}{{dataset}} Information{% endblock title %}

{% block content %}

{% load static %}
{% include '../components/warning_alert.html' %}

<div class="row pt-2">
    <div class="col-md-4">

        <!-- Show image and credits -->
        <img src="{{ dataset.image_url|default:species.image_url }}" style="width: 100%;">
        {% if dataset.image_source or species.image_source %}
            <span class="small text-secondary"><i>
                Image credits:
                <a href="{{dataset.image_url|default:species.image_url}}"
                target="_blank">
                    {{dataset.image_source|default:species.image_source}}
                </a>
            </i></span>
        {% endif %}

        <h2 class="h5 mt-4">Dataset information</h2>

        <table class="table table-sm table-striped"
        style="margin: 0 auto; hyphens: auto; word-break: break-word;">
            <tbody>
                <tr>
                    <td><span style="font-weight: 500;">
                        Release date
                    </span></td>
                    <td class="text-end">
                        {{dataset.date_created|date:"j F Y"}}
                    </td>
                </tr>
                <tr>
                    <td><span style="font-weight: 500;">
                        Last update
                    </span></td>
                    <td class="text-end">
                        {{dataset.date_updated|date:"j F Y"}}
                    </td>
                </tr>
            </tbody>
        </table>

        <h2 class="h5 mt-4">Metadata</h2>

        <table class="table table-sm table-striped"
        style="margin: 0 auto; hyphens: auto; word-break: break-word;">
            <tbody>
                {% for meta in species.meta_set.all %}
                {% if meta.key != "species" %}
                    <tr>
                        <td><span style="font-weight: 500;">
                            {% if meta.key == "taxon_id" %}
                                NCBI Taxonomy
                            {% else %}
                                {{ meta.key | capfirst }}
                            {% endif %}
                        </span></td>
                        <td class="text-end">
                            {% if meta.query_url %}
                                <a target="_blank" href="{{meta.query_url}}">
                                    {{meta.value}}
                                </a>
                            {% else %}
                                {{meta.value}}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-8 mt-4 mt-sm-0">
        <h1 class="h3">
            {{dataset.html}}

            {% load section_buttons %}
            {% clipboard_button %}
            {% data_dropdown id='info' %}
        </h1>

        <p>{{species.description|default:'No description available.'|safe}}</p>

        <div class="row text-center mt-5">
            <div class="col-6 col-lg-3">
                <p id="n_cells" class="h3 mb-0">0</p>
                <p>cells</p>
            </div>

            <div class="col-6 col-lg-3">
                <p id="n_metacells" class="h3 mb-0">0</p>
                <a data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title="Groups of cells with highly similar gene expression">
                    metacells <i class="fa fa-question-circle fa-sm"></i>
                </a>
            </div>

            <div class="col-6 col-lg-3">
                <p id="n_umis" class="h3 mb-0">0</p>
                <a data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title="Total number of Unique Molecular Identifiers (UMIs)">
                    UMIs <i class="fa fa-question-circle fa-sm"></i>
                </a>
            </div>

            <div class="col-6 col-lg-3">
                <p id="n_genes" class="h3 mb-0">0</p>
                <p>genes</p>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                {% include '../components/plot_container.html' with id='metacell-cells' ratio='16/9' %}
            </div>

            <div class="col-md-6">
                {% include '../components/plot_container.html' with id='metacell-umis' ratio='16/9' %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'app/js/plots/stats.js' %}"></script>
<script>
    var counts_url = new URL("{% url 'rest:metacellcount-list' %}", window.location.origin);
    counts_url.searchParams.append('dataset', '{{dataset.slug}}');
    counts_url.searchParams.append('limit', '0');

    var urls = {
        info: "{% url 'rest:dataset-detail' dataset.slug %}",
        stats: "{% url 'rest:stats-detail' dataset.slug %}",
        counts: counts_url.toString()
    };
    appendDataMenu('info', urls,
                   ['Dataset information', 'Summary statistics', 'Metacell counts']);

    function animateNumber(id, target) {
        let val = 0;

        // Increment value at a fixed interval
        const time = 15;
        const duration = 250;
        const increment = Math.max( Math.floor(target / (duration / time)), 1 );

        const interval = setInterval(function() {
            val += increment;
            if (val >= target) {
                val = target;
                clearInterval(interval);
            }
            $(id).text(val.toLocaleString());
        }, time);
    }

    fetch(urls.stats)
        .then(response => response.json())
        .then(data => {
            animateNumber('#n_cells', data.cells);
            animateNumber('#n_metacells', data.metacells);
            animateNumber('#n_umis', data.umis);
            animateNumber('#n_genes', data.genes);
        })
        .catch(error => console.error('Error:', error))

    $(function() {
        fetch(urls.counts)
            .then(response => response.json())
            .then(data => {
                createStatsPlot(
                    '#metacell-cells-plot', data, 'cells',
                    'Cells per metacell', 'Cell count');
                createStatsPlot(
                    '#metacell-umis-plot', data, 'umis',
                    'UMIs per metacell', 'UMI count');
            })
            .catch(error => console.error('Error:', error))
    });
</script>

{% endblock content %}
