{% extends "./atlas.html" %}

{% comment %}

List metacell markers for a given species

Features:
- Form to set metacells and fold-change thresholds
- Mockup table if no analyses is loaded
- Metacell markers filtered as per the user input:
    - Fetches via REST API
    - Table for the data
    - Download data button
    - Copy link to clipboard button

Input:
- species: Species object from `models.py`
- metacells: list of selected metacells
- metacell_dict: dictionary with available metacells to populate the select input
- query: query parameters to automatically filter metacells, fold-change values, etc.

{% endcomment %}

{% block title %}{{species}} Markers{% endblock title %}

{% block content %}

{% load static %}
{% include '../components/warning_alert.html' %}

<div class="row">
    <div class="col-md-3">
        <form>
            <fieldset>
                <legend class="h5">Cell selection</legend>
                <div class="mb-3">
                    <label class="col-form-label" for="metacells">Metacells</label>
                    {% include '../components/select/metacell.html' with metacell_dict=metacell_dict selected=query.metacells %}
                </div>
            </fieldset>

            <fieldset>
                <legend class="h5">Fold-change</legend>
                <div class="mb-3">
                    <label class="col-form-label" for="fc_min_type">Min. fold-change <i class="fa fa-circle-question" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Minimum fold-change for gene filtering"></i></label>
                    <select class="form-select" name="fc_min_type" id="fc_min_type" aria-label="Select example" value="median">
                        <option value="mean" {% if query.fc_max_bg_type == 'mean' %}selected{% endif %}>Mean</option>
                        <option value="median" {% if query.fc_max_bg_type == 'median' %}selected{% endif %}>Median</option>
                    </select>
                </div>

                <input type="range" class="js-range-slider" id="fc_min" name="fc_min" value="{{query.fc_min|default:2}}" step="0.1">
                <script>
                    $("#fc_min").ionRangeSlider({
                        min: 0,
                        max: 5,
                        from: {{query.fc_min|default:2}},
                        step: 0.1,
                        grid: false,
                        skin: "round"
                    });
                </script>

                <hr>
                <div class="mb-3">
                    <label class="col-form-label" for="fc_max_bg_type">Max. fold-change (background) <i class="fa fa-circle-question" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Maximum fold-change in non-selected cells"></i></label>
                    <select class="form-select" id="fc_max_bg_type" name="fc_max_bg_type" aria-label="Select example" onchange="toggleMaxFCslider(this, '#fc_max_bg');">
                        <option value="ignore" {% if query.fc_max_bg_type == 'ignore' %}selected{% endif %}>Ignore</option>
                        <option value="mean" {% if query.fc_max_bg_type == 'mean' %}selected{% endif %}>Mean</option>
                        <option value="median" {% if query.fc_max_bg_type == 'median' %}selected{% endif %}>Median</option>
                    </select>
                </div>

                <input type="range" class="js-range-slider" id="fc_max_bg" name="fc_max_bg" value="{{query.fc_max_bg|default:3}}" step="0.1" disabled>
                <script>
                    $("#fc_max_bg").ionRangeSlider({
                        min: 0,
                        max: 5,
                        from: {{query.fc_max_bg|default:3}},
                        step: 0.1,
                        grid: false,
                        skin: "round"
                    });

                    function toggleMaxFCslider(elem, id) {
                        var slider = $(id).data("ionRangeSlider");
                        var html   = slider["result"]["slider"];
                        if (elem.value == 'ignore') {
                            slider.update({ disable: true });
                        } else {
                            slider.update({ disable: false });
                        }
                    }

                    // Hide slider depending on value of #fc_max_bg_type
                    toggleMaxFCslider($('#fc_max_bg_type')[0], '#fc_max_bg')
                </script>
                <button type="submit" class="btn btn-primary my-3 w-100">List markers</button>
            </fieldset>
        </form>
    </div>
    <div class="col-md-9">
        {% if metacells %}
            <div class="row g-0 d-flex justify-content-end mb-3">
                <div class="col-auto text-end text-muted form-control-sm">
                    Selected metacells: <span id="selected_metacells">None</span> <b>({{metacells|length}} in total)</b>
                </div>
                <div class="col-auto">
                    {% include '../components/button/copy_to_clipboard.html' with id='markers' %}
                    {% include '../components/button/data_download.html' with id='markers' %}
                </div>
            </div>
            <table id="markers_table" class="display" style="width:100%"></table>

            <script type="text/javascript" src="{% static 'app/js/markers_table.js' %}"></script>
            <script>
                var gene_url = "{% url 'atlas_gene' species.slug %}";
                var url = "{% url 'rest:metacellmarker-list' %}";

                var params = new URLSearchParams({
            	    species: '{{species}}',
            		metacells: '{{query.metacells}}',
            		fc_min_type: '{{query.fc_min_type|default:'mean'}}',
            		fc_min: '{{query.fc_min|default:2}}',
            		fc_max_bg_type: '{{query.fc_max_bg_type|default:'ignore'}}',
            		fc_max_bg: '{{query.fc_max_bg|default:3}}',
            		limit: 0
            	});
            	var apiURL = url + "?" + params.toString();

                createMarkersTable('markers', apiURL)
                appendDataMenu('markers', apiURL, 'Metacell markers');
            </script>
        {% else %}
            {% include '../components/mockup/table.html' %}
        {% endif %}
    </div>
</div>

<script>
function updateMetacellSelectionText(selected) {
    var minimized = convertToRange(selected).replaceAll(',', ', ');

    underline = 'style="-webkit-text-decoration: underline dotted; text-decoration: underline dotted;"';
    tooltip   = `data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="${selected}"`;
    $('#selected_metacells').html(`<span ${underline} ${tooltip}>${minimized}</span>`);
}
updateMetacellSelectionText("{{metacells|join:', '}}");

<!-- Simplify multiple select data into a single comma-separated value -->
$('form').on('submit', function(e) {
    e.preventDefault();

    // Get values
    var formData = new FormData(this);
    var values = formData.getAll('metacells').join(',');

    // Modify form URL
    var url = new URL(e.target.action);
    for (let [key, value] of formData.entries()) {
        url.searchParams.set(key, value);
    }
    url.searchParams.set('metacells', values);

    // Maintain commas in query params
    href = url.href.replaceAll('%2C', ',');
    window.location.href = href;
});
</script>

{% endblock content %}