{% extends "./atlas.html" %}

{% comment %}

Metacell projection ang gene expression heatmap for a given dataset

Features:
- Select metacells for further analysis (e.g., listing their markers)
- Metacell projection and gene expression heatmap:
    - Fetches data via REST API
    - Plots data
    - Download data button
    - Copy link to clipboard button

Input:
- dataset: Dataset object from `models.py`
- species: respective Species object
- query: query parameters to automatically filter and adjust the plots

{% endcomment %}

{% block title %}
    {{ dataset }} Overview
{% endblock title %}

{% block content %}
    <!-- Metacell projection -->
    {% load headings %}
    {% h1 "Metacell projection" id="projection" %}
    {% include "../components/plots/metacell_projection.html" with id="projection" %}

    <!-- Gene expression heatmap -->
    {% h1 "Gene expression heatmap" id="expression" %}
    {% include "../components/plots/expression_heatmap.html" with id="expression" %}
{% endblock content %}
