{% extends "./atlas.html" %}

{% comment %}

Metacell projection ang gene expression heatmap for a given species

Features:
- Select metacells for further analysis (e.g., listing their markers)
- Metacell projection and gene expression heatmap:
    - Fetches data via REST API
    - Plots data
    - Download data button
    - Copy link to clipboard button

Input:
- species: Species object from `models.py`
- query: query parameters to automatically filter and adjust the plots

{% endcomment %}

{% block title %}{{species}} Overview{% endblock title %}

{% block content %}

<!-- Metacell projection -->
<h1 class="h3 pt-2 mb-3" id="projection">
    Metacell projection
    {% include '../components/button/copy_to_clipboard.html' with id='projection' %}
    {% include '../components/button/data_download.html'  with id='projection' %}
</h1>

{% include '../components/plots/metacell_projection.html' with id='projection' %}

<!-- Gene expression heatmap -->
<h1 class="h3 pt-2 mb-3" id="expression">
    Gene expression heatmap
    {% include '../components/button/copy_to_clipboard.html' with id='expression' %}
    {% include '../components/button/data_download.html' with id='expression' %}
</h1>

{% include '../components/plots/expression_heatmap.html' with id='expression' %}

{% endblock content %}