{% extends "./atlas.html" %}

{% comment %}

Gene expression heatmap for a specific selection of genes

Input:
- species: Species object from `models.py`

{% endcomment %}

{% block title %}
    {{ dataset }} {{ gene|default:'Gene' }}
{% endblock title %}

{% block content %}
    <!-- Gene expression heatmap -->
    {% load headings %}
    {% h1 "Gene expression heatmap" id="expression" %}
    {% include "../components/plots/expression_heatmap.html" with id="expression" type="gene-lists" %}
{% endblock content %}
