<button type="button"
    class="btn btn-secondary btn-sm"
    id="clipboard_{{ id }}"
    data-bs-toggle="tooltip"
    data-bs-html="true"
    data-bs-trigger="manual"
    {# djlint:off H008 #}
    data-bs-title="<i class='fa fa-circle-check'></i> Copied!">
    {# djlint:on #}
    <span class="label">
        {{ text|default:'<i class="fa fa-chain"></i> Copy link' }}
    </span>
</button>

<script type="module">
    {% load static %}
    import { initClipboardButton } from "{% static 'app/js/buttons/clipboard.js' %}";
    initClipboardButton("{{id}}");
</script>
