<button type="button"
    class="btn btn-secondary btn-sm"
    id="clipboard_{{ id }}"
    data-bs-toggle="tooltip"
    data-bs-html="true"
    data-bs-trigger="manual"
    {# djlint:off H008 #}
    data-bs-title="<i class='fa fa-circle-check'></i> Copied!">
    {# djlint:on #}
    {{ text|default:'<i class="fa fa-chain"></i> Copy link' }}
</button>

<script>
// Show tooltip on click and auto-hide after some time
$('#clipboard_{{id}}').on('click', function(e) {
    var clipboard = $(this);
    clipboard.prop("disabled", true);

    url = new URL(window.location.href);
    if ('{{id}}' !== '') {
        url.hash = '#{{id}}';
    }
    navigator.clipboard.writeText(url.href);
    clipboard.tooltip('show');

    setTimeout(function() {
        clipboard.tooltip('hide');
        clipboard.prop("disabled", false);
    }, 1500);
});

// Hide tooltip (almost) immediately on mouse hover out
//$('#clipboard_{{id}}').on('mouseleave', function(e) {
//    var clipboard = $(this);
//    setTimeout(function() {
//        clipboard.tooltip('hide');
//    }, 1000);
//});
</script>
