/* Root variables */

:root {
    --primary-color: #189BCD;
    --hover-color: #189BCDAA;
    --table-row-color: #189BCD22;
    --card-text-shadow: #000000CC;

    --navbar-hover: #00000030;
    --navbar-hover-shadow: #00000080;
    --navbar-box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.15);
}

/* Navbar */

.navbar {
    background: var(--primary-color);
    box-shadow: var(--navbar-box-shadow);
    margin-bottom: 20px;
}

.navbar .navbar-brand {
    font-weight: 1000;
    border-radius: 10px;
    padding: 5px 1px 5px 1px;
}

.navbar .navbar-brand:focus-visible {
    outline: none;
    background: var(--navbar-hover);
    box-shadow: 0px 0px 0px 2px var(--navbar-hover-shadow);
}

.navbar .nav-link {
    border-radius: 10px;
    margin: 1px;
}

.navbar .nav-link.active, .navbar .nav-link.active:hover {
    font-weight: 600;
    background: linear-gradient(135deg, var(--navbar-hover), var(--navbar-hover-shadow));
}

.navbar .nav-link:hover {
    background: var(--navbar-hover);
}

.navbar .nav-link:focus-visible {
    background: var(--navbar-hover);
    box-shadow: 0px 0px 0px 2px var(--navbar-hover-shadow);
}

.navbar .form-control:focus {
    border-color: var(--navbar-hover-shadow);
    box-shadow: 0px 0px 0px 2px var(--navbar-hover-shadow);
}

.navbar-toggler {
    border-color: var(--bs-navbar-toggler-icon-bg);
    border-width: 2px;
}

/* Navigation tabs (Cell Atlas) */

.nav-tabs .nav-link {
    color: var(--primary-color);
}

.nav-tabs .nav-link:hover {
    color: var(--hover-color);
}

.nav-tabs .nav-link.disabled {
    color: var(--bs-nav-link-disabled-color);
}

.nav-tabs .nav-link.active {
    color: var(--bs-nav-tabs-link-active-color);
}

/* Body */

.btn-xs {
    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background: var(--hover-color);
    border-color: var(--hover-color);
    border-color: white;
}

.btn-primary:active {
    background: var(--primary-color) !important;
    background-color: var(--primary-color) !important;
    border-color: white !important;
}

.btn-outline-primary {
    border-color: var(--primary-color) !important;
    color: var(--primary-color);
}

.btn-outline-primary:hover {
    border-color: var(--primary-color) !important;
    color: white;
    background-color: var(--hover-color);
}

.btn-outline-primary:active {
    border-color: var(--primary-color) !important;
    background-color: var(--primary-color) !important;
}

.btn.btn-outline-primary.dropdown-toggle.show {
    background-color: var(--primary-color);
}

.btn-check+.btn.btn-outline-primary:hover {
    color: var(--hover-color);
}

.btn-check:checked+.btn.btn-outline-primary {
    background-color: var(--primary-color);
    color: white;
}

.btn-check:checked+.btn.btn-outline-primary:hover {
    background-color: var(--hover-color);
    color: white;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--primary-color);
}

.card {
    text-decoration: none;
    transition: all 0.1s linear;
    text-shadow: 0 0 4px var(--card-text-shadow);
}

.card:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--hover-color);
}

.placeholder {
    display: inline-block;
    height: 1em;
    min-height: 0;
    vertical-align: middle;
    background-color: lightgray;
    opacity: 1;
    cursor: default;
}

/* Loading icon */

.loading-state {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border: 10px solid;
    border-color: var(--primary-color) var(--hover-color) var(--hover-color) var(--hover-color);
    box-sizing: border-box;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* DataTables */

table.dataTable.display tbody tr:nth-child(odd) > * {
    background-color: var(--table-row-color);
    box-shadow: none !important;
}

.truncate {
    max-width:200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Selectize.js */
.selectize-dropdown .selected {
    background-color: var(--primary-color);
}

.species-meta {
    display: none;
}

 .selectize-control::before {
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	content: ' ';
	z-index: 2;
	position: absolute;
	display: block;
	top: 6px;
	right: 36px;
	font-family: 'Font Awesome 5 Free';
	content: "\f110";
	opacity: 0;
	-webkit-animation: none;
	animation: none;
}

.selectize-control.loading::before {
	opacity: 1;
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
}

/* vega-embed fix to avoid button on top of other elements */

.vega-embed summary {
    z-index: 999 !important;
}

/* range-slider */

.irs--round .irs-handle {
    border: 4px solid var(--primary-color);
    box-shadow: 0 1px 3px var(--hover-color);
}

.irs--round .irs-bar, .irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
    background-color: var(--primary-color);
}

.irs--round .irs-from::before, .irs--round .irs-to::before, .irs--round .irs-single::before {
    border-top-color: var(--primary-color);
}

/* Fix anchor links position to avoid navbar overlap */
html {
  scroll-padding-top: 50px; /* Adjust to match your navbar height */
}

/* Manual fix for dropdown in btn-groups */
.flat-right-border {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/*a[rel="external"]:after {
    content: "\00a0\f08e";
    font-family: "Font Awesome 5 Free";
}*/

/* Footer */

footer h5 {
    font-weight: 800;
    color: var(--primary-color);
}

a.text-muted:hover {
    opacity: 0.5;
}
