{% extends "app/entries/entry_list.html" %}

{% block title %}
    Domain entries
{% endblock title %}

{% block heading %}
    {% load entry_links %}
    {% render_header_counter 'Domains' paginator %}
{% endblock heading %}

{% block header %}
    <th>Domain</th>
    <th>Number of genes</th>
{% endblock header %}

{% block row %}
    <td>{{ each.get_html_link }}</td>
    <td>{{ each.gene_set.count |default:'—' }}</td>
{% endblock row %}

{% block unfound %}
    No domains found.
{% endblock unfound %}
