{% extends "app/entries/entry_list.html" %}

{% block title %}
    Domain entries
{% endblock title %}

{% block structured_data %}
    {% load bioschemas %}
    {% bioschemas_domain_list object_list name="Biodiversity Cell Atlas protein domains" %}
{% endblock structured_data %}

{% block heading %}
    {% load entry_links %}
    {% render_header_counter 'Domains' paginator %}
{% endblock heading %}

{% block header %}
    <th>
        Domain
    </th>
    <th>
        Number of genes
    </th>
{% endblock header %}

{% block row %}
    <td>
        {{ each.get_html_link }}
    </td>
    <td>
        {{ each.gene_set.count |default:'—' }}
    </td>
{% endblock row %}

{% block unfound %}
    No protein domains found.
{% endblock unfound %}
