{% extends "app/entries/entry_list.html" %}

{% block title %}Gene entries{% endblock title %}

{% block heading %}
    {% load entry_links %}
    {% render_header_counter 'Genes' paginator species %}
{% endblock heading %}

{% block header %}
    <th>Gene</th>
    <th style="max-width: 400px;">Description</th>
    <th>Domains</th>

    {% if not species %}
        <th>Species</th>
        <th>Species common name</th>
    {% endif %}
{% endblock header %}

{% block row %}
    <td>{{ each.get_html_link }}</td>
    <td style="max-width: 400px;">{{ each.description|default:'—' }}</td>
    <td>{{ each.get_domain_html_links|default:'—' }}</td>

    {% if not species %}
        <td>{{ each.species.get_genes_html_link }}</td>
        <td>{{ each.species.common_name|default:'—' }}</td>
    {% endif %}
{% endblock row %}

{% block unfound %}
    No genes found.
{% endblock unfound %}
