{% extends "app/entries/entry_list.html" %}

{% block title %}
    Gene list entries
{% endblock title %}

{% block heading %}
    {% load entry_links %}
    {% render_header_counter 'Gene lists' paginator species %}
{% endblock heading %}

{% block header %}
    <th>
        Gene list
    </th>
    <th class="entry-description">
        Description
    </th>
    <th>
        Number of genes
    </th>
{% endblock header %}

{% block row %}
    <td>
        {{ each.get_html_link }}
    </td>
    <td class="entry-description">
        {{ each.description|default:'—' }}
    </td>
    <td>
        {{ each.genes.count }}
    </td>
{% endblock row %}

{% block unfound %}
    No gene lists found.
{% endblock unfound %}
