{% extends "app/entries/entry_list.html" %}

{% block title %}
    Gene module entries
{% endblock title %}

{% block heading %}
    {% load entry_links %}
    {% render_header_counter 'Gene modules' paginator dataset %}
    {% include "app/components/select/dataset.html" with dataset=dataset.slug redirect="entry" view="gene_module_entry" class="w-100 atlas-select home" optgroup_columns="true" %}
{% endblock heading %}

{% block header %}
    <th>
        Gene module
    </th>
    <th>
        Number of genes
    </th>
    {% if not dataset %}
        <th>
            Dataset
        </th>
    {% endif %}
{% endblock header %}

{% block row %}
    <td>
        {{ each.get_html_link }}
    </td>
    <td>
        {{ each.gene_modules.count }}
    </td>
    {% if not dataset %}
        <td>
            {{ each.dataset.get_gene_modules_html_link }}
        </td>
    {% endif %}
{% endblock row %}

{% block unfound %}
    No gene modules found.
{% endblock unfound %}
