{% extends "app/entries/entry_list.html" %}

{% block title %}
    {{ gene_list }}
{% endblock title %}

{% block heading %}
    {% load entry_links %}
    {% render_header_counter gene_list paginator species %}
{% endblock heading %}

{% block header %}
    <th>Gene</th>
    <th class="entry-description">Description</th>
    <th>Domains</th>

    {% if not species %}
    <th>Species</th>
    <th>Species common name</th>
    {% endif %}
{% endblock header %}

{% block row %}
    <td>{{ each.get_html_link }}</td>
    <td class="entry-description">{{ each.description|default:'—' }}</td>
    <td>{{ each.get_domain_html_links|default:'—' }}</td>

    {% if not species %}
        {% load entry_links %}
        <td>{% species_genelist_link each.species gene_list %}</td>
        <td>{{ each.species.common_name|default:'—' }}</td>
    {% endif %}
{% endblock row %}

{% block unfound %}
    No genes found.
{% endblock unfound %}
