{% extends "app/entries/entry_list.html" %}

{% block title %}
    {{ gene_list }}
{% endblock title %}

{% block heading %}
    {% load entry_links %}
    {% render_header_counter gene_list paginator species %}
    <style>
    .select-width {
        width: 600px;
    }
    </style>
    <div class="row g-2 mb-4 align-items-start">
        <div class="d-flex justify-content-between align-items-center small">
            <label class="col-form-label">
                <i class="fa fa-kiwi-bird fa-fw"></i>
                Filter species
            </label>
        </div>
        <div class="col-auto select-width">
            {% include "app/components/select/species.html" with redirect="arg" placeholder="Search..." species=species view="gene_list_entry" extraParams=gene_list %}
        </div>
    </div>
{% endblock heading %}

{% block header %}
    <th>
        Gene
    </th>
    <th class="entry-description">
        Description
    </th>
    <th>
        Domains
    </th>

    {% if not species %}
        <th>
            Species
        </th>
    {% endif %}
{% endblock header %}

{% block row %}
    <td>
        {{ each.get_html_link }}
    </td>
    <td class="entry-description">
        {{ each.description|default:'—' }}
    </td>
    <td>
        {{ each.get_domain_html_links|default:'—' }}
    </td>

    {% if not species %}
        {% load entry_links %}
        <td>
            {% species_genelist_link each.species gene_list %}
        </td>
    {% endif %}
{% endblock row %}

{% block unfound %}
    No genes found.
{% endblock unfound %}
