{% extends "app/entries/entry.html" %}

{% block title %}{{object.orthogroup}}{% endblock title %}

{% block content %}

<div class="row pt-2">
    <div class="col-md-4">
        <h1 class="h3">
            {{object.orthogroup}}
        </h1>
    </div>

    <div class="col-md-8">
        <h2 class="h4">Orthologs</h2>

        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th>Gene</th>
                    <th>Species</th>
                    <th>Common name</th>
                </tr>
              </thead>
            <tbody>
                {% for ortholog in object.orthologs.all %}
                <tr>
                    <td>{{ortholog.gene.get_html_link}}</td>
                    <td>{{ortholog.gene.species.get_html_link}}</td>
                    <td>{{ortholog.gene.species.common_name|default:'—'}}</td>
                    <td>
                        {% with gene.get_absolute_url as url %}
                        {% if url %}
                            <a href="{{url}}" target="_blank">{{gene.value}}</a>
                        {% else %}
                            {{gene.value}}
                        {% endif %}
                        {% endwith %}
                    </td>
                    <td>{{gene.source}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}