{% extends "app/entries/entry_list.html" %}

{% block title %}
    Orthogroup entries
{% endblock title %}

{% block heading %}
    {% load entry_links %}
    {% render_header_counter 'Orthogroups' paginator %}
{% endblock heading %}

{% block header %}
    <th>Orthogroup</th>
    <th>Number of orthologs</th>
{% endblock header %}

{% block row %}
    <td>{{ each.get_html_link }}</td>
    <td>{{ each.orthologs.count }}</td>
{% endblock row %}

{% block unfound %}
    No orthogroups found.
{% endblock unfound %}
