{% extends "app/entries/entry.html" %}

{% block title %}{{species}}{% endblock title %}

{% block content %}

<div class="row pt-2">
    <div class="col-md-4">
        <h1 class="h3 text-break">
            {{species.get_html}}
            {% if species.common_name %}
                <div class="small text-muted">{{species.common_name}}</div>
            {% endif %}
        </h1>

        <p><img class="rounded w-100" src="{{species.image_url}}"></p>
        <p>{{species.description|default:'No description available.'|safe}}</p>

        <h2 class="h4">BCA datasets</h2>
        <ul>
            {% for dataset in species.datasets.all %}
                <li>{{dataset.get_html_link}}</li>
            {% endfor %}
        </ul>

        <h2 class="h4">Species data</h2>
        <ul>
            <li><a href="{{species.get_gene_list_url}}">Genes</a></li>
        </ul>
    </div>

    <div class="col-md-8">
        <h2 class="h4">Metadata</h2>

        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                    <th>Source</th>
                </tr>
              </thead>
            <tbody>
                {% for metadata in species.meta_set.all %}
                <tr>
                    <td>{{metadata.label}}</td>
                    <td>
                        {% with metadata.get_absolute_url as url %}
                        {% if url %}
                            <a href="{{url}}" target="_blank">{{metadata.value}}</a>
                        {% else %}
                            {{metadata.value}}
                        {% endif %}
                        {% endwith %}
                    </td>
                    <td>{{metadata.source}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}