{% extends "base.html" %}

{% comment %}

About the project

Features:
- The page displays the most recent update date of this file using a custom
  Django tag `{% file_last_modified %}`

{% endcomment %}

{% block title %}
    About
{% endblock title %}

{% block content %}

    {% load bca_website_links %}

    <h1 class="h3" id="about">About us</h1>

    <p class="pb-3">
        The <a href="{% bca_url %}" target="_blank">Biodiversity Cell Atlas</a> (BCA)
        is a coordinated international effort aimed at molecularly characterizing
        cell types across the eukaryotic tree of life. Our mission is to pave the
        way for the efficient expansion of cell atlases to hundreds of species.
    </p>

    {% load cards %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        <div class="col">
            {% card title="Contact us" description=html|safe img_url="https://images.unsplash.com/photo-1600633660236-f6f61d5f155d" img_author='Valeriia Miller' img_author_handle='@valeriiamiller' links=info.contact %}
        </div>

        <div class="col">
            {% bca_url 'about/#media-kit' as media_kit_url %}
            {% with "Download our logos, check visual identity colors, and more from our <a href='"|add:media_kit_url|add:"' target='_blank'>Media kit</a>." as html %}
            {% card title="Media kit" description=html|safe img_url="https://images.unsplash.com/photo-1470107355970-2ace9f20ab15" img_author='Boris Smokrovic' img_author_handle='@borisworkshop' %}
        {% endwith %}
    </div>

    <div class="col">
        {% card title="Legal and privacy" description=html|safe img_url="https://images.unsplash.com/photo-1656921350827-ab4d9e4e2026" img_author='Zlobniyy' img_author_handle='@zlobniyy' links=info.legal %}
    </div>

    <div class="col">
        {% card title="Licenses" description=html|safe img_url="https://images.unsplash.com/photo-1703173790565-427b98bfae71" img_author='Daniela Turcanu' img_author_handle='@protopopica' links=info.licenses %}
    </div>
</div>

{% load custom_tags %}
<p class="text-end mt-4 small">
    Last updated: <span class="fw-bolder">{% file_last_modified %}</span>
</p>

{% endblock content %}
