{% extends "base.html" %}

{% comment %}

About the project

Features:
- The page displays the most recent update date of this file using a custom
  Django tag `{% file_last_modified %}`

{% endcomment %}

{% block title %}About{% endblock title %}

{% block content %}

<h1 class="h3" id="about">About us</h1>

<p>The Biodiversity Cell Atlas is a coordinated international effort aimed at molecularly characterizing cell types across the eukaryotic tree of life. Our mission is to pave the way for the efficient expansion of cell atlases to hundreds of species.</p>

<h1 class="h3" id="contact">Contact us</h1>

<p>Contact us at <a href="https://crg.eu" target="_blank">Centre for Genomic Regulation (CRG)</a>.</p>

<h1 class="h3" id="legal">Legal notice</h1>

<p>The Biodiversity Cell Atlas website was developed and is maintained by <a href="https://crg.eu" target="_blank">Centre for Genomic Regulation (CRG)</a>, located in Barcelona, Spain. By accessing and using this site, you agree to comply with all applicable laws and regulations. The content on this website is for informational purposes only. For inquiries, please <a href="#contact">contact us</a>.</p>

<h1 class="h3" id="privacy">Privacy notice</h1>

<p><b>Cookies:</b> Our website utilizes cookies solely to store your preferences (such as the last selected species and gene). We do not collect or retain any identifiable personal data. The code of this project is open-source and available for inspection at GitHub.</p>

<p><b>JavaScript:</b> The website also uses JavaScript to enhance functionality and improve user experience, including interactive features for visualizations. Disabling JavaScript restricts access to certain features.</p>

<p>For inquiries, please <a href="#contact">contact us</a>.</p>

<h1 class="h3" id="licenses">Licenses</h1>

Icons by <a href="https://fontawesome.com/license/free" target="_blank">Font Awesome</a>.

{% load custom_tags %}
<p style="text-align: right;"><i>Last updated: <b>{% file_last_modified "app/templates/app/about.html" "%d %b %Y" %}</b></i></p>

{% endblock content %}