{% extends "base.html" %}

{% comment %}

Species info page

Features:
- Species description and image
- Table metadata (including taxonomic information)
- Download button for species info and metadata
- Copy link to clipboard button

Input:
- species: Species object from `models.py`

{% endcomment %}

{% block title %}{{species}} Information{% endblock title %}

{% block content %}

{% load static %}
{% include './components/atlas_selection.html' %}
{% include './components/warning_alert.html' %}

<div class="row pt-2">
    <div class="col-4">
        <img src="{{species.image_url}}" style="width: 100%;">
        {% if species.image_source %}
            <span class="small text-secondary"><i>Image credits: <a href="{{species.image_url}}" target="_blank">{{species.image_source}}</a></i></span>
        {% endif %}

        <table class="table table-sm table-striped mt-4" style="margin: 0 auto;">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for meta in species.meta_set.values %}
                <tr>
                    <td>{{ meta.key | capfirst }}</td>
                    <td>{{ meta.value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-8">
        <h1 class="h3" id="projection">
            <i>{{species.scientific_name}}</i>
            {% include './components/clipboard_button.html' %}
            {% include './components/data_button.html' with id='info' %}
        </h1>

        <p>{{species.description|default:'No description available'|safe}}</p>
    </div>
</div>

<script>
    var url = "{% url 'rest:species-detail' species %}";
    createDataMenu('info', url, 'Species information');
</script>

{% endblock content %}
