{% extends "base.html" %}

{% block title %}{{species}} {{gene|default:'Gene'}}{% endblock title %}

{% block content %}

{% load static %}
{% include './components/atlas_selection.html' %}

{% include './components/gene_selection.html' with gene=gene placeholder='Search gene by symbol, description or domains...' display='all' redirect='arg' %}
{% include './components/warning_alert.html' %}

{% if gene %}
    <h1 class="h3 pt-2" id="expression">
        Gene expression
        {% include './components/clipboard_button.html' with id='expression' %}
        {% include './components/data_button.html' with id='expression' %}
    </h1>
    <div id="{{gene}}" class="container"></div>

    <h1 class="h3 pt-2" id="orthologs">
        Orthologs
        {% include './components/clipboard_button.html' with id='orthologs' %}
        {% include './components/data_button.html' with id='orthologs' %}
    </h1>

    <div id="ortholog-plots"></div>
    <template id="ortholog-template">
        <h2 class="h6 pt-2">
            <i><span id="ortholog-species" class="badge bg-secondary rounded-pill">organism</span></i>
            <span id="ortholog-gene">Gene</span></h2>
        <div id="ortholog-plot" class="container"></div>
    </template>

    <script type="text/javascript" src="{% static 'app/js/barplot.js' %}"></script>

    <!-- Plot gene expression data -->
    <script type="text/javascript">
        // Create URL to fetch gene expression data
        var url = '{% url 'rest:metacellgeneexpression-list' %}';
        var params = new URLSearchParams({
            species: '{{species}}',
            genes: '{{gene}}',
            limit: 0
        });
	    var apiURL = url + "?" + params.toString();
	    updateDataDownloadLinks('expression', apiURL, '{{gene}} expression');

	    fetch(apiURL)
            .then(response => response.json())
            .then(data => { createExpressionBarPlot("#{{gene}}", "{{gene}}", data); })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    </script>

    <!-- Plot ortholog expression data -->
    <script type="text/javascript">
        // Create URL to fetch ortholog data
        var url = '{% url 'rest:ortholog-list' %}';
        var params = new URLSearchParams({
		    gene: '{{gene}}',
		    expression: true,
		    limit: 0
	    });
	    var apiURL = url + "?" + params.toString();
	    updateDataDownloadLinks('orthologs', apiURL, 'Ortholog expression');

        // Fetch data from the API and create plots
        const template  = document.getElementById('ortholog-template');
        const container = document.getElementById('ortholog-plots');

        fetch(apiURL)
            .then(response => response.json())
            .then(data => {
                if (data.length === 0) {
                    container.innerHTML = "<p class='text-muted'><i class='fa fa-circle-exclamation'></i> No orthologs found.</p>"
                } else {
                    data.forEach(item => {
                        gene = item.gene_name;
                        if (gene != '{{gene}}') {
                            clone = document.importNode(template.content, true);

                            species_underscore = item.species.scientific_name.replace(" ", "_")
                            geneHTML = `<a href="/atlas/${species_underscore}/gene/${gene}">${gene}</a>`;
                            clone.getElementById('ortholog-gene').innerHTML = geneHTML

                            speciesHTML = `<img class="rounded-circle" style="box-shadow: 0px 0px 2px white !important;;" src="${item.species.image_url}" height="24px"> ${item.species.scientific_name}`
                            clone.getElementById('ortholog-species').innerHTML = speciesHTML;

                            clone.getElementById('ortholog-plot').id = gene;
                            container.appendChild(clone);
                            createExpressionBarPlot("#" + gene, gene, item.expression);
                        }
                    })
                }
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    </script>
{% else %}
    {% include './components/mockup_barplot.html' %}
{% endif %}

{% endblock content %}