{% extends "app/atlas.html" %}

{% comment %}

Metacell projection ang gene expression heatmap for a given species

Features:
- Select metacells for further analysis (e.g., listing their markers)
- Metacell projection and gene expression heatmap:
    - Fetches data via REST API
    - Plots data
    - Download data button
    - Copy link to clipboard button

Input:
- species: Species object from `models.py`
- query: query parameters to automatically filter and adjust the plots

{% endcomment %}

{% block title %}{{species}} Overview{% endblock title %}

{% block content %}
{% load static %}

<!-- Metacell projection -->
<h1 class="h3 pt-2 mb-3" id="projection">
    Metacell projection
    {% include './components/clipboard_button.html' with id='projection' %}
    {% include './components/data_button.html'  with id='projection' %}
</h1>

<div class="row g-2 mb-4 align-items-end">
    <!-- Toggle visibility -->
    <div class="col-auto">
        <div class="d-flex justify-content-between align-items-center small">
            <label class="col-form-label"><i class="fa fa-eye"></i> Toggle visibility </label>
        </div>

        <div class="btn-group" role="group" style="display: flex;">
          <input type="checkbox" class="btn-check" id="projection-cells" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="projection-cells">Cells</label>

          <input type="checkbox" class="btn-check" id="projection-metacells" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="projection-metacells">Metacells</label>

          <input type="checkbox" class="btn-check" id="projection-labels" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="projection-labels">Labels</label>

          <input type="checkbox" class="btn-check" id="projection-links" autocomplete="off">
          <label class="btn btn-outline-primary" for="projection-links">Links</label>
        </div>
    </div>

    <!-- Color by -->
    <div class="col-auto">
        <div class="d-flex justify-content-between align-items-center small">
            <label class="col-form-label"><i class="fa fa-palette"></i> Color</label>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                <span id="color_by_label">{% if query.gene %}{{query.gene}} expression{% else %}Metacell type{% endif %}</span>
            </button>
            <div class="dropdown-menu">
                <div class="mx-4" style="width: 250px;">
                    <label class="col-form-label"><small>Color by</small></label>
                    <div class="btn-group mb-3" role="group" style="display: flex;">
                        <input type="radio" class="btn-check" name="color_by" id="color_metacell_type" autocomplete="off" {% if not query.gene %}checked{% endif %}>
                        <label class="btn btn-outline-primary btn-sm" for="color_metacell_type">Metacell type</label>

                        <input type="radio" class="btn-check" name="color_by" id="color_expression" autocomplete="off" {% if query.gene %}checked{% endif %}>
                        <label class="btn btn-outline-primary btn-sm" for="color_expression">Gene expression</label>
                    </div>

                    <label class="col-form-label"><small>Select gene</small></label>
                    <div class="btn-group" role="group" style="display: flex;">
                        {% if not query.gene %}
                            {% include './components/gene_selection.html' with id='projection' hash='projection' limit=10 redirect='query' disabled='true' %}
                        {% else %}
                            {% include './components/gene_selection.html' with id='projection' hash='projection' limit=10 redirect='query' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Toggle disabled state of gene selectize element
        $('input[name="color_by"]').change(function () {
            var elem = $('#projection_gene_selection')[0].selectize;
            this.id.includes('expression') ? elem.enable() : elem.disable();

            url = new URL(window.location.href);
            if (url.searchParams.has('gene')) {
                url.searchParams.delete('gene');
                url.hash = '#projection';
                window.location.href = url;
            }
        });
    </script>

    <!-- Metacell selection -->
    <div class="col-auto">
        <div class="d-flex justify-content-between align-items-center small">
            <label class="col-form-label"><i class="fa fa-object-group"></i> Metacell selection </label>
            <i class="fa fa-circle-question"
               data-bs-toggle="tooltip" data-bs-placement="top"
               data-bs-title="Click and drag in the plot to select metacells"></i>
        </div>
        <div class="btn-group" role="group" style="display: flex;">
            <button type="button" class="btn btn-outline-primary" id="list_markers">List markers</button>
            <button type="button" class="btn btn-outline-primary" id="filter_heatmap">Filter heatmap</button>
        </div>
    </div>
</div>

{% include './components/plot_container.html' with id='projection' ratio='16/9' %}

<script type="text/javascript" src="{% static 'app/js/metacell_scatterplot.js' %}"></script>
<script type="text/javascript">
    var urls = {
        "sc_data": "{% url 'rest:singlecell-list' %}",
        "mc_data": "{% url 'rest:metacell-list' %}",
        "mc_links": "{% url 'rest:metacelllink-list' %}",
    };

    var params = new URLSearchParams({ species: '{{species}}', limit: 0 });
    urls['mc_links'] += "?" + params.toString();

    {% if query.gene %}
	    params.append('gene', '{{query.gene}}');
	{% endif %}

	urls['sc_data'] += "?" + params.toString();
	urls['mc_data'] += "?" + params.toString();

	createDataMenu('projection', urls,
	               ['Single-cell data', 'Metacell data', 'Metacell links']);

    Promise.all(
        Object.entries(urls).map(([key, url]) =>
            fetch(url)
                .then(res => res.json())
                .then(data => ({ key, data }))
        )
    )
    .then(results => {
        // Combine results into a dictionary
        const data = results.reduce((acc, { key, data }) => {
          acc[key] = data;
          return acc;
        }, {});

        createMetacellProjection(
    	    "#projection-plot", "{{species}}", data,
    	    color_by_metacell_type={% if query.gene%}false{% else %}true{% endif %},
    	    {% if query.gene %}'{{query.gene}}'{% else %}null{% endif %});
    })
    .catch(error => {
        console.error('Error fetching data:', error);
        hideSpinner('projection');
    });

    function getSelectedMetacells() {
        var view = viewMetacellProjection;

        // Get selection brush
        var brush = view.signal('brush');
        if ($.isEmptyObject(brush)) {
            // Brush not available
            return [];
        }
        var [minX, maxX] = brush.x;
        var [minY, maxY] = brush.y;

        // Get data within selection brush
        var data = view.data('mc_data');
        var x, y;
        var metacells = [];
        for (let i=0; i < data.length; i++) {
            x = data[i].x;
            y = data[i].y;
            if (minX <= x && x <= maxX && minY <= y && y <= maxY) {
                metacells.push(data[i].name);
            }
        }
        return metacells;
    }

	$('#list_markers').on('click', function(e) {
	    var metacells = getSelectedMetacells();
	    if (metacells.length >= 1) {
	        url = '{% url 'atlas_markers' species.species_underscore %}?metacells=' + metacells;
	        window.location.href = url;
	    } else {
	        alert('No metacells selected.\n\nClick and drag to select metacells in the scatterplot.');
	    }
	});

	$('#filter_heatmap').on('click', function(e) {
	    var metacells = getSelectedMetacells();
	    if (metacells.length >= 1) {
	        url = new URL(window.location.href);
	        url.searchParams.set('metacells', metacells)
	        url.hash = "expression";
	        window.location.href = url;
	    } else {
	        alert('No metacells selected.\n\nClick and drag to select metacells in the scatterplot.');
	    }
	});
</script>

<!-- Gene expression heatmap -->
<h1 class="h3 pt-2 mb-3" id="expression">
    Gene expression heatmap
    {% include './components/clipboard_button.html' with id='expression' %}
    {% include './components/data_button.html' with id='expression' %}
</h1>

{% include './components/list_editor.html' with id='expression' type='gene_lists' %}

<form novalidate action="#expression">
    <div class="row g-2 mb-4 align-items-end">
        <div class="col-auto">
            <div class="d-flex justify-content-between align-items-center small">
                <label class="col-form-label"><i class="fa fa-list-check"></i> Genes</label>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    <span id="genes_label">5 markers per cluster</span>
                </button>
                <div class="dropdown-menu">
                    <div class="mx-4 mb-3" style="width: 250px;">
                        <label class="col-form-label"><small>Gene selection</small></label>
                        <div class="btn-group mb-3" role="group" style="display: flex;">
                            <input type="radio" class="btn-check" autocomplete="off"
                            name="select" id="select_gene_by_markers" value="markers"
                            {% if not query.select or query.select == 'markers' %}checked{% endif %}>
                            <label class="btn btn-outline-primary btn-sm" for="select_gene_by_markers">Markers per cluster</label>

                            <input type="radio" class="btn-check" autocomplete="off"
                            name="select" id="select_gene_by_list" value="lists"
                            {% if query.select == 'lists' %}checked{% endif %}>
                            <label class="btn btn-outline-primary btn-sm"
                            for="select_gene_by_list">Gene list</label>
                        </div>

                        <div>
                            <label class="col-form-label">
                                <small>Number of markers per cluster</small>
                            </label>
                            <input type="range" class="js-range-slider"
                            id="markers" name="markers" value="0" step="0.1"
                            style="opacity: 0;">
                        </div>

                        <div>
                            <div class="d-flex justify-content-between align-items-center small">
                                <label class="col-form-label">Filter genes</label>

                                <div class="d-flex gap-3">
                                    <a id="clear_selected_genes" href="javascript:void(0);"
                                    class="d-block text-end"
                                    onclick="$('#expression_gene_selection')[0].selectize.clear();">
                                        Clear all
                                    </a>

                                    <a id="edit_gene_lists" href="javascript:void(0);"
                                    class="d-block text-end"
                                    data-bs-toggle="modal" data-bs-target="#expression_gene_lists_editor">
                                        Edit lists...
                                    </a>
                                </div>
                            </div>

                            {% include './components/gene_selection.html' with id='expression' name='gene_lists' hash='expression' limit=10 multiple='true' disabled='true' selected=query.gene_lists %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-auto">
            <div class="d-flex justify-content-between align-items-center small">
                <label class="col-form-label"><i class="fa fa-list-check"></i> Metacells</label>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    <span id="metacells_filter">All metacells</span>
                </button>
                <div id="metacell_dropdown" class="dropdown-menu">
                    <div class="mx-4 mb-3" style="width: 250px;">

                        <div class="d-flex justify-content-between align-items-center small">
                            <label class="col-form-label">
                                Filter metacells
                            </label>

                            <a id="select_all_metacells" href="javascript:void(0);"
                            class="d-block text-end"
                            onclick="$('#metacells')[0].selectize.clear();">
                                Select all metacells
                            </a>
                        </div>

                        {% include './components/metacell_selection.html' with metacell_dict=metacell_dict selected=query.metacell_lists placeholder="All metacells selected" name='metacell_lists' %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-auto">
            <div class="d-flex justify-content-between align-items-center small">
                <label class="col-form-label"><i class="fa fa-filter"></i> Fold-change thresholds</label>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary dropdown-toggle flat-right-border" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">FC ≥ <span id="fc_min_value">2</span></button>
                <div class="dropdown-menu">
                    <div class="mx-4 mb-3" style="width: 250px;">
                        <label for="markers" class="col-form-label">
                            <small>Minimum fold-change</small>
                        </label>

                        <input type="range" class="js-range-slider" id="fc_min" name="fc_min" value="0" step="0.1" style="opacity: 0;">
                    </div>
                </div>

                <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">Scale log₂ FC ≤ <span id="clip_log2_value">0</span></button>
                <div class="dropdown-menu">
                    <div class="mx-4 mb-3" style="width: 250px;">
                        <label for="markers" class="col-form-label">
                            <small>Scale maximum fold-change</small>
                        </label>

                        <input type="range" class="js-range-slider" id="clip_log2" name="clip_log2" value="0" step="0.1" style="opacity: 0;">

                        <p class="mt-3 text-muted small"><i class="fa fa-info-circle"></i> Lower limit of selection depends on minimum fold-change.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Apply</button>
        </div>
    </div>
</form>

<!-- Gene expression heatmap form -->
<script>
    function updateGenePanel(val) {
        if (val == 'markers') {
            $("#markers").data("ionRangeSlider").update({ disable: false });
            $("#markers").parent().removeClass('d-none');

            $('#expression_gene_selection')[0].selectize.disable();
            $('#expression_gene_selection').parent().addClass('d-none');

            var markers = $("#markers").val();
            $('#genes_label').text( markers + ' markers per cluster' );
        } else if (val == 'lists') {
            $("#markers").data("ionRangeSlider").update({ disable: true });
            $("#markers").parent().addClass('d-none');

            $('#expression_gene_selection')[0].selectize.enable();
            $('#expression_gene_selection').parent().removeClass('d-none');

            $('#genes_label').text('Selected gene lists');
        }
    }

    $(function() {
        // Change metacell selection label
        function updateMetacellSelectionLabel (count) {
            var label = count > 0 ? 'Selected metacells' : 'All metacells';
            $('#metacells_filter').text(label);
        }

        const metacell_selectize = $('#metacells')[0].selectize;
        var count = metacell_selectize.items.length;
        updateMetacellSelectionLabel(count);

        metacell_selectize.on('change', function() {
            var count = this.items.length;
            updateMetacellSelectionLabel(count);
        });

        // Update gene panel
        updateGenePanel( $('input[name="select"]:checked').val() );

        $('input[name="select"]').change(function() {
            var val = $(this).val();
            updateGenePanel(val);
        });
    });

    function updateText (id, from_min_id, suffix = "") {
        return function update(data) {
            $(id).text(data.from + suffix);

            // Update from_min of given ionRangeSlider
            if (from_min_id && from_min_id !== null) {
                $(from_min_id).data("ionRangeSlider").update({from_min: data.from})
            }
        }
    }

    $("#markers").ionRangeSlider({
        min: 1,
        max: 21,
        from: {{query.markers|default:5}},
        grid: true,
        skin: "round",
        onStart:  updateText("#genes_label", undefined, suffix=" markers per cluster"),
        onChange: updateText("#genes_label", undefined, suffix=" markers per cluster"),
        onUpdate: updateText("#genes_label", undefined, suffix=" markers per cluster")
    });

    $("#clip_log2").ionRangeSlider({
        min: 0,
        max: 6,
        from: {{query.clip_log2|default:6}},
        step: 0.1,
        grid: true,
        skin: "round",
        from_min: 2,
        from_shadow: true,
        onStart: updateText("#clip_log2_value"),
        onChange: updateText("#clip_log2_value"),
        onUpdate: updateText("#clip_log2_value")
    });

    $("#fc_min").ionRangeSlider({
        min: 0,
        max: 6,
        from: {{query.fc_min|default:2}},
        step: 0.1,
        grid: true,
        skin: "round",
        onStart: updateText("#fc_min_value", "#clip_log2"),
        onChange: updateText("#fc_min_value", "#clip_log2"),
        onUpdate: updateText("#fc_min_value", "#clip_log2")
    });

    <!-- Simplify multiple select data into a single comma-separated value -->
    function modifyFormQuery (elem, e, id, species, multiple = []) {
        e.preventDefault();

        // Modify form URL
        var formData = new FormData(elem);
        var url = new URL(e.target.action);
        for (let [key, value] of formData.entries()) {
            url.searchParams.set(key, value);
        }

        // Get values
        for (var i in multiple) {
            var param = multiple[i];
            var values = formData.getAll(param);
            url.searchParams.set(param, values.join(','));

            // Process values from user lists as hidden query parameters
            if (param == 'gene_lists') {
                // Get genes from user lists
                var lists = getUserLists(`${id}_${param}`, species);
                let matches = lists.filter(list => values.includes(list.name));
                var genes = matches.flatMap(list => list.items);

                // Get remaining lists
                var names = matches.flatMap(list => list.name);
                var diff = values.filter(value => !names.includes(value));
                genes = diff.concat(genes);

                // Set query parameter
                url.searchParams.set('genes', genes.join(','));
            }
        }

        // Maintain commas in query params
        href = url.href.replaceAll('%2C', ',');
        window.location.href = href;
    }

    $('form').on('submit', function(e) {
        modifyFormQuery(this, e, 'expression', '{{species}}',
                        ['metacell_lists', 'gene_lists']);
    });

</script>

<!-- Use column due to vega-lite's bug with containers for concatenated plots -->
<div class="row">
    <div class="col-10 col-sm-11">
        {% include './components/plot_container.html' with id='expression' ratio='16/9' %}
    </div>
</div>

<script type="text/javascript" src="{% static 'app/js/expression_heatmap.js' %}"></script>
<script type="text/javascript">
$(function() {
    var url = "{% url 'rest:metacellgeneexpression-list' %}";

    var params = new URLSearchParams({
		species: '{{species}}',
		metacells: $("#metacells").val().join(","),
		fc_min: $("#fc_min").val(),
		n_markers: $("#markers").val(),
		sort_genes: true,
		{% if query.genes %} genes: '{{query.genes}}', {% endif %}
		log2: true,
		clip_log2: $("#clip_log2").val(),
		limit: 0
	});
	var apiURL = url + "?" + params.toString();

    fetch(apiURL)
        .then(response => response.json())
        .then(data => {
            createExpressionHeatmap("#expression-plot", "{{species}}", data)
        })
        .catch(error => console.error('Error fetching data:', error));

    createDataMenu('expression', apiURL, 'Metacell gene expression');
});
</script>
{% endblock content %}