{% extends "base.html" %}

{% comment %}

Template for the Cell Atlas pages

Features:
- Atlas selection via `components/atlas_selection.html` or URL path parameters,
  such as `/atlas/Homo_sapiens`
- Warning message (e.g., if selected species is not available in the database)
- Placeholders shown when no species is selected

Input:
- warning: warning message to display
- icon: the FontAwesome icon to show if no species is selected (e.g., 'question-circle')

{% endcomment %}

{% block title %}Cell Atlas{% endblock title %}

{% block subnav %}
    {% include './components/atlas_selection.html' %}
{% endblock subnav %}

{% block content %}
{% include './components/warning_alert.html' %}
<div class="container">
    <div class="row">
        <div class="col-2 align-self-center pt-2" style="background-color: lightgray; height: 140px; text-align: center; align-items: center; color: white;">
            <i class="fa fa-{{icon}} fa-3x d-block d-md-none"></i>
            <i class="fa fa-{{icon}} fa-5x d-none d-md-block d-lg-none"></i>
            <i class="fa fa-{{icon}} fa-6x d-none d-lg-block"></i>
            <p><small>No species selected</small></p>
        </div>
        <div class="col-10">
            <span class="placeholder" style="width: 290px;"></span></br>
            <span class="placeholder" style="width: 260px;"></span></br>
            <span class="placeholder" style="width: 280px;"></span></br>
            <span class="placeholder" style="width: 270px;"></span></br>
            <span class="placeholder" style="width: 150px;"></span></br>
        </div>
    </div>
</div>

{% endblock content %}
