{% extends "base.html" %}

{% comment %}

Documentation: tutorials, guides, etc.

{% endcomment %}

{% block title %}
    {{ metadata.title|default:'Documentation' }}
{% endblock title %}

{% block main_class %}
    container overflow-x-clip
{% endblock main_class %}

{% block content %}
    <div class="row">
        <!-- Index -->
        <div class="docs col-sm-auto">
            <div class="sticky-top" style="top: 98px; z-index: 999;">
                {{ index | safe }}
            </div>
        </div>

        <!-- Main content -->
        <div class="col">
            <div class="row">
                <!-- Markdown page -->
                <div class="col">
                    <h1>
                        {{ metadata.title }}
                    </h1>

                    <!-- Color snippets of code -->
                    <style>{{ pygments_css|safe }}</style>

                    <div class="markdown-content">
                        {{ content | safe }}
                    </div>
                </div>

                <!-- Table of Contents -->
                <div class="docs small col-auto d-none d-md-block">
                    <div class="sticky-top" style="top: 98px; z-index: 999;">
                        <span class="fw-semibold">Table of contents</span>
                        {{ toc | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block subnav %}
    <!-- Documentation subnavbar -->
    <div class="subnavbar sticky-top">
        <div class="container d-flex justify-content-between align-items-center flex-wrap column-gap-2">
            {% load breadcrumbs %}
            {% breadcrumbs 'Documentation' %}

            <div class="btn-group py-2"
                 role="group"
                 style="margin-top: -2px;
                        margin-bottom: -2px">
                <a href="{{ action_links.view }}"
                   target="_blank"
                   class="btn btn-outline-secondary btn-xs">
                    <i class="fa fa-file"></i> View source
                </a>
                <a href="{{ action_links.edit }}"
                   target="_blank"
                   class="btn btn-outline-secondary btn-xs">
                    <i class="fa fa-pencil"></i> Edit page
                </a>
                <a href="{{ action_links.history }}"
                   target="_blank"
                   class="btn btn-outline-secondary btn-xs">
                    <i class="fa fa-history"></i> History
                </a>
                <a href="{{ action_links.feedback }}"
                   target="_blank"
                   class="btn btn-outline-secondary btn-xs">
                    <i class="fa fa-comments"></i> Suggest changes
                </a>
            </div>
        </div>
    </div>
{% endblock subnav %}
