{% extends "base.html" %}

{% comment %}

Downloads page

{% endcomment %}

{% block title %}Downloads{% endblock title %}

{% block content %}
<h1 class="h3">Data download</h1>

<p>Find the download links for single species data in the table below.</p>

<p>To download data in bulk, we recommend using our <a href="{% url 'api' %}">REST API</a>.</p>

<hr/>

<h2 class="h4">Species data</h2>

{% load custom_filters %}

<table id="species" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Species</th>
            <th>Common Name</th>
            <th>Proteome</th>
            <th>DIAMOND database</th>
        </tr>
    </thead>
    <tbody>
        {% with file_types="Proteome,DIAMOND" %}
            {% for species in species_dict %}
                <tr>
                    <td>
                        <img width="25px" src="{{ species.image_url }}">
                        <i>{{ species }}</i>
                    </td>
                    <td>{{ species.common_name|default_if_none:"–" }}</td>

                    {% for file_type in file_types|split:"," %}
                        {% with file=species.files.all|get_file_type:file_type %}
                        <td>
                            {% if file %}
                                <a href="{% url 'download_file' file.slug %}">
                                    {{ file.ext.upper }}
                                </a>
                            {% else %}
                                –
                            {% endif %}
                        </td>
                        {% endwith %}
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endwith %}
    </tbody>
</table>

<script>
$('#species').DataTable( {
    responsive: true,
    pageLength: 25,
    language: { "search": "" }
} );
$('.dt-search input').attr("placeholder", "Search table...");
</script>

{% endblock content %}