{% extends "base.html" %}

{% comment %}

Downloads page

{% endcomment %}

{% block title %}Downloads{% endblock title %}

{% block content %}
<h1 class="h3">Data download</h1>

<p>Find the download links for single species data in the table below.</p>

<p>To download data in bulk, we recommend using our <a href="{% url 'api' %}">REST API</a>.</p>

<hr/>

<table id="downloads" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Species</th>
            <th>Common Name</th>
            <th>Proteome</th>
            <th>DIAMOND database</th>
        </tr>
    </thead>
    <tbody>
        {% for species in species_dict %}
        <tr>
            <td>{{species}}</td>
            <td>{{species.common_name|default_if_none:"–"}}</td>
            <td>Not yet available</td>
            <td>Not yet available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
$('#downloads').DataTable( {
    responsive: true,
    language: { "search": "" }
} );
$('.dt-search input').attr("placeholder", "Search table...");
</script>

{% endblock content %}