{% extends "base.html" %}

{% comment %}

Homepage

Features:
- Quick description of the BCA project
- Tree of Life plot
- Sections with latest news, publications, meetings and tutorials

{% endcomment %}

{% block content %}
<div class="px-2 pt-2 my-2 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">
        The Biodiversity Cell Atlas
    </h1>
    <div class="col-lg-8 mx-auto">
      <p class="lead" style="margin-bottom: -5px;">The Biodiversity Cell Atlas is a coordinated international effort aimed at molecularly characterizing cell types across the eukaryotic tree of life. Our mission is to pave the way for the efficient expansion of cell atlases to hundreds of species. <a href="{% url 'about' %}">Read more...</a>
      </p>
    </div>
</div>

<!-- Tree of Life -->
{% load static %}
<div id="tree" class="container d-flex align-items-center justify-content-center" style="height: 1000px; width: 1000px;"></div>
<script type="text/javascript" src="{% static 'app/js/tree_of_life.js' %}"></script>
<script type="text/javascript">createTreeOfLife("#tree", "{% static 'life.json' %}")</script>

<!-- News -->
<h1 class="h3" id="news">Latest news</h1>
<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-2">
  <div class="col">
  	<a href="#">
    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.unsplash.com/photo-1470165473874-023613603389'); background-repeat: no-repeat; background-position: center center; background-size: 800px;">
      <div class="d-flex flex-column h-100 p-5 text-white text-shadow-1">
        <h2 class="h4">New release: scRNA-seq data for <i>Vulpes lagopus</i></h2>
        <ul class="d-flex list-unstyled mt-auto">
          <li class="d-flex align-items-center">
            <span><i class="fa fa-calendar-days"></i> <small>3 days ago</small></span>
          </li>
        </ul>
      </div>
    </div>
    </a>
  </div>

  <div class="col">
    <a href="#">
    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.unsplash.com/photo-1535780429486-94a540c2f0f9'); background-repeat: no-repeat; background-position: center center; background-size: 800px;">
      <div class="d-flex flex-column h-100 p-5 text-white text-shadow-1">
        <h2 class="h4">On flowering species: new publication</h2>
        <ul class="d-flex list-unstyled mt-auto">
          <li class="d-flex align-items-center">
            <span><i class="fa fa-calendar-days"></i> <small>5 days ago</small></span>
          </li>
        </ul>
      </div>
    </div>
    </a>
  </div>

  <div class="col">
    <a href="#">
    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.unsplash.com/photo-1523947204020-b03d6498b702'); background-repeat: no-repeat; background-position: center center; background-size: 800px;">
      <div class="d-flex flex-column h-100 p-5 text-shadow-1">
        <h2 class="h4">Improved resources for cnidarians</i></h2>
        <ul class="d-flex list-unstyled mt-auto">
          <li class="d-flex align-items-center">
            <span><i class="fa fa-calendar-days"></i> <small>22 Oct 2024</small></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </a>
</div>

<!-- Publications, meetings and tutorials -->
<div class="row row-cols-1 row-cols-lg-3 align-items-stretch  g-4 py-2">
	<div class="col">
		<h1 class="h3" id="publications">Recent publications</h1>
		<div class="bd-example m-0 border-0">
		    <ul class="list-group list-group-flush">
		        <li class="list-group-item">
		            <a href="#"><b>On flowering species</b></a></br>
		            <small>
			      		<span class="fa fa-calendar-days"></span> 26 Oct 2024
			      		<span class="fa fa-file-lines ps-1"></span> Plant Cell
			      	</small>
		        </li>
		        <li class="list-group-item">
		            <a href="#"><b>The Biodiversity Cell Atlas: mapping the tree of life at cellular resolution</b></a></br>
		            <small>
			      		<span class="fa fa-calendar-days"></span> 7 Jun 2024
			      		<span class="fa fa-file-lines ps-1"></span> Systems Biology
			      	</small>
		        </li>
		    </ul>
		</div>
	</div>

	<div class="col">
	    <h1 class="h3" id="meetings">BCA in meetings</h1>
		<div class="bd-example m-0 border-0">
		    <ul class="list-group list-group-flush">
		        <li class="list-group-item">
			      	<a href="#"><b>Barcelona Bioinformatics</b></a></br>
			      	<small>
			      		<span class="fa fa-calendar-days"></span> 5 Nov 2024
			      		<span class="fa fa-map-pin ps-1"></span> Barcelona 🇪🇸
			      	</small>
			    </li>
			    <li class="list-group-item">
			        <a href="#"><b>Bio Evo 2024</b></a></br>
			        <small>
			      		<span class="fa fa-calendar-days"></span> 30 Oct 2024
			      		<span class="fa fa-map-pin ps-1"></span> Boston 🇺🇸
			      	</small>
			    </li>
			</ul>
	    </div>
	</div>

	<div class="col">
		<h1 class="h3" id="tutorials">Tutorials</h1>
		<div class="bd-example m-0 border-0">
			<ul class="list-group list-group-flush">
			    <li class="list-group-item">
			        <a href="#"><b>How to use the BCA website?</b></a></br>
			        <small>
			            <span class="fa-brands fa-youtube"></span> 3m40
			            <span class="fa fa-calendar-days ps-1"></span> 12 Oct 2024
			        </small>
			    </li>
			    <li class="list-group-item">
			        <a href="#"><b>Downloading BCA data</b></a></br>
			        <small>
			            <span class="fa-brands fa-youtube"></span> 5m23
			            <span class="fa fa-calendar-days ps-1"></span> 10 Oct 2024
			        </small>
			    </li>
			    <li class="list-group-item">
			        <a href="#"><b>Using REST for programmatic access</b></a></br>
			        <small>
			            <span class="fa fa-list-ol"></span> Text
			            <span class="fa fa-calendar-days ps-1"></span> 2 Oct 2024
			        </small>
			    </li>
			</ul>
		</div>
	</div>
</div>
{% endblock content %}
