{% extends "error_page.html" %}
{% comment %}

    Template for 403 Permission Denied page

{% endcomment %}

{% block title %}
    403: permission denied
{% endblock %}

{% block description %}
    It seems you do not have permission to access this page...
    If you think something is wrong, please
    <a href="{% url 'about' %}#contact">contact us</a>!
{% endblock %}

{% block img %}
    https://images.unsplash.com/photo-1500189001820-d65835a662d4
{% endblock %}

{% block img_alt %}
    A brown deer walks across a snow-covered landscape, casting a shadow on the white ground.
{% endblock %}

{% block author %}
    Jeremy Perkins
{% endblock %}

{% block author_url %}
    https://unsplash.com/@jeremyperkins
{% endblock %}
