{% extends "error_page.html" %}

{% comment %}

    Template for 500 Server Error page

{% endcomment %}

{% block title %}
    500: server error
{% endblock %}

{% block description %}
    Try to refresh this page or
    <a href="{% url 'about' %}#contact">contact us</a>
    if the issue persists.
{% endblock %}

{% block img %}
    https://images.unsplash.com/photo-1741994561367-3d488663f6da
{% endblock %}

{% block img_alt %}
    A close-up of a toad on a white background.
{% endblock %}

{% block author %}
    John Cardamone
{% endblock %}

{% block author_url %}
    https://unsplash.com/@john_cardamone
{% endblock %}
