{% comment %}

Base website template

Features:
- Defines the overall structure and styling of the website
- Sets up Bootstrap tooltips and popovers
- Loads static files like custom CSS and favicons
- Loads external libraries for data visualization and UI elements

Dynamic blocks:
- title: page-specific title for the browser window
- navbar: navigation bar from `navbar.html` by default
- content: placeholder for page-specific content
- footer: footer from `footer.html` by default

{% endcomment %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}Biodiversity Cell Atlas: Data Portal{% endblock %}
        </title>

        <meta name="description"
              content="Explore and download Biodiversity Cell Atlas data.">
        <meta name="keywords"
              content="BCA, Biodiversity, Cell Atlas, Single-cell, Genomics, Transcriptomics, RNA, Portal">

        <meta name="theme-color" content="#239184">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-title" content="BCA" />

        <!-- Favicons -->
        {% load static %}
        <link rel="icon"
              type="image/png"
              href="{% static 'app/images/favicons/favicon-96x96.png' %}"
              sizes="96x96" />
        <link rel="icon"
              type="image/svg+xml"
              href="{% static 'app/images/favicons/favicon.svg' %}" />
        <link rel="shortcut icon"
              href="{% static 'app/images/favicons/favicon.ico' %}" />
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'app/images/favicons/apple-touch-icon.png' %}">
        <link rel="manifest" href="{% static 'app/site.webmanifest' %}">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
                integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
                crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
        <!-- FontAwesome icons -->
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
        <!-- Phosphor icons -->
        <script src="https://unpkg.com/@phosphor-icons/web@2.1.1"></script>
        <!-- vega and vega-lite for interactive graphics -->
        <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega@5/build/vega.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-lite@5/build/vega-lite.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-embed@6/build/vega-embed.min.js"></script>
        <!-- DataTables -->
        <link rel="stylesheet"
              href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.min.css" />
        <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.min.js"></script>
        <link rel="stylesheet"
              href="https://cdn.datatables.net/select/3.0.0/css/select.dataTables.min.css" />
        <script src="https://cdn.datatables.net/select/3.0.0/js/dataTables.select.min.js"></script>
        <!-- ion-rangeslider -->
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"
                integrity="sha512-kZsqvmw94Y8hyhwtWZJvDtobwQ9pLhF1DuIvcqSuracbRn6WJs1Ih+04fpH/8d1CFKysp7XA1tR0Aa2jKLTQUg=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        <!-- Selectize.js -->
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.bootstrap5.min.css"
              integrity="sha512-Ars0BmSwpsUJnWMw+KoUKGKunT7+T8NGK0ORRKj+HT8naZzLSIQoOSIIM3oyaJljgLxFi0xImI5oZkAWEFARSA=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
                integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        <!-- Rubik typeface from Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
              rel="stylesheet">

        <link rel="stylesheet" href="{% static 'app/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/selectize.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/slider.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/tables.css' %}">
        {# Plausible Tracking Snippet #}
        {% include 'tracking.html' %}
    </head>
    <body>
        {% block navbar %}
            {% include 'navbar.html' %}
        {% endblock navbar %}
        {% block subnav %}
            {% comment %}
            Subnavigation bar (e.g., used in Cell Atlas)
            {% endcomment %}
        {% endblock subnav %}

        <main class="container-xxl overflow-x-clip">
            {% block breadcrumb %}{% endblock %}
            {% block content %}{% endblock %}
            {% block pagination %}{% endblock %}
        </main>

        <!-- Enable tooltips and popovers-->
        <script>
    // Allow table elements in tooltips
    bootstrap.Tooltip.Default.allowList.table = [];
    bootstrap.Tooltip.Default.allowList.thead = [];
    bootstrap.Tooltip.Default.allowList.tbody = [];
    bootstrap.Tooltip.Default.allowList.tr = [];
    bootstrap.Tooltip.Default.allowList.td = [];

    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
        </script>

        {% block footer %}
            {% include 'footer.html' %}
        {% endblock footer %}
    </body>
</html>
