{% comment %}

Base website template

Features:
- Defines the overall structure and styling of the website
- Sets up Bootstrap tooltips and popovers
- Loads static files like custom CSS and favicons
- Loads external libraries for data visualization and UI elements

Dynamic blocks:
- title: page-specific title for the browser window
- navbar: navigation bar from `navbar.html` by default
- content: placeholder for page-specific content
- footer: footer from `footer.html` by default

{% endcomment %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}
                Biodiversity Cell Atlas: Data Portal
            {% endblock %}
        </title>

        <meta name="description"
              content="Explore and download Biodiversity Cell Atlas data.">
        <meta name="keywords"
              content="BCA, Biodiversity, Cell Atlas, Single-cell, Genomics, Transcriptomics, RNA, Portal">
        <meta name="google-site-verification"
              content="wNsj9u8FjiydZPpWptEDIL6KspW2yaEeOJVlQxdpUNU" />

        <meta name="theme-color" content="#239184">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-title" content="BCA" />

        <!-- Favicons -->
        {% load static %}
        <link rel="icon"
              type="image/png"
              href="{% static 'app/images/favicons/favicon-96x96.png' %}"
              sizes="96x96" />
        <link rel="icon"
              type="image/svg+xml"
              href="{% static 'app/images/favicons/favicon.svg' %}" />
        <link rel="shortcut icon"
              href="{% static 'app/images/favicons/favicon.ico' %}" />
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'app/images/favicons/apple-touch-icon.png' %}">
        <link rel="manifest" href="{% static 'app/site.webmanifest' %}">

        <!-- External CSS libraries -->
        <link rel="stylesheet" href="{% static 'app/js/index.css' %}">

        <!-- Custom CSS and scripts -->
        <link rel="stylesheet" href="{% static 'app/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/selectize.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/slider.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/tables.css' %}">

        {# Plausible Tracking Snippet #}
        {% include 'tracking.html' %}
    </head>
    <body>
        {% block navbar %}
            {% include 'navbar.html' %}
        {% endblock navbar %}
        {% block subnav %}
            {% comment %}
            Subnavigation bar (e.g., used in Cell Atlas)
            {% endcomment %}
        {% endblock subnav %}

        <main class="{% block main_class %}container-xxl overflow-x-clip{% endblock %}">
            {% block breadcrumb %}
            {% endblock %}
            {% block content %}
            {% endblock %}
            {% block pagination %}
            {% endblock %}
        </main>

        {% block footer %}
            {% include 'footer.html' %}
        {% endblock footer %}

        <!-- External JavaScript libraries -->
        <script type="module" src="{% static 'app/js/index.js' %}"></script>
        {% include 'app/components/javascript_urls.html' %}
    </body>
</html>
