{% comment %}
Favicons
{% endcomment %}

{% load static %}
<!-- Favicons -->
<link rel="icon"
      type="image/png"
      href="{% static 'app/images/favicons/favicon-96x96.png' %}"
      sizes="96x96" />
<link rel="icon"
      type="image/svg+xml"
      href="{% static 'app/images/favicons/favicon.svg' %}" />
<link rel="shortcut icon"
      href="{% static 'app/images/favicons/favicon.ico' %}" />
<link rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'app/images/favicons/apple-touch-icon.png' %}">
<link rel="manifest" href="{% static 'app/site.webmanifest' %}">
