{% comment %}

Footer template

Features:
- Institutional logos
- Citation for the BCA publication
- Provides navigation links to key sections

{% endcomment %}

{% load static %}
<div class="container-xxl">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 pt-5 mt-5 border-top">
        <div class="col-6 mb-3">
            <p class="text-muted">Biodiversity Cell Atlas</br>© 2024-{% now "Y" %}</p>
            <a href="https://www.crg.eu/" target="_blank">
                <p><img title="CRG" width="150" src="{% static 'app/images/logos/CRG/LOGOs-CRG-ENG_2014_transparent_back.png' %}"></i></p>
            </a>
            <a href="https://www.ebi.ac.uk/" target="_blank">
                <p><img title="EMBL-EBI" width="150" src="{% static 'app/images/logos/EMBL-EBI/EMBL_EBI_Logo_black.svg' %}"></i></p>
            </a>
            <a href="https://www.sanger.ac.uk/" target="_blank">
                <p><img title="Wellcome Sanger Institute" width="150" src="{% static 'app/images/logos/Sanger/Wellcome_Sanger_Institute_Logo_Landscape_Digital_RGB_Full_Colour.svg' %}"></i></p>
            </a>
        </div>

        <div class="col mb-3 d-none d-md-block"></div>

        <div class="col-6 mb-3">
            <h5><a href="#">Cite us</a></h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><span class="nav-link p-0 text-muted">
                    Darwin <i>et al.</i>,
                    <b><a href="#">The Biodiversity Cell Atlas: mapping the tree of life at cellular resolution</a></b>,
                    Systems Biology. 2024, 54(13):23-27
                </span></li>
            </ul>
        </div>

        <div class="col-6 mb-3">
            <h5><a href="{% url 'index' %}">BCA</a></h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="{% url 'atlas' %}" class="nav-link p-0 text-muted">Cell atlas</a></li>
                <li class="nav-item mb-2"><a href="{% url 'comparison' %}" class="nav-link p-0 text-muted">Species comparison</a></li>
                <li class="nav-item mb-2"><a href="{% url 'downloads' %}" class="nav-link p-0 text-muted">Downloads</a></li>
                <li class="nav-item mb-2"><a href="{% url 'blog' %}" class="nav-link p-0 text-muted">Blog</a></li>
            </ul>
        </div>

        <div class="col-6 mb-3">
            <h5><a href="{% url 'about' %}#about">About</a></h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="{% url 'about' %}#contact" class="nav-link p-0 text-muted">Contact us</a></li>
                <li class="nav-item mb-2"><a href="{% url 'about' %}#media" class="nav-link p-0 text-muted">Media kit</a></li>
                <li class="nav-item mb-2"><a href="{% url 'privacy' %}" class="nav-link p-0 text-muted">Legal and privacy</a></li>
                <li class="nav-item mb-2"><a href="{% url 'cookies' %}" class="nav-link p-0 text-muted">Cookies policy</a></li>
                <li class="nav-item mb-2"><a href="{% url 'about' %}#licenses" class="nav-link p-0 text-muted">Licenses</a></li>
            </ul>
        </div>
    </footer>
</div>
