{% comment %}

Navigation bar and search feature across BCA website

Features:
- Navbar with active state highlighting based on the current page
- Search box (selectize.js) to search for species and genes using API endpoints

{% endcomment %}

{% load static %}
{% with request.resolver_match.url_name as url_name %}
<nav class="navbar navbar-expand-md sticky-top navbar-dark">
    <div class="container-md container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">BCA</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link {% if 'atlas' in url_name %}active{% endif %}"
                    href="{% url 'atlas' %}">
                        Cell Atlas
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'comparison' %}active{% endif %}"
                    href="{% url 'comparison' %}">
                        Species Comparison
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'downloads' %}active{% endif %}"
                    href="{% url 'downloads' %}">
                        Downloads
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'blog' %}active{% endif %}"
                    href="{% url 'blog' %}">
                        Blog
                    </a>
                </li>
                <li class="nav-item nav-right">
                    <a class="nav-link {% if url_name == 'about' %}active{% endif %}"
                    href="{% url 'about' %}">
                        About
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item d-none d-md-block d-lg-none">
                    <a class="nav-link" href="#">
                        <i class="fa fa-search"></i> Search
                    </a>
                </li>
            </ul>
            <form class="d-md-none d-lg-block d-flex" role="search">
                <input class="bca-search form-control" type="search"
                placeholder="Search the BCA..." style="width: 220px;"
                aria-label="Search">
            </form>
        </div>
    </div>
</nav>
{% endwith %}

<script>
function displaySearchResults (item, escape) {
    var group = item.group;

    if (group == 'gene') {
        badges = '';
        var domains_array = item.domains;
        for(var i = 0; i < domains_array.length; i++) {
            if (domains_array[i] !== '') {
                span = '<span class="badge rounded-pill text-bg-secondary">';
                badges += ` ${span}<small>${domains_array[i]}</small></span>`;
            }
        }

        var desc = item.description === null ? "" :
            `<span class="text-muted"><small>${item.description}</small></span>`;

        shortenedName = item.species.scientific_name.split(' ')
            .map((word, index) => index === 0 ? `${word[0]}.` : word)
            .join(' ');
        var species = `<span class='text-muted float-end'><small><img src="${item.species.image_url}" style="width: 15px;"> <i>${shortenedName}</i></small></span>`;

        var res = `<div class='option'>${item.name} ${desc} ${badges} ${species}</div>`;
    } else if (group == 'species') {
        var img = item.image_url ? `<img src="${item.image_url}" style="width: 25px;"> ` : '';
        var desc = item.common_name === item.scientific_name ? "" :
            `<span class="text-muted"><small>${item.common_name}</small></span>`;
        var res = `<div class='option'>${img}<i>${item.scientific_name}</i> ${desc}</div>`;
    }
    return res;
}

// Search box functionality
{% load custom_tags %}
$(function () {
    $(".bca-search").selectize({
        maxItems: 1,
        render: {
            item: function (item, escape) {
                return `<div style="color: darkgray;">Search the BCA...</div>`;
            },
            option: displaySearchResults,
            optgroup_header: function(data, escape) {
                count = `<span class="badge rounded-pill" style="background: var(--primary-color);">${data.count} results</span>`;
                content = `<div class="optgroup-header d-flex justify-content-between"><span>${data.label}</span>${count}</div>`
                return content;
            }
        },
        onType: function(str) {
            if (str === "") {
                // clear all options if input is cleared
                this.clearOptions();
                this.clear();
                this.close();
            }
        },
        onFocus: function() {
		    this.clear();
		},
		onDropdownOpen: function() {
		    this.clear();
		},
        valueField: 'name',
        labelField: 'name',
        searchField: ['name', 'description', 'domains', 'scientific_name'],
        score: function() {
            // Avoid filtering by returning the same score to all results
            return function() { return 1; };
        },
        load: function(query, callback) {
            if (!query.length) return callback();

            // Fetch data from species and genes API
            params = new URLSearchParams ({
                q: encodeURIComponent(query),
                limit: 5
            });

            speciesURL = new URL(`{% url "rest:species-list" %}`, window.location.href);
            speciesURL.search = params;

            genesURL = new URL(`{% url "rest:gene-list" %}`, window.location.href);
            genesURL.search = params;

            // Combine results into optgroups
            Promise.all([
                fetch(speciesURL).then(res => res.json()),
                fetch(genesURL).then(res => res.json())
            ]).then(([species_data, gene_data]) => {
                const options = [
                    ...species_data.results.map(item => ({ ...item,
                        group: 'species', name: item.scientific_name })),
                    ...gene_data.results.map(item => ({ ...item,
                        group: 'gene' }))
                ];
                this.clearOptions()

                this.optgroups = {
                    species: { label: "Species search", count: species_data.count },
                    gene:    { label: "Gene search",    count: gene_data.count }
                };
                callback(options);
            })
            .catch(err => {
                console.error('Error loading data:', err);
                callback();
            });
        },
        onChange: function(value) {
    	    if (value !== "") {
    	        item = this.options[value];
    	        if (item.group == 'gene') {
    	            gene = item.name;
    	            species = item.species.scientific_name.replace(' ', '_');
    	            window.location.href =
    	                "{% url 'atlas_gene' '::species' '::gene' %}"
    	                .replace('::species', species)
    	                .replace('::gene', gene);
    	        } else if (item.group == 'species') {
    	            // Jump to species
    	            species = item.scientific_name.replace(' ', '_');
    			    window.location.href =
    			        {% startswith request.resolver_match.view_name 'atlas_' as atlas %}
    			        {% if atlas %}
    			            // Jump to same page in atlas with another species
    			            "{% url request.resolver_match.view_name '::arg' %}"
    			                .replace('::arg', species)
    			        {% else %}
    			            // Jump to atlas_info
    			            "{% url 'atlas_info' '::arg' %}"
    			                .replace('::arg', species)
    			        {% endif %};
    	        }
    	    }
    		return;
		},
        optgroupField: 'group'
    });
});
</script>