{% comment %}

Navigation bar and search feature across BCA website

Features:
- Navbar with active state highlighting based on the current page
- Search box (selectize.js) to search for datasets and genes using API endpoints

{% endcomment %}

<style>
    .w-220px { width: 220px; }
    .w-25px { width: 25px; }
    .w-15px { width: 15px; }

    a.navbar-brand {
        width: 40px;
        height: 40px;
    }

    a.navbar-brand img {
        position: relative;
        left: -15%;
        top: -32%;
    }
</style>

{% load static %}
{% with request.resolver_match.url_name as url_name %}
    <header>
        <nav class="navbar navbar-expand-md fixed-top navbar-dark">
            <div class="container-xxl">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img title="Biodiversity Cell Atlas"
                         width="50"
                         height="50"
                         alt="Biodiversity Cell Atlas"
                         src="{% static 'app/images/logos/BCA/BCALogotypeDesign_2024_Seal_Logo_White.svg' %}">
                </a>

                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link {% if 'atlas' in url_name %}active{% endif %}"
                               href="{% url 'atlas' %}">Cell Atlas</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {% if url_name == 'downloads' %}active{% endif %}"
                               href="{% url 'downloads' %}">Downloads</a>
                        </li>

                        {% comment %}
                        <li class="nav-item">
                            <a class="nav-link {% if url_name == 'reference' %}active{% endif %}" href="{% url 'reference' %}">Reference</a>
                        </li>
                        {% endcomment %}

                        {% load bca_website_links %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% bca_url 'blog' %}" target="_blank">Blog</a>
                        </li>

                        <li class="nav-item nav-right">
                            <a class="nav-link {% if url_name == 'about' %}active{% endif %}"
                               href="{% url 'about' %}">About</a>
                        </li>
                    </ul>
                    {% comment %}
                    <ul class="navbar-nav">
                        <li class="nav-item d-none d-md-block d-lg-none">
                            <a class="nav-link" href="#">
                                <i class="fa fa-search"></i> Search
                            </a>
                        </li>
                    </ul>
                    {% endcomment %}
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown pe-2">
                            <button class="btn btn-warning background-light-accent border-light-accent"
                                    data-bs-toggle="modal"
                                    data-bs-target="#demoModal">
                                <span class="text-black-50">
                                    Demo <span class="d-inline d-md-none d-xl-inline">release</span>
                                </span>
                            </button>
                        </li>
                        <li>
                            <form class="d-block d-flex" role="search">
                                <input id="bca-search"
                                       class="bca-search form-control w-220px"
                                       type="search"
                                       placeholder="Search the BCA..."
                                       aria-label="Search">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endwith %}

<div class="modal fade"
     id="demoModal"
     tabindex="-1"
     aria-labelledby="demoModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header background-light-accent">
                <h1 class="modal-title fs-5 text-black-50" id="demoModalLabel">
                    BCA Demo release
                </h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <p>
                    The Biodiversity Cell Atlas: Data Portal and its data are
                    currently available as a <b>demo release</b>.
                </p>
                <p>
                    This version allows to explore preliminary data and
                    interact with key features of the platform.
                </p>
                <p class="mb-0">
                    Please note that <b>the data and functionalities are still
                under development and subject to change.</b>
            </p>
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary w-100"
               href="{{ FEEDBACK_URL }}"
               target="_blank">
                <i class="fa fa-comments fa-fw"></i> Share feedback
            </a>
        </div>
    </div>
</div>
</div>

<script type="module">
    import { toggleAtlasSelectColumnView } from "{% static 'app/js/select/atlas.js' %}";
    toggleAtlasSelectColumnView();

    import { initSearch } from "{% static 'app/js/search/search_bar.js' %}";
    initSearch();
</script>
