{% comment %}

Navigation bar and search feature across BCA website

Features:
- Navbar with active state highlighting based on the current page
- Search box (selectize.js) to search for datasets and genes using API endpoints

{% endcomment %}

{% load static %}
{% with request.resolver_match.url_name as url_name %}
<header><nav class="navbar navbar-expand-md fixed-top navbar-dark">
    <div class="container-xxl">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img title="Biodiversity Cell Atlas" width="50"
            style="margin: -10px;"
            src="{% static 'app/images/logos/BCA/BCALogotypeDesign_2024_Seal_Logo_White.svg' %}">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link {% if 'atlas' in url_name %}active{% endif %}"
                    href="{% url 'atlas' %}">
                        Cell Atlas
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'downloads' %}active{% endif %}"
                    href="{% url 'downloads' %}">
                        Downloads
                    </a>
                </li>

                {% load bca_website_links %}
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'blog' %}active{% endif %}"
                    href="{% bca_url 'blog' %}" target="_blank">
                        Blog
                    </a>
                </li>

                <li class="nav-item nav-right">
                    <a class="nav-link {% if url_name == 'about' %}active{% endif %}"
                    href="{% url 'about' %}">
                        About
                    </a>
                </li>
            </ul>
            {% comment %}
            <ul class="navbar-nav">
                <li class="nav-item d-none d-md-block d-lg-none">
                    <a class="nav-link" href="#">
                        <i class="fa fa-search"></i> Search
                    </a>
                </li>
            </ul>
            {% endcomment %}
            <ul class="navbar-nav">
                <li class="nav-item dropdown pe-2">
                    <button class="btn btn-warning"
                    style="background-color: var(--light-accent-color); border-color: var(--light-accent-color);"
                    data-bs-toggle="modal" data-bs-target="#demoModal">
                        <span class="text-black-50">
                            Demo <span class="d-inline d-md-none d-xl-inline">release</span>
                        </span>
                    </button>
                </li>
                <li>
                    <form class="d-block d-flex" role="search">
                        <input id="bca-search" class="bca-search form-control"
                        type="search" placeholder="Search the BCA..."
                        style="width: 220px;" aria-label="Search">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav></header>
{% endwith %}

<div class="modal fade" id="demoModal" tabindex="-1"
aria-labelledby="demoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"
            style="background-color: var(--light-accent-color);">
                <h1 class="modal-title fs-5 text-black-50" id="demoModalLabel">
                    BCA Demo release
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>The Biodiversity Cell Atlas: Data Portal and its data are
                currently available as a <b>demo release</b>.</p>
                <p>This version allows to explore preliminary data and
                interact with key features of the platform.</p>
                <p class="mb-0">Please note that <b>the data and functionalities are still
                under development and subject to change.</b></p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary w-100"
                href="{{ FEEDBACK_URL }}" target="_blank">
                    <i class="fa fa-comments fa-fw"></i> Share feedback
                </a>
            </div>
        </div>
    </div>
</div>

<script>
function displaySearchResults (item, escape) {
    var group = item.group;

    if (group == 'gene') {
        badges = '';
        var domains_array = item.domains;
        for(var i = 0; i < domains_array.length; i++) {
            if (domains_array[i] !== '') {
                span = '<span class="badge rounded-pill text-bg-secondary">';
                badges += ` ${span}<small>${domains_array[i]}</small></span>`;
            }
        }

        var desc = item.description === null ? "" :
            `<span class="text-muted"><small>${item.description}</small></span>`;

        shortenedName = item.species.scientific_name.split(' ')
            .map((word, index) => index === 0 ? `${word[0]}.` : word)
            .join(' ');
        var species = `<span class='text-muted float-end'><small><img src="${item.species.image_url}" style="width: 15px;"> <i>${shortenedName}</i></small></span>`;

        var res = `<div class='option'>${item.name} ${desc} ${badges} ${species}</div>`;
    } else if (group == 'dataset') {
        var imgURL = item.image_url || item.species_image_url;
        var img  = !imgURL ? '' : `<img src="${imgURL}" style="width: 25px;"> `;
        var desc = !item.species_common_name ? "" :
            `<span class="text-muted"><small>${item.species_common_name}</small></span>`;

        // Add metadata (only visible when matching user query)
        var meta_array = item.species_meta.map(i => i.value);
        badges = '';
        for(var i = 0; i < meta_array.length; i++) {
            var elem = meta_array[i];

            // Avoid showing badges identical to displayed names
            if (elem && !item.species.includes(elem) && !item.species_common_name) {
                span = '<span class="species-meta badge rounded-pill text-bg-secondary">';
                badges += ` ${span}<small>${elem}</small></span>`;
            }
        }
        var dataset_label = !item.name ? '' : `(${item.name})`;
        var res = `<div class='option'>${img}<i>${item.species}</i> ${dataset_label} ${desc} ${badges}</div>`;
    }
    return res;
}

// Search box functionality
{% load custom_tags %}
$(function () {
    $("#bca-search").selectize({
        maxItems: 1,
        render: {
            item: function (item, escape) {
                return `<div style="color: darkgray;">Search the BCA...</div>`;
            },
            option: displaySearchResults,
            optgroup_header: function(data, escape) {
                var query = this.getTextboxValue();

                count = `<a href="{% url 'search' %}?q=${query}&category=${data.category}"><span class="badge rounded-pill" style="background: var(--primary-color); padding-top: 6px;">${data.count} results <i class="fa fa-circle-chevron-right"></i></span></a>`;
                content = `<div class="optgroup-header d-flex justify-content-between"><span>${data.label} search</span>${count}</div>`
                return content;
            }
        },
        onType: function(str) {
            if (str === "") {
                // clear all options if input is cleared
                this.clearOptions();
                this.clear();
                this.close();
            }
        },
        onFocus: function() {
		    this.clear();
		},
		onDropdownOpen: function() {
		    this.clear();
		},
        valueField: 'slug',
        labelField: 'slug',
        searchField: ['species', 'name', 'description', 'domains', 'scientific_name'],
        score: function() {
            // Avoid filtering by returning the same score to all results
            return function() { return 1; };
        },
        load: function(query, callback) {
            if (!query.length) return callback();

            // Fetch data from API
            params = new URLSearchParams ({
                q: encodeURIComponent(query),
                limit: 5
            });

            datasetsURL = new URL(`{% url "rest:dataset-list" %}`, window.location.href);
            datasetsURL.search = params;

            genesURL = new URL(`{% url "rest:gene-list" %}`, window.location.href);
            genesURL.search = params;

            // Combine results into optgroups
            Promise.all([
                fetch(datasetsURL).then(res => res.json())
                //fetch(genesURL).then(res => res.json())
            ]).then(([dataset_data, gene_data]) => {
                const options = [
                    ...dataset_data.results.map(item => ({ ...item, group: 'dataset' }))
                    //...gene_data.results.map(item => ({ ...item, group: 'gene' }))
                ];
                this.clearOptions();

                this.optgroups = {
                    dataset: { label: "Dataset", category: "dataset", count: dataset_data.count },
                    //gene:    { label: "Gene",    category: "genes",   count: gene_data.count }
                };
                callback(options);
            })
            .catch(err => {
                console.error('Error loading data:', err);
                callback();
            });
        },
        onChange: function(value) {
    	    if (value !== "") {
    	        item = this.options[value];
    	        if (item.group == 'gene') {
    	            gene = item.name;
    	            dataset = item.dataset.scientific_name.replace(' ', '_');
    	            window.location.href =
    	                "{% url 'atlas_gene' '::dataset' '::gene' %}"
    	                .replace('::dataset', dataset)
    	                .replace('::gene', gene);
    	        } else if (item.group == 'dataset') {
    	            // Jump to dataset
    	            dataset = item.slug;
    			    window.location.href =
    			        {% startswith request.resolver_match.view_name 'atlas_' as atlas %}
    			        {% if atlas %}
    			            // Jump to same page in atlas with another dataset
    			            "{% url request.resolver_match.view_name '::arg' %}"
    			                .replace('::arg', dataset)
    			        {% else %}
    			            // Jump to atlas_info
    			            "{% url 'atlas_info' '::arg' %}"
    			                .replace('::arg', dataset)
    			        {% endif %};
    	        }
    	    }
    		return;
		},
        optgroupField: 'group'
    });

    function toggleClassBasedOnWidth() {
        if ($(window).width() <= 960) {
            $('.atlas-select').removeClass('plugin-optgroup_columns');
        } else {
            $('.atlas-select').addClass('plugin-optgroup_columns');
        }
    }

    // Run on initial load and when resizing window
    toggleClassBasedOnWidth();
    $(window).resize(function() { toggleClassBasedOnWidth(); });
});

// Jump to search bar when pressing the keyboard shortcut: / (slash)
document.addEventListener('keydown', (e) => {
  if (e.key === '/' && document.activeElement.tagName !== 'INPUT' && !e.ctrlKey && !e.altKey) {
    e.preventDefault();
    $("#bca-search")[0].selectize.focus();
  }
});
</script>
