---
name: Django CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
    workflow_dispatch:

permissions:
    contents: read

jobs:
    django-ci:
        name: Django Tests
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v5
              with:
                  persist-credentials: false

            - name: Prepare environment
              run: |
                  cp .pgpass.template .pgpass
                  chmod 600 .pgpass
                  cp .pg_service.conf.template .pg_service.conf

                  cp .env.template .env
                  sed -i '/POSTGRES_SERVICE/d' .env
                  echo "ENVIRONMENT=prod" >> .env
                  echo "POSTGRES_DB=bca" >> .env
                  echo "POSTGRES_HOST=db" >> .env
                  echo "POSTGRES_HOST_AUTH_METHOD=trust" >> .env
                  echo "POSTGRES_PORT=5432" >> .env
                  echo "PGUSER=postgres" >> .env
                  echo "POSTGRES_USER=postgres" >> .env
                  echo "POSTGRES_PASSWORD=mypassword" >> .env

            - name: Set up Docker Compose
              uses: docker/setup-compose-action@v1

            - name: Start services
              run: DOCKER_WEB_USER=root docker compose up -d --build

            - name: Install coverage
              run: |
                  docker compose exec web \
                      pip install coverage

            - name: Run tests with coverage
              run: |
                  docker compose exec web \
                      coverage run manage.py test

            - name: Create XML coverage file
              run: |
                  docker compose exec web \
                      coverage xml
                  docker compose cp \
                      web:/usr/src/app/coverage.xml coverage.xml

            - name: Upload coverage reports to Codecov
              uses: codecov/codecov-action@v5
              with:
                  files: coverage.xml
                  token: ${{ secrets.CODECOV_TOKEN }}
                  slug: biodiversitycellatlas/bca-website

            - name: Show coverage report
              run: |
                  docker compose exec web \
                      coverage report --skip-covered

            - name: Run deployment check
              if: always()
              run: |
                  docker compose exec web \
                      python manage.py check --deploy
