---
name: Linters

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
    workflow_dispatch:

permissions:
    contents: read
    packages: read

jobs:
    super-linter:
        name: Super-Linter (check)
        runs-on: ubuntu-latest
        permissions:
            checks: write
            statuses: write

        steps:
            - name: Checkout code
              uses: actions/checkout@v6
              with:
                  # needs full git history
                  fetch-depth: 0
                  persist-credentials: false

            - name: Load super-linter configuration
              run: grep -v "^#" .github/linters/super-linter.env >> "$GITHUB_ENV"

            - name: Report all Super-Linter issues
              uses: super-linter/super-linter@v8.3.2
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  VALIDATE_ALL_CODEBASE: ${{ github.event_name == 'workflow_dispatch' }}

    super-linter-fix:
        name: Super-Linter (fix)
        runs-on: ubuntu-latest
        permissions:
            pull-requests: write

        steps:
            - name: Checkout code
              uses: actions/checkout@v6
              with:
                  # needs full git history
                  fetch-depth: 0
                  persist-credentials: false

            - name: Load super-linter configuration
              run: grep -hv "^#" .github/linters/super-linter{,-fix}.env >> "$GITHUB_ENV"

            - name: Lint files with Super-Linter
              uses: super-linter/super-linter@v8.3.2
              continue-on-error: true
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Cleanup Super-Linter output
              run: |
                  sudo rm -f \
                      github_conf/branch_protection_rules.json \
                      super-linter-output/super-linter-summary.md

            - name: Suggest changes
              uses: reviewdog/action-suggester@v1
              with:
                  tool_name: Super-Linter
                  filter_mode: diff_context
                  cleanup: false

    djlint:
        name: djlint (Django HTML)
        runs-on: ubuntu-latest
        permissions:
            pull-requests: write

        steps:
            - name: Checkout code
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0
                  persist-credentials: false

            - name: Install djlint
              run: pip install djlint

            - name: Lint HTML files with djlint
              run: djlint . --reformat
              continue-on-error: true

            - name: Suggest changes
              uses: reviewdog/action-suggester@v1
              with:
                  tool_name: djlint (Django HTML)
                  filter_mode: diff_context

            - name: Report all djlint issues
              run: djlint .

    autoprefix:
        name: Autoprefixer (CSS)
        runs-on: ubuntu-latest
        permissions:
            pull-requests: write

        steps:
            - name: Checkout repository
              uses: actions/checkout@v6
              with:
                  persist-credentials: false

            - name: Setup Bun
              uses: oven-sh/setup-bun@v2

            - name: Install JS/CSS dependencies
              run: bun install

            - name: Lint CSS files with Autoprefixer
              run: bunx postcss ./**/*.css --use autoprefixer --no-map --replace

            - name: Suggest changes
              uses: reviewdog/action-suggester@v1
              with:
                  tool_name: autoprefixer (CSS)
                  fail_level: error
                  filter_mode: diff_context
