name: REST version warning

on:
    pull_request:
        paths:
            # Runs on changes in rest/
            - "rest/**"

permissions:
    contents: read

jobs:
    version-warning:
        runs-on: ubuntu-latest
        permissions:
            pull-requests: write
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  persist-credentials: false

            - name: Warn if REST version was not updated
              run: |
                  FILE="config/settings.py"
                  # Get diff for this file against the base branch
                  if ! git diff origin/"${GITHUB_BASE_REF}" -- "$FILE" | grep -q "VERSION"; then
                      # Find line number of VERSION in current file
                      LINE=$(grep -n "VERSION" "$FILE" | cut -d: -f1 | head -n1)

                      # Post a PR comment at that line
                      gh pr comment "${{ github.event.pull_request.number }}" \
                          --body "⚠️ If REST has updates, bump its version using SemVer (MAJOR.MINOR.PATCH)." \
                          --path "$FILE" \
                          --line "$LINE" \
                          --position 1
                  fi
