---
name: Data Portal tests

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
    workflow_dispatch:

permissions:
    contents: read

jobs:
    django-ci:
        name: Django Tests
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v6
              with:
                  persist-credentials: false

            - name: Prepare environment
              run: |
                  cp .pgpass.template .pgpass
                  chmod 600 .pgpass
                  cp .pg_service.conf.template .pg_service.conf

                  # Fix for local db not loading in GitHub Actions
                  cp .env.template .env
                  sed -i '/POSTGRES_SERVICE/d' .env
                  cat <<EOF >> .env
                  POSTGRES_DB=bca
                  POSTGRES_HOST=db
                  POSTGRES_HOST_AUTH_METHOD=trust
                  POSTGRES_PORT=5432
                  PGUSER=postgres
                  POSTGRES_USER=postgres
                  POSTGRES_PASSWORD=mypassword
                  EOF

            - name: Set up Docker Compose
              uses: docker/setup-compose-action@v1

            - name: Start services
              run: DOCKER_WEB_USER=root docker compose up -d --build

            - name: Check for missing migrations
              run: |
                  docker compose exec web \
                      python manage.py makemigrations --check

            - name: Run tests with coverage
              run: |
                  docker compose exec web \
                      coverage run manage.py test

            - name: Create XML coverage file
              run: |
                  docker compose exec web \
                      coverage xml
                  docker compose cp \
                      web:/usr/src/app/coverage.xml coverage.xml

            - name: Upload coverage to Codecov
              uses: codecov/codecov-action@v5
              with:
                  files: coverage.xml
                  token: ${{ secrets.CODECOV_TOKEN }}
                  slug: biodiversitycellatlas/bca-website
                  flags: django

            - name: Show coverage report
              run: |
                  docker compose exec web \
                      coverage report --skip-covered

            - name: Run deployment check
              run: |
                  docker compose exec web \
                      python manage.py check --deploy

    bun-ci:
        name: Typescript Tests via Bun
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
              with:
                  persist-credentials: false

            - name: Setup Bun
              uses: oven-sh/setup-bun@v2

            - name: Install JS/CSS dependencies
              run: bun install

            - name: Run tests with coverage
              run: bun test --coverage --coverage-reporter=lcov

            - name: Upload coverage to Codecov
              uses: codecov/codecov-action@v5
              with:
                  files: ./coverage/lcov.info
                  token: ${{ secrets.CODECOV_TOKEN }}
                  slug: biodiversitycellatlas/bca-website
                  flags: typescript
