<!--
Data view/download button

Shows options to view/download data or get API link
-->

<button type="button" id="data-projection"
class="btn btn-secondary btn-sm float-end me-2 dropdown-toggle"
data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
    <i class="fa fa-table"></i> Data
</button>

<ul class="dropdown-menu">
    {% with 'Single-cell Metacell Links' as data %}{% for each in data.split %}
        <li class="dropdown-header">{{each}}</li>
        {% with 'CSV JSON' as formats %}{% for format in formats.split %}
            <li style="font-weight: 400; padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);">
                <label style="line-height: 1.5">{{format}}</label>
                <div class="btn-toolbar ms-4 float-end" role="toolbar">
                    <div class="btn-group me-2" role="group">
                        <a type="button" href="#" class="btn btn-outline-secondary btn-xs">
                            <i class="fa fa-eye"></i> View
                        </a>
                        <a type="button" href="#" class="btn btn-outline-secondary btn-xs">
                            <i class="fa fa-file-arrow-down"></i> Download
                        </a>
                    </div>
                    <a type="button" href="#" class="btn btn-outline-secondary btn-xs">
                        <i class="fa fa-code"></i> Copy API link
                    </a>
                </div>
            </li>
        {% endfor %}{% endwith %}

        {% if not forloop.last %}
            <li><hr class="dropdown-divider"></li>
        {% endif %}
    {% endfor %}{% endwith %}
</ul>
