<!--
Select gene

When a gene is selected, automatically submit form with gene as parameter

Input:
    - gene: default gene to select (ignore if default is none)
-->

<form>
    <select id="gene" name="gene" class="mb-3" placeholder="Search gene by name, description or domains...">
        <option value=""></option>
    </select>
</form>

<!-- Species selection: selectize.js JavaScript options -->
<script>
function display_gene (item, escape) {
    var domains_array = item.domains;
    badges = '';
    for(var i = 0; i < domains_array.length; i++) {
        if (domains_array[i] !== '') {
            span = '<span class="badge rounded-pill text-bg-secondary">';
            badges += ` ${span}<small>${domains_array[i]}</small></span>`;
        }
    }
    var desc = item.description === null ? "" : `<span class="text-muted"><small>${item.description}</small></span>`;
    return `<div class='option'>${item.name} ${desc} ${badges}</div>`;
}

$(function () {
    $("#gene").selectize({
        onChange: function(value) {
            // Avoid jumping if value is empty or matches current gene
    	    if (value !== "" && value !== '{{gene}}') {
    			console.log($("#gene").parent().submit());
    		}
		},
		onDropdownOpen: function($dropdown) {
		    this.clear();
		},
		onBlur: function() {
		    // Set current gene if no value is selected
            if (!this.getValue()) {
                this.setValue('{{gene}}');
            }
        },
        onType: function(str) {
            // Clear available options to avoid selection while loading more data
            this.clearOptions();
        },
        render: { item: display_gene, option: display_gene },
        valueField: 'name',
        searchField: ['name', 'description', 'domains'],
        preload: true,
        load: function(query, callback) {
            $.ajax({
                url: 'http://localhost:8000/api/v1/gene',
                type: 'GET',
                dataType: 'json',
                data: {
                    species: '{{species}}',
                    q: query || '{{gene}}',
                    limit: 50
                },
                error: function() { callback(); },
                success: function(res) { callback(res.results); }
            });
        }
    });

    // Set default value after loading data
    var selectize = $("#gene")[0].selectize;
    function setDefaultGene() {
        selectize.setValue('{{gene}}');
        // Remove the event listener after it runs once
        selectize.off('load', setDefaultGene);
    }
    // Use addEventListener to attach the handler
    selectize.on('load', setDefaultGene);
});
</script>
