<!--
Gene selector

When a gene is selected, automatically redirects to gene page

Input:
    - gene: default gene to select with properties 'name', 'description' and
            'domains' (ignore if default is none)
-->

<select id="gene" name="gene" class="mb-3" placeholder="Search gene by symbol, description or domains...">
    <option value=""></option>
</select>

<!-- Species selection: selectize.js JavaScript options -->
<script>
function displayGene (item, escape) {
    var domains_array = item.domains;
    badges = '';
    for(var i = 0; i < domains_array.length; i++) {
        if (domains_array[i] !== '') {
            span = '<span class="badge rounded-pill text-bg-secondary">';
            badges += ` ${span}<small>${domains_array[i]}</small></span>`;
        }
    }
    var desc = item.description === null ? "" : `<span class="text-muted"><small>${item.description}</small></span>`;
    return `<div class='option'>${item.name} ${desc} ${badges}</div>`;
}

$(function () {
    $("#gene").selectize({
        onChange: function(value) {
            // Avoid jumping if value is empty or matches current gene
    	    if (value !== "" && value !== '{{gene}}') {
    			window.location.href =
    			    "{% url 'atlas_gene' species.species_underscore '::arg' %}".replace('::arg', value);
    		}
		},
		onDropdownOpen: function($dropdown) {
		    this.clear();
		},
		onBlur: function() {
		    // Set current gene if no value is selected
            if (!this.getValue()) {
                this.setValue('{{gene}}');
            }
        },
        onType: function(str) {
            // Clear available options to avoid selection while loading more data
            this.clearOptions();
        },
        render: { item: displayGene, option: displayGene },
        valueField: 'name',
        searchField: ['name', 'description', 'domains'],
        preload: true,
        load: function(query, callback) {
            $.ajax({
                url: 'http://localhost:8000/api/v1/gene',
                type: 'GET',
                dataType: 'json',
                data: {
                    species: '{{species}}',
                    q: query || '{{gene}}',
                    limit: 50
                },
                error: function() { callback(); },
                success: function(res) { callback(res.results); }
            });
        }
    });

    {% if gene %}
        function setDefaultGene() {
            var geneOptions = {
                'name': '{{gene.name}}',
                'description': '{{gene.description}}',
                'domains': {{gene.domains|safe}}
            };
        
            var selectize = $("#gene")[0].selectize;
            selectize.addOption(geneOptions);
            selectize.setValue('{{gene}}');
        }
        setDefaultGene();
    {% endif %}
});
</script>
