<!--
Select gene

When a gene is selected, automatically submit form with gene as parameter

Input:
    - genes: list of available genes with name, description and domains
    - selected: default gene to select (ignore if default is none)
-->

<form>
<select id="gene" name="gene" class="mb-3" placeholder="Search gene by name, description or domains...">
    <option value=""></option>
    {% for gene in genes %}
        <option value="{{gene.name}}" data-description="{{gene.description}}" data-domains="{{gene.domains|join:','}}">{{ gene.name }}</option>
    {% endfor %}
</select>
</form>

<!-- Species selection: selectize.js JavaScript options -->
<script>
$(function () {
    function display_gene (item, escape) {
        var domains_array = item.domains.split(',');
        badges = '';
        for(var i = 0; i < domains_array.length; i++) {
            if (domains_array[i] !== '') {
                span = '<span class="badge rounded-pill text-bg-secondary">';
                badges += ` ${span}<small>${domains_array[i]}</small></span>`;
            }
        }
        var desc = item.description === "None" ? "" : `<span class="text-muted"><small>${item.description}</small></span>`;
        return `<div class='option'>${item.text} ${desc} ${badges}</div>`;
    }

    $("#gene").selectize({
        onChange: function(value) {
            // Avoid jumping if value is empty or matches current gene
    	    if (value !== "" && value !== '{{selected}}') {
    			console.log($("#gene").parent().submit());
    		}
		},
		onDropdownOpen: function() {
		    this.clear();
		},
		onDropdownClose: function() {
		    // Set current species if no value is selected
            if (!this.getValue()) {
                this.setValue('{{species.species_underscore}}');
            }
        },
        render: { item: display_gene, option: display_gene },
        searchField: ['text', 'description', 'domains'],
        items: [ '{{selected}}' ],
    });
});
</script>
