/* Theme variables */

:root {
    --font: 'Rubik', sans-serif;

    --bold-dark-color: #239184;
    --bold-light-color: #3BBCB2;
    --neutral-color: #FFF6EE;
    --light-accent-color: #FFAC3E;
    --bold-accent-color: #3AB064;

    --primary-color: var(--bold-dark-color);
    --hover-color: var(--bold-light-color);
    --hover-border-color: #3BBCB277;

    --navbar-hover-color: #00000030;
    --navbar-hover-shadow-color: #00000080;
    --navbar-box-shadow: 0 0.5rem 1rem var(--navbar-hover-color);

    --subnavbar-bg-color: #FFFFFF80;
    --subnavbar-blur: blur(20px);

    --card-text-shadow: var(--navbar-hover-shadow-color);
    --dropdown-menu-color: var(--subnavbar-bg-color);
    --dropdown-menu-shadow: 0 5px 10px 5px #00000011;
    --dropdown-menu-blur: var(--subnavbar-blur);

    --table-row-color: #3BBCB222;
    --table-selected-row-color: var(--primary-color);
    --table-selected-a-color: var(--subnavbar-bg-color);
}

.pagination {
    --bs-pagination-color: var(--primary-color);
    --bs-pagination-active-color: white;
    --bs-pagination-hover-color: var(--hover-color);
    --bs-pagination-active-bg: var(--primary-color);
    --bs-pagination-active-border-color: var(--primary-color);
}

/* Navbar (and related fixes) */

html { /* Add padding to avoid navbar overlap when scrolling to URL hashes */
  scroll-padding-top: 60px;
}

html:has(.subnavbar) {
  scroll-padding-top: 96px;
}

.navbar {
    background: var(--primary-color);
    box-shadow: var(--navbar-box-shadow);
    margin-bottom: 20px;
}

.navbar .navbar-brand {
    font-weight: 1000;
    border-radius: 10px;
    padding: 5px 1px 5px 1px;
}

.navbar .navbar-brand:focus-visible {
    outline: none;
    background: var(--navbar-hover-color);
    box-shadow: 0px 0px 0px 2px var(--navbar-hover-shadow-color);
}

.navbar .nav-link {
    border-radius: 10px;
    margin: 1px;
}

.navbar .nav-link:focus-visible {
    background: var(--navbar-hover-color);
    box-shadow: 0px 0px 0px 2px var(--navbar-hover-shadow-color);
}

.navbar .selectize-input:focus-within {
    border-color: var(--navbar-hover-shadow-color);
    box-shadow: 0px 0px 0px 2px var(--navbar-hover-shadow-color);
}

.navbar-toggler {
    border-color: var(--bs-navbar-toggler-icon-bg);
    border-width: 2px;
}

/* Subnavbar: navigation tabs (Cell Atlas) */

.subnavbar {
    top: 58px;
}

.subnavbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--subnavbar-bg-color);
    backdrop-filter: var(--subnavbar-blur);
}

.offcanvas-md {
    @include media-breakpoint-down(md) {
        height: 100vh;
    }
}

.offcanvas-header {
    margin-top: 58px;
}

.offcanvas-backdrop.show {
    background-color: var(--navbar-hover-color);
    backdrop-filter: var(--subnavbar-blur);
}

.nav .nav-link {
    color: var(--primary-color);
}

.nav .nav-link:hover {
    color: var(--hover-color);
}

.nav .nav-link.disabled {
    color: var(--bs-nav-link-disabled-color);
}

.nav .nav-link:focus-visible {
    box-shadow: 0 0 0 .25rem var(--hover-border-color);
}

.nav-pills .nav-link.active {
    color: white;
    background-color: var(--primary-color);
}

/* Body */

body {
    padding-top: 80px;
    font-family: var(--font);
}

.lead {
    font-size: 1.20rem;
}

.form-control:focus, .sequence-input:has(.sequence-textarea:focus) {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.25rem var(--hover-border-color);
}

.btn.btn-primary.disabled, .btn.btn-primary:disabled, fieldset:disabled.btn.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn.btn-primary, .btn.btn-outline-primary {
    --bs-btn-hover-bg: var(--hover-color);
    --bs-btn-hover-border-color: var(--primary-color);
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem var(--hover-border-color);
}

.btn-xs {
    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background: var(--hover-color);
    border-color: var(--hover-color);
    border-color: white;
}

.btn-primary:active {
    background: var(--primary-color) !important;
    background-color: var(--primary-color) !important;
    border-color: white !important;
}

.btn-outline-primary {
    border-color: var(--primary-color) !important;
    color: var(--primary-color);
}

.btn-outline-primary:hover {
    border-color: var(--primary-color) !important;
    color: white;
    background-color: var(--hover-color);
}

.btn-outline-primary:active {
    border-color: var(--primary-color) !important;
    background-color: var(--primary-color) !important;
}

.btn.btn-outline-primary.dropdown-toggle.show {
    background-color: var(--primary-color);
}

.btn-check+.btn.btn-outline-primary:hover {
    color: var(--hover-color);
}

.btn-check:checked+.btn.btn-outline-primary {
    background-color: var(--primary-color);
    color: white;
}

.btn-check:checked+.btn.btn-outline-primary:hover {
    background-color: var(--hover-color);
    color: white;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--primary-color);
}

.news {
    text-decoration: none;
    transition: all 0.1s linear;
    text-shadow: 0 0 4px var(--card-text-shadow);
}

.card:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--hover-color);
}

.placeholder {
    display: inline-block;
    height: 1em;
    min-height: 0;
    vertical-align: middle;
    background-color: lightgray;
    opacity: 1;
    cursor: default;
}

.list-group-item.active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);

    margin-left: 1px;

    position: sticky;
    top: 0;
    bottom: 0;
}

.list-group-item.active .text-body-secondary {
    color: white !important;
}

.list-group-heading {
    color: var(--primary-color);
    font-weight: 500;
    text-transform: lowercase;
    font-variant: small-caps;

    background-color: rgb(var(--bs-light-rgb));

    border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
}

.list-group-heading + .list-group-heading,
.list-group-heading + .list-group-item,
.list-group-item + .list-group-heading,
.list-group-item + .list-group-item {
    border-top-width: 0;
}

.list-group-heading:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-top-width: 1px;
}

.upload-tooltip .tooltip-inner {
    max-width: 300px;
}

.color-bullet {
    color: red;
    -webkit-text-stroke: .8px white;
    text-stroke: .8px white;
    font-size: 0.6em;
    vertical-align: middle;
}

.search-highlight {
    background: rgba(255,237,40,.4);
}

.sequence-textarea:focus {
    box-shadow: none;
}

/* Dropdown menu */

.dropdown-menu {
    background: var(--dropdown-menu-color);
    backdrop-filter: var(--dropdown-menu-blur);
    box-shadow: var(--dropdown-menu-shadow);
}

/* Loading icon */

.loading-state {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border: 10px solid;
    border-color: var(--primary-color) var(--hover-color) var(--hover-color) var(--hover-color);
    box-sizing: border-box;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Tables */

.table td, .table th {
    border-style: none;
    --bs-table-striped-bg: var(--table-row-color);
}

/* DataTables */

table.dataTable.display tbody tr:nth-child(odd) > * {
    background-color: var(--table-row-color);
    box-shadow: none !important;
}

table.dataTable .selected {
    background-color: var(--table-selected-row-color);
    color: white;
}

table.dataTable .selected a {
    color: var(--table-selected-a-color);
}

table.dataTable .selected a:hover {
    color: white;
}

div.dt-container div.dt-processing > div > div {
    background: var(--primary-color) !important;
}

.truncate {
    max-width:200px;
    white-space: nowrap;
    overflow: overlay;
    text-overflow: ellipsis;
}

.truncate-3 {
	line-clamp: 3;
	-webkit-line-clamp: 3;
	text-overflow: ellipsis;
	hyphens: auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: overlay;
}

/* Selectize.js */

.atlas-select.home {
    max-width: 800px;
}

.atlas-select .highlight { /* Highlight phylum in atlas selection */
    background: rgba(255,237,40,.4);
    border-radius: 1px;
}

.atlas-select .selectize-dropdown {
    z-index: 1030; /* Bigger than Cell Atlas subnavbar */
}

.atlas-select .selectize-dropdown-content {
    max-height: 50vh;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup {
    /* transition: all 0.1s ease;*/
    /* word-break: break-word; */
    white-space: nowrap;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:has(.active) {
    min-width: 260px; /* Change width to display more info on selected option */
    white-space: wrap;
}

@media (max-width: 959px) {
    .selectize-dropdown.plugin-optgroup_columns {
        .optgroup {
            border-right: none;
            float: none;
        }
        .optgroup-header {
            border-top: none;
        }
    }
}

.species-meta {
    display: none;
}

.species-meta:has(.highlight) {
    display: inline-block;
}

.selectize-dropdown .selected {
    background-color: var(--primary-color);
}

.selectize-control::before {
    opacity: 0;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;

	-webkit-animation: none;
	animation: none;

	z-index: 2;
	position: absolute;
	display: block;

	top: 12px;
	right: 36px;
	width: 16px;
	height: 16px;

	/* SVG spinner from https://fontawesome.com/icons/spinner */
	content: "";
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M304 48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm0 416a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM48 304a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm464-48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM142.9 437A48 48 0 1 0 75 369.1 48 48 0 1 0 142.9 437zm0-294.2A48 48 0 1 0 75 75a48 48 0 1 0 67.9 67.9zM369.1 437A48 48 0 1 0 437 369.1 48 48 0 1 0 369.1 437z'/%3E%3C/svg%3E");
}

.selectize-input.focus {
    border: 1px solid #ced4da;
    box-shadow: none;
}

.selectize-input:focus-within {
    box-shadow: 0 0 0 0.25rem var(--hover-border-color);
}

.selectize-control.loading::before {
	opacity: 1;
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
}

.selectize-control.multi .selectize-input > div.active {
    background: var(--primary-color);
    color: #fff;
    border: 0 solid transparent;
}

.selectize-control.multi .selectize-input > div.active span.badge {
    background: var(--bs-tertiary-color) !important;
}

.selectize-control .remove {
    color: var(--hover-color);
}

.selectize-control div.active .remove {
    color: white;
}

.bca-search .selectize-input::after {
    display: none !important;
}

.bca-search .selectize-dropdown {
    width: 400px !important;
    left: auto !important;
    right: 0 !important;
    z-index: 1040;
}

.bca-search .selectize-dropdown-content {
    max-height: 80vh;
}

.bca-search input[type="search"] {
    width: 100% !important;
}

/* vega-embed fix to avoid button on top of other elements */

.vega-embed summary {
    z-index: 999 !important;
}

/* range-slider */

.irs--round .irs-handle {
    border: 4px solid var(--primary-color);
    box-shadow: 0 1px 3px var(--hover-color);
}

.irs--round .irs-bar, .irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
    background-color: var(--primary-color);
}

.irs--round .irs-from::before, .irs--round .irs-to::before, .irs--round .irs-single::before {
    border-top-color: var(--primary-color);
}

/* Manual fix for dropdown in btn-groups */
.flat-right-border {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/*a[rel="external"]:after {
    content: "\00a0\f08e";
    font-family: "Font Awesome 5 Free";
}*/

/* Footer */

footer h5 {
    font-weight: 800;
    color: var(--primary-color);
}

a.text-muted:hover {
    opacity: 0.5;
}
