/* Theme variables */

:root {
    --font: 'Rubik', sans-serif;
    --primary-color: #239184;
    --hover-color: #3bbcb2;

    --navbar-hover-color: #00000030;
    --navbar-hover-shadow-color: #00000080;
    --navbar-box-shadow: 0 0.5rem 1rem var(--navbar-hover-color);

    --subnavbar-bg-color: #FFFFFF80;
    --subnavbar-blur: blur(20px);

    --card-text-shadow: var(--navbar-hover-shadow-color);
    --dropdown-menu-color: var(--subnavbar-bg-color);
    --dropdown-menu-shadow: 0 5px 10px 5px #00000011;
    --dropdown-menu-blur: var(--subnavbar-blur);

    --table-row-color: #3bbcb222;
    --table-selected-row-color: var(--primary-color);
    --table-selected-a-color: var(--subnavbar-bg-color);
}

.pagination {
    --bs-pagination-color: var(--primary-color);
    --bs-pagination-active-color: white;
    --bs-pagination-hover-color: var(--hover-color);
    --bs-pagination-active-bg: var(--primary-color);
    --bs-pagination-active-border-color: var(--primary-color);
}

/* Navbar (and related fixes) */

html { /* Add padding to avoid navbar overlap when scrolling to URL hashes */
  scroll-padding-top: 60px;
}

.navbar {
    background: var(--primary-color);
    box-shadow: var(--navbar-box-shadow);
    margin-bottom: 20px;
}

.navbar .navbar-brand {
    font-weight: 1000;
    border-radius: 10px;
    padding: 5px 1px 5px 1px;
}

.navbar .navbar-brand:focus-visible {
    outline: none;
    background: var(--navbar-hover-color);
    box-shadow: 0px 0px 0px 2px var(--navbar-hover-shadow-color);
}

.navbar .nav-link {
    border-radius: 10px;
    margin: 1px;
}

.navbar .nav-link.active, .navbar .nav-link.active:hover {
    font-weight: 500;
    background: linear-gradient(135deg, var(--navbar-hover-color), var(--navbar-hover-shadow-color));
}

.navbar .nav-link:hover {
    background: var(--navbar-hover-color);
}

.navbar .nav-link:focus-visible {
    background: var(--navbar-hover-color);
    box-shadow: 0px 0px 0px 2px var(--navbar-hover-shadow-color);
}

.navbar .selectize-input.focus {
    border-color: var(--navbar-hover-shadow-color);
    box-shadow: 0px 0px 0px 2px var(--navbar-hover-shadow-color);
}

.navbar-toggler {
    border-color: var(--bs-navbar-toggler-icon-bg);
    border-width: 2px;
}

/* Subnavbar: navigation tabs (Cell Atlas) */

.subnavbar {
    top: 58px;
    background-color: var(--subnavbar-bg-color);
    backdrop-filter: var(--subnavbar-blur);
}

.nav-pills .nav-link {
    color: var(--primary-color);
}

.nav-pills .nav-link:hover {
    color: var(--hover-color);
}

.nav-pills .nav-link.disabled {
    color: var(--bs-nav-link-disabled-color);
}

.nav-pills .nav-link.active {
    color: white;
    background-color: var(--primary-color);
}

/* Body */

body {
    padding-top: 80px;
    font-family: var(--font);
}

.btn-xs {
    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background: var(--hover-color);
    border-color: var(--hover-color);
    border-color: white;
}

.btn-primary:active {
    background: var(--primary-color) !important;
    background-color: var(--primary-color) !important;
    border-color: white !important;
}

.btn-outline-primary {
    border-color: var(--primary-color) !important;
    color: var(--primary-color);
}

.btn-outline-primary:hover {
    border-color: var(--primary-color) !important;
    color: white;
    background-color: var(--hover-color);
}

.btn-outline-primary:active {
    border-color: var(--primary-color) !important;
    background-color: var(--primary-color) !important;
}

.btn.btn-outline-primary.dropdown-toggle.show {
    background-color: var(--primary-color);
}

.btn-check+.btn.btn-outline-primary:hover {
    color: var(--hover-color);
}

.btn-check:checked+.btn.btn-outline-primary {
    background-color: var(--primary-color);
    color: white;
}

.btn-check:checked+.btn.btn-outline-primary:hover {
    background-color: var(--hover-color);
    color: white;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--primary-color);
}

.card {
    text-decoration: none;
    transition: all 0.1s linear;
    text-shadow: 0 0 4px var(--card-text-shadow);
}

.card:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--hover-color);
}

.placeholder {
    display: inline-block;
    height: 1em;
    min-height: 0;
    vertical-align: middle;
    background-color: lightgray;
    opacity: 1;
    cursor: default;
}

.list-group-item.active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.list-group-item.active .text-body-secondary {
    color: white !important;
}

.upload-tooltip .tooltip-inner {
    max-width: 230px;
    width: 230px;
}

/* Dropdown menu */

.dropdown-menu {
    background: var(--dropdown-menu-color);
    backdrop-filter: var(--dropdown-menu-blur);
    box-shadow: var(--dropdown-menu-shadow);
}

/* Loading icon */

.loading-state {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border: 10px solid;
    border-color: var(--primary-color) var(--hover-color) var(--hover-color) var(--hover-color);
    box-sizing: border-box;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* DataTables */

table.dataTable.display tbody tr:nth-child(odd) > * {
    background-color: var(--table-row-color);
    box-shadow: none !important;
}

table.dataTable .selected {
    background-color: var(--table-selected-row-color);
    color: white;
}

table.dataTable .selected a {
    color: var(--table-selected-a-color);
}

table.dataTable .selected a:hover {
    color: white;
}

.truncate {
    max-width:200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Selectize.js */

.atlas-select .highlight { /* Highlight phylum in atlas selection */
    background: rgba(255,237,40,.4);
    border-radius: 1px;
}

.atlas-select .selectize-dropdown {
    z-index: 1030; /* Bigger than Cell Atlas subnavbar */
}

.atlas-select .selectize-dropdown-content {
    max-height: 50vh;
}

.species-meta {
    display: none;
}

.selectize-dropdown .selected {
    background-color: var(--primary-color);
}

.selectize-control::before {
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	content: ' ';
	z-index: 2;
	position: absolute;
	display: block;
	top: 6px;
	right: 36px;
	font-family: 'Font Awesome 5 Free';
	content: "\f110";
	opacity: 0;
	-webkit-animation: none;
	animation: none;
}

.selectize-control.loading::before {
	opacity: 1;
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
}

.bca-search .selectize-input::after {
    display: none !important;
}

.bca-search .selectize-dropdown {
    width: 400px !important;
    left: auto !important;
    right: 0 !important;
}

.bca-search .selectize-dropdown-content {
    max-height: 80vh;
}

.bca-search input[type="search"] {
    width: 100% !important;
}

/* vega-embed fix to avoid button on top of other elements */

.vega-embed summary {
    z-index: 999 !important;
}

/* range-slider */

.irs--round .irs-handle {
    border: 4px solid var(--primary-color);
    box-shadow: 0 1px 3px var(--hover-color);
}

.irs--round .irs-bar, .irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
    background-color: var(--primary-color);
}

.irs--round .irs-from::before, .irs--round .irs-to::before, .irs--round .irs-single::before {
    border-top-color: var(--primary-color);
}

/* Manual fix for dropdown in btn-groups */
.flat-right-border {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/*a[rel="external"]:after {
    content: "\00a0\f08e";
    font-family: "Font Awesome 5 Free";
}*/

/* Footer */

footer h5 {
    font-weight: 800;
    color: var(--primary-color);
}

a.text-muted:hover {
    opacity: 0.5;
}
